.dxb-codesnippet {
    position: relative;
    padding: 3px 5px;
    background: #494949;

    pre {
        background: transparent !important;
        padding: 0 !important;
        margin: 0 !important;
        border-radius: 0 !important;

        & > code {
            padding: 0 0 0 5px;
            //padding: 5px;
            background: transparent;
            border-radius: 0;
        }

        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            height: 6px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 3px;
        }
    }
}

.dxe-codesnippet-link {
    position: absolute;
    right: 10px;
    top: -16px;
    background: rgb(231, 231, 231);
    padding: 5px 10px;
    text-decoration: none;
    color: #376aff;
    z-index: 2000;

    opacity: 0;
    transition: opacity 1s;
    transition-delay: 0.2s;

    .dxb-codesnippet:hover > & {
        opacity: 1;
    }
}

.dxe-codesplit-right .dxb-codesnippet {
    background: transparent;
}

.dxe-codesplit-right .cxb-tab.cxm-code {
    @extend .cxb-tab.cxm-line;
    color: white;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    background: transparent;

    & > code {
        padding-left: 0;
    }
}
