.dxb-configtable {

    max-width: 50em;
    margin-top: 16px;
    position: relative;
    overflow-x: auto;

    table {
        border-collapse: collapse;
        min-width: 100%;
    }

    p {
        margin: 0;
    }

    th {
        text-align: left;
        padding-right: 10px;
    }

    td:first-child {
        background: #fbfbfb;
    }

    td:nth-child(2) {
        min-width: 300px;
    }

    td:nth-child(3) {
        //background: #fbfbfb;
        font: 12px monospace;
    }

    td {
        padding: 5px;
        border-top: 1px solid #ebebeb;
    }

    h4 {
        font: 14px monospace;
        margin: 0;
        padding: 0;
    }

    h4.dxs-important  {
        font-weight: bold;
    }

    h4.dxs-long {
        font-size: 11px;
    }
}


