.cxb-editongitx {
    max-width: calc(50em);
    position: relative;

    a {
        position: absolute;
        color: lightgray;
        text-decoration: none;
        right: 0;
        top: -20px;
        &:hover {
            color: gray;
        }
    }
}