.cxb-editongitx {
    max-width: calc(50em + 40px);
    position: relative;

    a {
        position: absolute;
        color: lightgray;
        text-decoration: none;
        right: 2em;
        top: -30px;
        &:hover {
            color: gray;
        }
    }
}