$border: darkgray;

.dxb-importpath {
    & > button {
        visibility: hidden;
        font-size: 10px;
        outline: none;
        vertical-align: middle;
        margin-left: 5;
        padding: 3px 3px;
        border:0px solid $border;
        border-radius: 3px;
    }
    &:hover > button{
        visibility: visible; 
    }

    & > button{
        border-left: 1px solid $border;
        background:#eee;
        cursor:pointer;
        width: 30px;
        height: 23px;
    }
    & > button:hover {
        background-color: lightgray;
    }
    & > button:active {
        background-color: #eee;
    }
}