$border: darkgray;

.dxb-importpath {
    & > input, button{outline: none;}

    .dxe-inputWithButton{
        display:inline-block;
        overflow:hidden;
        border:1px solid $border;
        border-radius: 3px;
    }
    .dxe-inputWithButton > *{
        vertical-align:top;
        border:0;
        margin:0;
        padding: 5px 5px;
    }
    .dxe-inputWithButton > input[type=text]{
        width:450px;
        font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    }
    .dxe-inputWithButton > button{
        border-left: 1px solid $border;
        background:#eee;
        cursor:pointer;
        width: 45px;
    }
    .dxe-inputWithButton > button:hover {
        background-color: lightgray;
    }
    .dxe-inputWithButton > button:active {
        background-color: #eee;
    }
    .dxe-inputWithButton > button::-moz-focus-inner {
        border: 0;
    }
}
