.dxb-importpath {
    position: relative;
    display: inline-block;

    & > code {
        background: none;
        color: lightgrey;
        padding: 0px;
        
        &:hover {
            color: grey;
            cursor: pointer;
        } 
        
        &:hover > i {
            visibility: visible;
        }  
    }
    // tooltip
    span {
        visibility: visible;
        white-space: nowrap;
        background-color: black;
        color: white;
        text-align: center;
        padding: 2px 0.5em;
        border-radius: 5px;
        vertical-align: middle;
        font-size: 0.9em;
 
        // position tooltip right
        position: absolute;
        z-index: 1;
        top: -2px;
        left: 100%;
        margin-left: 10px;
    }
    // tooltip left arrow
    span::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }

    & > code > i {
        float: right;
        vertical-align: middle;
        visibility: hidden; 
        margin-left: 3px;
        color: black;
        padding: 5px;
    }
}