@mixin cx-calendar(
   $name: 'calendar',
   $state-style-map: $cx-input-state-style-map,
   $width: $cx-default-input-width,
   $icon-size: $cx-default-icon-size,
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {
      @include cxe-field-input($besm, $state-style-map, $input: false);
      width: 18em;

      table {
         border-spacing: 0;
         width: 100%;
      }

      td, th {
         text-align: center;
         width: 2em;
         line-height: 2em;
      }

      td.#{$state}today {
         @include cx-add-state-rules($cx-calendar-state-style-map, today);

         &:hover {
            @include cx-add-state-rules($cx-calendar-state-style-map, hover)
         }
      }

      td.#{$state}outside {
         @include cx-add-state-rules($cx-calendar-state-style-map, outside)
      }

      td.#{$state}unselectable {
         @include cx-add-state-rules($cx-list-item, disabled)
      }

      td.#{$state}cursor, .#{$element}#{$name}-header td:hover {
         @include cx-add-state-rules($cx-list-item, hover);
         border-radius: $cx-default-border-radius;
      }

      td.#{$state}selected {
         @include cx-add-state-rules($cx-list-item, selected);
         border-radius: $cx-default-border-radius;
      }

      &:not(.#{$state}disabled) {
         td {
            cursor: pointer;
         }
      }

      td:first-child, td:last-child {
         display: none;
         pointer-events: none;
      }

      &:focus {

         td.#{$state}cursor, .#{$element}#{$name}-header td:hover {
            @include cx-add-state-rules($cx-list-item, hover-focus);

            &:active {
               @include cx-add-state-rules($cx-list-item, active)
            }
         }

         td.#{$state}selected {
            @include cx-add-state-rules($cx-list-item, selected-focus)
         }
      }

      &.#{$state}disabled {
         background-color: transparent;
         border-color: transparent;
         color: darken(#fff, 18);
         cursor: not-allowed;
      }
   }

   .#{$element}#{$name}-header td {
      line-height: 0;
   }

   .#{$element}#{$name}-icon-next-year,
   .#{$element}#{$name}-icon-prev-year,
   .#{$element}#{$name}-icon-prev-month,
   .#{$element}#{$name}-icon-next-month {
      width: $icon-size;
      height: $icon-size;
      display: inline-block;
      font-size: $icon-size;
      line-height: $icon-size;
   }

   .#{$element}#{$name}-icon-prev-year {
      transform: rotate(180deg);
   }
   .#{$element}#{$name}-icon-prev-month {
      transform: rotate(90deg);
   }
   .#{$element}#{$name}-icon-next-month {
      transform: rotate(-90deg);
   }
}

@if (cx-include('cx/widgets/Calendar')) {
   @include cx-calendar();
}