
@mixin cx-colorfield(
   $name: 'colorfield',
   $state-style-map: $cx-input-state-style-map,
   $placeholder: $cx-input-placeholder,
   $empty-text: $cx-empty-text,
   $clear-state-style-map: $cx-clear-state-style-map,
   $left-icon-state-style-map: $cx-input-left-icon-state-style-map,
   $right-icon-state-style-map: $cx-input-right-icon-state-style-map,
   $width: $cx-default-input-width,
   $icon-size: $cx-default-icon-size,
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);

   .#{$block}#{$name} {
      @include cxb-field($besm, $state-style-map,
         $width: $width
      );
   }

   $padding: cx-get-state-rule($state-style-map, default, 'padding');

   .#{$element}#{$name}-input {
      @include cxe-field-input(
         $besm,
         $state-style-map,
         $placeholder: $placeholder,
         $overrides: (
            default: (
               font-family: $cx-default-colorfield-font-family,
               font-size: 11px,
               padding: cx-top($padding) cx-calc(cx-right($padding), $cx-default-clear-size) cx-bottom($padding) cx-calc(2 * cx-left($padding), $cx-default-clear-size)
            )
         )
      );
   }

   .#{$element}#{$name}-clear {
      @include cxe-field-button($besm, $clear-state-style-map);
   }

   .#{$element}#{$name}-right-icon {
      @include cxe-field-button($besm, $right-icon-state-style-map);
   }

   .#{$element}#{$name}-left-icon {
      @include cxe-field-button($besm, $left-icon-state-style-map);
      @extend %cx-checker-bg;
      box-sizing: border-box;
      opacity: 1;

      div {
         width: 100%;
         height: 100%;
      }
   }

   .#{$element}#{$name}-icon {
      @include cxe-field-button-icon($besm, $icon-size);
   }

   .#{$element}#{$name}-empty-text {
      @include cxe-field-empty-text($empty-text);
   }
}

@if (cx-include('cx/widgets/ColorField')) {
   @include cx-colorfield();
}



