
@mixin cx-lookupfield(
   $name: 'lookupfield',
   $state-style-map: $cx-input-state-style-map,
   $placeholder: $cx-input-placeholder,
   $empty-text: $cx-empty-text,
   $left-icon-state-style-map: $cx-input-left-icon-state-style-map,
   $clear-state-style-map: $cx-clear-state-style-map,
   $tool-state-style-map: $cx-input-right-icon-state-style-map,
   $icon-size: $cx-default-input-icon-size,
   $width: $cx-default-input-width,
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$block}#{$name} {
      @include cxb-field($besm, $state-style-map,
         $width: $width,
         $input: false
      );

      min-width: $cx-default-input-width;
      cursor: pointer
   }

   $padding: cx-get-state-rule($state-style-map, default, padding);

   .#{$element}#{$name}-input {
      @include cxe-field-input(
         $besm,
         $state-style-map,
         $placeholder: $placeholder,
         $input: false,
         $overrides: (
            default: (
               padding: cx-top($padding) cx-calc(cx-right($padding), $cx-default-clear-size, $cx-default-input-tag-spacing) cx-bottom($padding) cx-left($padding)
            )
         )
      );
      
      .#{$state}multiple > & {
         padding: 0 cx-calc(cx-right($padding), $cx-default-clear-size, $cx-default-input-tag-spacing) $cx-default-input-tag-spacing 0;
      }
      
      .#{$state}icon > & {
         padding-left: cx-calc(2 * cx-left($padding), $icon-size);
      }
   }

   .#{$element}#{$name}-tag {
      background: $cx-default-button-background-color;
      display: inline-block;
      position: relative;
      margin: $cx-default-input-tag-spacing 0 0 $cx-default-input-tag-spacing;
      box-sizing: border-box;
      padding: cx-calc($cx-default-input-padding, -$cx-default-input-tag-spacing);
      padding-right: cx-calc($cx-default-clear-size, 2px);
      border-radius: $cx-default-border-radius;
   }

   .#{$element}#{$name}-placeholder {

      color: $cx-default-input-placeholder-color;

      .#{$block}#{$name}.#{$state}multiple & {
         display: inline-block;
         margin: $cx-default-input-tag-spacing 0 0 $cx-default-input-tag-spacing;
         box-sizing: border-box;
         padding: cx-calc($cx-default-input-padding, -$cx-default-input-tag-spacing);
      }
   }

   .#{$element}#{$name}-tag-value {
      padding: 0 $cx-default-input-tag-spacing;
      display: inline-block;
   }

   .#{$element}#{$name}-tag-clear {
      @include cxe-field-button($besm, $clear-state-style-map);
      right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
   }

   .#{$element}#{$name}-lookup-options {
      padding: 0;
      margin: 0;
      min-width: 100%;
      width: 100%;

      &:focus {
        @include cx-add-state-rules($cx-list, focus);
      }

      & > li {
         list-style: none;
         padding: 0.5em 1em;
         margin: 0;
         cursor: pointer;

         &.cursor {
            @include cx-add-state-rules($cx-list-item, hover-focus);
         }

         &.selected {
            @include cx-add-state-rules($cx-list-item, selected-focus);
         }
      }
   }

   .#{$element}#{$name}-query {
      @include cxe-field-input($besm, $state-style-map,
         $placeholder: $placeholder,
         $width: calc(100% - 10px),
         $overrides: (
            default: (
               margin: 5px,
               flex: 0 0 auto
            )
         )
      );

      //put query field down when placed up
      .#{$state}place-up-right &,
      .#{$state}place-up &,
      .#{$state}place-up-left & {
         order: 1;
      }
   }

   .#{$element}#{$name}-dropdown {
      display: flex;
      flex-direction: column;
      height: 100%;

      &:focus {
         outline: none;
      }
   }

   .#{$element}#{$name}-message {
      font-size: smaller;
      padding: 10px;
      color: gray;
      font-style: italic;

      &.#{$state}error {
         color: #9e2f2d;
      }
   }

   .#{$element}#{$name}-scroll-container {
      overflow: auto;
      flex: 1 1 auto;
   }

   .#{$element}#{$name}-clear {
      @include cxe-field-button($besm, $clear-state-style-map);
   }

   .#{$element}#{$name}-tool {
      @include cxe-field-button($besm, $tool-state-style-map);
   }

   .#{$element}#{$name}-left-icon {
      @include cxe-field-button($besm, $left-icon-state-style-map);
   }

   .#{$element}#{$name}-icon {
      @include cxe-field-button-icon($besm, $icon-size);
   }

   .#{$element}#{$name}-empty-text {
      @include cxe-field-empty-text($empty-text);
   }
}

@if (cx-include('cx/widgets/LookupField')) {
   @include cx-lookupfield();
}