
$cx-use-box-line-height-fix: true !default;

// Appearance
$cx-default-input-font-family: $cx-default-box-font-family !default;
$cx-default-input-border-color: $cx-default-border-color !default;
$cx-default-input-border-radius: $cx-default-border-radius !default;
$cx-default-input-background-color: white !default;
$cx-default-input-color: black !default;
$cx-default-input-placeholder-color: $cx-default-empty-text-color !default;
$cx-default-input-width: 180px !default;
$cx-default-input-padding: $cx-default-box-padding !default;

$cx-input-placeholder: (
   color: $cx-default-input-placeholder-color,
   opacity: 1
) !default;

$cx-input-state-style-map: (
   default: (
      line-height: $cx-default-box-line-height,
      padding: $cx-default-input-padding,
      border-width: $cx-default-box-border-width,
      font-size: $cx-default-box-font-size,
      font-family: $cx-default-input-font-family,
      border-color: $cx-default-input-border-color,
      border-style: solid,
      border-radius: $cx-default-input-border-radius,
      background-color: $cx-default-input-background-color,
      color: $cx-default-input-color,
      outline-offset: 0,
      box-shadow: none,
      -ms-appearance: none,
      -moz-appearance: none,
      -webkit-appearance: none
   ),
   hover: (

   ),

   focus: (
      border-color: rgba(77, 144, 254, 0.8),
      outline: none,
      box-shadow: 0 0 2px rgba(77, 144, 254, 0.8)
   ),

   disabled: (
      background: rgb(235, 235, 228),
      color: rgb(84, 84, 84)
   ),

   error: (
      border-color: rgba(220, 0, 9, 0.8)
   ),

   error-focus: (
      box-shadow: 0 0 2px rgba(220, 0, 9, 0.8)
   )
) !default;

$cx-default-input-tag-spacing: 3px !default;
$cx-default-checkbox-size: 14px !default;
$cx-default-radio-size: 14px !default;
$cx-default-input-icon-size: $cx-default-icon-size !default;


// Tool
$cx-default-input-tool-size: 20px !default;

$cx-input-tool-state-style-map: (
   default: (
      font-size: $cx-default-icon-size,
      right: $cx-default-box-padding,
      top: 50%,
      margin-top: -$cx-default-input-tool-size / 2,
      height: $cx-default-input-tool-size,
      width: $cx-default-input-tool-size,
      line-height: $cx-default-input-tool-size,
      opacity: 0.7,
      text-align: center
   ),
   hover: (
      opacity: 1
   ),
   active: (

   )
) !default;


// Clear

$cx-default-clear-size: $cx-default-input-tool-size !default;
$cx-default-clear-color: gray !default;
$cx-default-clear-background-hover: rgba(128, 128, 128, 0.2) !default;

$cx-clear-state-style-map: (
   default: (
      font-size: $cx-default-icon-size,
      right: $cx-default-box-padding,
      top: 50%,
      margin-top: -$cx-default-clear-size / 2,
      height: $cx-default-clear-size,
      width: $cx-default-clear-size,
      line-height: $cx-default-clear-size,
      color: $cx-default-clear-color,
      border-radius: $cx-default-border-radius,
      text-align: center
   ),
   hover: (
      background-color: $cx-default-clear-background-hover
   ),
   active: (

   )
) !default;


// Label

$cx-default-label-padding: $cx-default-box-padding 0 !default;
$cx-default-label-font-size: $cx-default-box-font-size !default;
$cx-default-label-font-family: $cx-default-box-font-family !default;
$cx-default-label-line-height: $cx-default-box-line-height !default;
$cx-default-label-color: null !default;
$cx-default-label-asterisk-color: #a80000 !default;

$cx-label-state-style-map: (
   default: (
      padding: $cx-default-label-padding,
      font-size: $cx-default-label-font-size,
      font-family: $cx-default-label-font-family,
      line-height: $cx-default-label-line-height,
      color: $cx-default-label-color,
      border-style: solid,
      border-width: cx-top($cx-default-box-border-width) 0 cx-bottom($cx-default-box-border-width) 0,
      border-color: transparent
   ),
   hover: (

   ),
   active: (

   )
) !default;


// CALENDAR
$cx-calendar-state-style-map: (
   today: (
      background-color: rgba(220, 250, 183, 0.5),
      border-radius: $cx-default-border-radius
   ),
   today-hover: (
      
   ),
   outside: (
      color: lightgray
   )
) !default;

// COLORFIELD
$cx-default-colorfield-font-family: 'Consolas', monospace;

// MONTHPICKER
$cx-default-monthpicker-font-size: smaller !default;

// SLIDER
$cx-default-slider-axis-background-color: rgba(128, 128, 128, 0.2) !default;
$cx-default-slider-range-background-color: #98d4ff !default;
$cx-slider-handle-styles: (
   default: (
      margin: -8px 0 0 -8px,
      padding: 0,
      width: 16px,
      height: 16px,
      background: rgb(235, 235, 235),
      border: 1px solid rgb(204, 204, 204),
      border-radius: 50%,
      box-shadow: 0 0 3px rgba(128, 128, 128, 0.3)
   ),
   hover: (
      box-shadow: 0 0 3px rgba(128, 128, 128, 0.5)
   ),
   focus: (

   ),
   disabled: (

   ),
   active: (
      background: rgb(220, 220, 220)
   )
) !default;

// TEXTAREA
$cx-default-textarea-width: 300px !default;