
@import "layout/index";
@import "components/index";
@import "routes/index";

.cxb-tab-container {
   white-space: nowrap;
   flex-shrink: 0;
   overflow-x: auto;
   overflow-y: hidden;

   &.cxm-classic {
      padding: 0 1.5rem;
   }
}