@use "sass:map";
@use "sass:color";

// 1. Load theme variables FIRST (configures cx variables)
@use "./variables.scss" as *;

// 2. Load theme maps (configures cx maps)
@use "./maps.scss" as *;

// 3. Load theme functions
@use "./functions.scss" as *;

// 4. NOW load cx/src/index which generates CSS using configured values
@use "cx/src/index" as *;

// 5. Load include utilities for conditional CSS
@use "cx/src/util/scss/include" as *;

$block: map.get($cx-besm, block);
$element: map.get($cx-besm, element);
$state: map.get($cx-besm, state);
$mod: map.get($cx-besm, mod);

// 6. Component-specific overrides
@if (cx-included("cx/widgets/Tab")) {
   //TAB
   .#{$block}tab.#{$mod}classic {
      &:first-child {
         border-left-width: 1px;
         border-left-color: var(--cx-theme-border-color);
      }
   }
}

@if (cx-included("cx/widgets/Calendar")) {
   .#{$block}calendar.#{$mod}dropdown {
      --cx-calendar-border-width: 0;
   }
}

@if (cx-included("cx/widgets/MonthPicker")) {
   .#{$block}monthpicker.#{$mod}dropdown {
      --cx-monthpicker-border-width: 0;
   }
}

@if (cx-included("cx/widgets/ColorPicker")) {
   .#{$block}colorpicker.#{$mod}dropdown {
      --cx-colorpicker-border-width: 0;
   }
}

@if (cx-included("cx/widgets/List")) {
   .#{$block}list.#{$mod}bordered,
   .#{$block}list.#{$mod}dropdown {
      border-radius: var(--cx-theme-border-radius);

      > .#{$element}list-item:first-child {
         border-top-left-radius: var(--cx-theme-border-radius);
         border-top-right-radius: var(--cx-theme-border-radius);
      }

      > .#{$element}list-item:last-child {
         border-bottom-left-radius: var(--cx-theme-border-radius);
         border-bottom-right-radius: var(--cx-theme-border-radius);
      }
   }
}

@if (cx-included("cx/widgets/Grid")) {
   .#{$element}grid-data:last-child {
      border-bottom-left-radius: var(--cx-grid-border-radius);
   }

   .#{$element}grid-header {
      --cx-input-padding-x: calc(var(--cx-grid-header-padding-x) - 1px);
      --cx-input-padding-y: calc(var(--cx-grid-header-padding-y) - 1px);
   }

   .#{$element}grid-data .#{$block}checkbox {
      --cx-input-padding-x: calc(var(--cx-grid-data-padding-x) - 1px);
      --cx-input-padding-y: calc(var(--cx-grid-data-padding-y) - 1px);
   }
}
