@use "sass:map";
@use "sass:color";

// 1. Load theme variables FIRST (configures cx variables)
@use "./variables.scss" as *;

// 2. Load theme maps (configures cx maps)
@use "./maps.scss" as *;

// 3. Load theme functions
@use "./functions.scss" as *;

// 4. NOW load cx/src/index which generates CSS using configured values
@use "cx/src/index" as *;

// 5. Load include utilities for conditional CSS
@use "cx/src/util/scss/include.scss" as *;

$block: map.get($cx-besm, block);
$element: map.get($cx-besm, element);
$state: map.get($cx-besm, state);
$mod: map.get($cx-besm, mod);

@if (cx-included("cx/widgets/Section")) {
   // SECTION
   $section-mods: primary success error warning;

   @for $i from 1 through 6 {
      .#{$element}section-header h#{$i} {
         .#{$mod}card & {
            color: var(--cx-theme-primary-text-color);
         }

         @each $item in $section-mods {
            .#{$mod}#{$item} & {
               color: white;
            }
         }
      }
   }

   .#{$element}section-header.#{$element}section-header {
      color: var(--cx-theme-primary-color);
      font-weight: normal;
      border: none;
      padding: 1em 1em 0;
      margin: 0;

      .cxm-pad > & {
         border: none;
      }
   }
}

@if (cx-included("cx/widgets/Button")) {
   // BUTTON
   .#{$block}button {
      // Overrides tap color effect for mobile devices
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

      // Aligns float button icon in the center
      &.cxm-float .#{$element}button-icon {
         left: (
               $cx-default-box-line-height +
                  2 *
                  ($cx-default-box-padding + 1px) +
                  10px -
                  $cx-default-icon-size
            ) *
            0.5;
      }
   }
}

@if (cx-included("cx/widgets/Select")) {
   // Select
   .cxb-select option {
      color: var(--cx-theme-color);
      background-color: rgba(0, 0, 0, 0.02);
   }
}

@if (cx-included("cx/widgets/Calendar")) {
   .#{$block}calendar {
      td {
         border-radius: var(--cx-theme-border-radius);
      }

      .#{$element}calendar-day-names {
         color: var(--cx-theme-primary-text-color);

         th {
            font-size: 11px;
            font-weight: 500;
         }
      }

      // Monthpicker
      td.#{$state}unselectable {
         filter: blur(1.5px);
         border-radius: 0;
      }
   }
}

@if (cx-included("cx/widgets/MonthPicker")) {
   // Monthpicker
   .#{$block}monthpicker {
      background: var(--cx-theme-surface-color);

      .#{$element}monthpicker-year {
         font-weight: 500;
      }
   }
}

@if (cx-included("cx/widgets/ColorPicker")) {
   // Colorpicker
   .#{$block}colorpicker {
      input {
         box-shadow: none;
         background-color: var(--cx-theme-background-color);
         border-width: 0 0 1px;
         border-color: var(--cx-theme-border-color);
         border-radius: 0;
         padding: 2px 0;

         &:focus {
            box-shadow: none;
         }
      }
   }
}

@if (cx-included("cx/widgets/Switch")) {
   // Switch axis border
   .#{$element}switch-axis {
      border: 1px solid var(--cx-theme-border-color-light);
   }
}

@if (cx-included("cx/widgets/Tab")) {
   // TAB
   .#{$block}tab.#{$mod}classic {
      &:first-child {
         border-left-width: 1px;
         border-left-color: var(--cx-theme-border-color);
      }
   }

   .#{$block}classic-tab-container {
      background-color: var(--cx-theme-primary-color);
      box-shadow: var(--cx-theme-box-shadow);
      height: 2 * $cx-default-box-padding + $cx-default-box-line-height + 2px;
      padding: 0;
      margin-bottom: 3px;
      white-space: nowrap;
      flex-shrink: 0;
   }

   .#{$block}tab.cxm-classic {
      height: 100%;

      &:first-child {
         border-radius: 2px 0 0 2px;
      }
      &:last-child {
         border-radius: 0 2px 2px 0;
      }
   }

   .#{$block}tab {
      position: relative;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   }
}

@if (cx-included("cx/widgets/Window")) {
   .#{$block}window {
      &.#{$state}animate {
         opacity: 0;
         transform: scale(0.95);
         transition:
            opacity 0.15s ease-out,
            transform 0.15s ease-out;
      }

      &.#{$state}animated {
         opacity: 1;
         transform: none;
         transition:
            opacity 0.2s ease-out,
            transform 0.2s ease-out;
      }
   }

   .#{$element}window-shadow {
      &.#{$state}animate {
         opacity: 0;
         transition: opacity 0.15s ease-out;
      }

      &.#{$state}animated {
         opacity: 1;
      }
   }
}

@if (cx-included("cx/widgets/Menu")) {
   .#{$block}menu {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

      // Menu focus animation
      .#{$state}focusable > .#{$block}menuitem {
         padding-top: 0;
         padding-bottom: 0;
      }
   }

   .#{$block}menu .#{$element}menu-item > hr {
      margin: $cx-default-padding-medium 0;
   }

   .cxs-vertical > .cxe-menuitem-arrow {
      transform-origin: 6px;
   }
}

@if (cx-included("cx/widgets/Grid")) {
   .#{$element}grid-fixed-header {
      // Shadow added to fixed header
      box-shadow: 0 1px 0 var(--cx-theme-grid-header-border-color);
   }

   // Grid header border removed
   .#{$state}header-default .#{$element}grid-col-header:not(:last-child) {
      border-right-width: 0;
   }

   // Group grid styling
   .#{$element}grid-group-caption {
      td {
         background-color: rgba(0, 0, 0, 0.02);
         border-bottom: 1px solid var(--cx-theme-grid-data-border-color);
      }

      @for $i from 2 through 4 {
         &.#{$state}level-#{$i} {
            td {
               border-bottom: 1px solid var(--cx-theme-grid-data-border-color);
               font-weight: 600;
               background-color: rgba(0, 0, 0, 0.02 + 0.02 * $i);
            }
         }
      }
   }

   .#{$element}grid-group-footer {
      @for $i from 2 through 4 {
         &.#{$state}level-#{$i} {
            td {
               border-width: 1px 0;
               border-color: var(--cx-theme-grid-data-border-color);
            }
         }
      }
   }

   // Grid checkbox margin corrected
   .#{$block}grid {
      .#{$block}checkbox {
         padding: 0;
      }
      .#{$element}grid-col-header-tool {
         .#{$block}checkbox {
            padding: $cx-default-container-padding + 2px;
         }
      }
   }

   // Grid shadow mod
   .#{$block}grid.#{$mod}shadow {
      box-shadow: var(--cx-theme-box-shadow);
      border-width: 0 !important;
   }
}

@if (cx-included("cx/widgets/List")) {
   // LIST
   .#{$block}list.#{$state}selectable {
      > .#{$element}list-item {
         border-width: 1px;
         border-color: transparent transparent rgba(0, 0, 0, 0.08);
      }
   }
}

// SCROLLBAR
@if ($cx-include-global-rules) {
   @media screen and (min-width: 700px) {
      ::-webkit-scrollbar {
         width: 10px;
         height: 10px;
         background-color: rgba(0, 0, 0, 0.04);
      }
      ::-webkit-scrollbar-thumb {
         -webkit-border-radius: 0;

         &:vertical {
            background-color: rgba(0, 0, 0, 0.12);
            &:hover {
               background-color: rgba(0, 0, 0, 0.2);
            }
         }

         &:horizontal {
            background-color: rgba(0, 0, 0, 0.12);
            &:hover {
               background-color: rgba(0, 0, 0, 0.2);
            }
         }
      }
      ::-webkit-scrollbar-corner {
         background-color: rgba(0, 0, 0, 0.04);
      }
   }
}

@if (cx-included("cx/widgets/Dropdown")) {
   .cxb-dropdown {
      animation: drop-appear 0.1s ease-out;
   }

   @keyframes drop-appear {
      from {
         transform: translateY(-10px);
         opacity: 0;
         pointer-events: none;
      }

      to {
         transform: none;
         opacity: 1;
      }
   }
}
