@forward "cx/src/maps";
@use "sass:color";
@use "./variables.scss" as *;
@use "cx/src/maps" as *;
@use "cx/src/util/scss/deep-merge" as *;

// =============================================================================
// VARIABLE MAPS - Using CSS Variables where possible
// =============================================================================

// LIST
$cx-list-item: cx-deep-map-merge(
   $cx-list-item,
   (
      default: (
         color: inherit,
         padding: round(1.5 * $cx-default-box-padding) 0,
         font-size: $cx-default-box-font-size - 1px,
      ),
      hover: (
         background-color: rgba(0, 0, 0, 0.04),
      ),
      cursor: (
         background-color: rgba(0, 0, 0, 0.08),
      ),
      selected: (
         background-color: rgba(0, 0, 0, 0.12),
         color: var(--cx-theme-primary-text-color),
      ),
      selected-hover: (
         background-color: rgba(0, 0, 0, 0.16),
         color: var(--cx-theme-primary-text-color),
      ),
      selected-cursor: (
         background-color: rgba(0, 0, 0, 0.16),
         color: var(--cx-theme-primary-text-color),
      ),
      disabled: (
         background-color: transparent,
         color: rgba(0, 0, 0, 0.38),
      ),
   )
);

// BUTTON
$cx-button-state-style-map: cx-deep-map-merge(
   $cx-button-state-style-map,
   (
      default: (
         transition: var(--cx-theme-transition),
      ),
      hover: (
         background-color: #e0e0e0,
         border-color: #bdbdbd,
      ),
      focus: (
         box-shadow: var(--cx-theme-focus-box-shadow),
      ),
      active: (
         background-color: #d5d5d5,
         box-shadow: none,
      ),
      disabled: (
         color: rgba(0, 0, 0, 0.38),
         background-color: rgba(0, 0, 0, 0.12),
         border-color: transparent,
      ),
   )
);

// Button mods
$cx-button-mods: cx-deep-map-merge(
   $cx-button-mods,
   (
      primary: (
         default: (
            transition: var(--cx-theme-transition),
            color: white,
            background-color: var(--cx-theme-primary-color),
            border-color: var(--cx-theme-primary-color-dark),
         ),
         hover: (
            background-color: var(--cx-theme-primary-color-light),
         ),
         focus: (
            box-shadow: var(--cx-theme-focus-box-shadow),
         ),
         active: (
            background-color: var(--cx-theme-primary-color-dark),
         ),
         disabled: (
            box-shadow: none,
            border-color: transparent,
            color: rgba(255, 255, 255, 0.5),
            background-color: rgba(0, 0, 0, 0.3),
         ),
      ),
      rounded: (
         default: (
            border-radius: 999px,
         ),
      ),
      danger: (
         default: (
            transition: var(--cx-theme-transition),
            color: white,
            background-color: var(--cx-theme-danger-color),
            border-color: var(--cx-theme-danger-color-dark),
         ),
         hover: (
            background-color: #e53935,
         ),
         focus: (
            box-shadow: 0 0 0 2px rgba(211, 47, 47, 0.3),
         ),
         active: (
            background-color: var(--cx-theme-danger-color-dark),
         ),
         disabled: (
            box-shadow: none,
            border-color: transparent,
            color: rgba(255, 255, 255, 0.5),
            background-color: rgba(211, 47, 47, 0.5),
         ),
      ),
      flat-primary: (
         default: (
            color: var(--cx-theme-primary-text-color),
            background-color: transparent,
            border-color: transparent,
            box-shadow: none,
         ),
         hover: (
            background-color: rgba(0, 0, 0, 0.04),
            box-shadow: none,
            border-color: transparent,
         ),
         focus: (
            background-color: rgba(0, 0, 0, 0.08),
            box-shadow: none,
         ),
         active: (
            background-color: rgba(0, 0, 0, 0.12),
         ),
         disabled: (
            color: rgba(0, 0, 0, 0.38),
         ),
      ),
      flat-accent: (
         default: (
            font-size: 14px,
            color: var(--cx-theme-secondary-text-color),
            background-color: transparent,
            border-color: transparent,
            box-shadow: none,
         ),
         hover: (
            background-color: rgba(0, 0, 0, 0.04),
            box-shadow: none,
            border-color: transparent,
         ),
         focus: (
            background-color: rgba(0, 0, 0, 0.08),
            box-shadow: none,
         ),
         active: (
            background-color: rgba(0, 0, 0, 0.12),
         ),
         disabled: (
            color: rgba(0, 0, 0, 0.38),
         ),
      ),
      hollow: (
         default: (
            background-color: transparent,
            border-color: var(--cx-theme-border-color),
         ),
         hover: (
            background-color: rgba(0, 0, 0, 0.04),
         ),
         focus: (
            background-color: rgba(0, 0, 0, 0.08),
            box-shadow: var(--cx-theme-focus-box-shadow),
         ),
         active: (
            background-color: rgba(0, 0, 0, 0.12),
         ),
         disabled: (
            color: rgba(0, 0, 0, 0.38),
            border-color: rgba(0, 0, 0, 0.12),
         ),
      ),
      float: (
         default: (
            color: var(--cx-theme-color),
            background-color: var(--cx-theme-accent-color),
            border-radius: 50%,
            box-shadow: var(--cx-theme-box-shadow-elevated),
            padding: 0,
            border-color: transparent,
         ),
         hover: (
            background-color: #bdbdbd,
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
         ),
         focus: (
            background-color: #9e9e9e,
         ),
         active: (
            background-color: #757575,
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3),
         ),
         disabled: (
            box-shadow: none,
            border-color: transparent,
            color: rgba(0, 0, 0, 0.38),
            background-color: rgba(0, 0, 0, 0.12),
         ),
      ),
      big: (
         default: (
            padding: $cx-default-padding-medium 2 * $cx-default-padding-medium,
         ),
      ),
   )
);

// TAB
$cx-tab-state-style-map: cx-deep-map-merge(
   $cx-tab-state-style-map,
   (
      default: (
         line-height: $cx-default-box-line-height,
      ),
      cursor: (
         background-color: rgba(0, 0, 0, 0.08),
         outline: none,
      ),
      selected: (
         background-color: var(--cx-theme-primary-color),
         color: white,
         font-weight: $cx-default-tab-font-weight,
      ),
      selected-cursor: (
         color: white,
         background-color: var(--cx-theme-primary-color-light),
      ),
      active: (
         color: var(--cx-theme-primary-color),
         background-color: $cx-default-tab-background-color,
      ),
      disabled: (
         background-color: $cx-default-tab-background-color,
         color: rgba(0, 0, 0, 0.38),
      ),
   )
);

// Tab mods
$cx-tab-mods: cx-deep-map-merge(
   $cx-tab-mods,
   (
      classic: (
         default: (
            line-height: $cx-default-box-line-height - 2px,
            border-bottom-width: 0,
            border-left-width: 0,
            border-color: var(--cx-theme-border-color),
            box-shadow: none,
            border-radius: 0,
         ),
         hover: (
            color: var(--cx-theme-primary-text-color),
            background-color: rgba(0, 0, 0, 0.04),
         ),
         cursor: (
            background-color: rgba(0, 0, 0, 0.08),
            color: var(--cx-theme-primary-text-color),
            outline: none,
         ),
         selected: (
            color: var(--cx-theme-primary-text-color),
            font-weight: $cx-default-tab-font-weight,
            background-color: white,
            border-top-color: var(--cx-theme-primary-color),
            box-shadow: inset 0 2px var(--cx-theme-primary-color),
         ),
         selected-cursor: (
            color: var(--cx-theme-primary-text-color),
            background-color: transparent,
         ),
         active: (
            background-color: $cx-default-tab-background-color,
         ),
         disabled: (
            background-color: $cx-default-tab-background-color,
            color: rgba(0, 0, 0, 0.38),
         ),
      ),
      line: (
         default: (
            border-bottom-width: 2px,
            line-height: $cx-default-box-line-height - 4px,
            padding: $cx-default-box-padding 0,
            margin: 0 15px,
         ),
         selected: (
            box-shadow: none,
            color: var(--cx-theme-primary-text-color),
            font-weight: $cx-default-tab-font-weight,
            border-color: var(--cx-theme-primary-color),
            background-color: transparent,
         ),
         hover: (
            border-color: transparent,
            color: var(--cx-theme-primary-text-color),
            background-color: transparent,
         ),
         cursor: (
            color: var(--cx-theme-color-light),
            font-weight: $cx-default-tab-font-weight,
            border-color: rgba(0, 0, 0, 0.2),
            background-color: transparent,
         ),
         selected-cursor: (
            color: var(--cx-theme-primary-text-color),
            font-weight: $cx-default-tab-font-weight,
            border-color: var(--cx-theme-primary-color-light),
            background-color: transparent,
         ),
      ),
      line-accent: (
         default: (
            color: rgba(255, 255, 255, 0.7),
            border-left-color: transparent,
            border-right-color: transparent,
            border-top-color: transparent,
            border-left-width: 0,
            border-right-width: 0,
            border-bottom-width: 2px,
            border-top-width: 0,
            border-bottom-left-radius: 0,
            border-bottom-right-radius: 0,
         ),
         hover: (
            border-color: rgba(255, 255, 255, 0.3),
            background-color: transparent,
         ),
         cursor: (
            background-color: transparent,
            border-color: rgba(255, 255, 255, 0.3),
            color: rgba(255, 255, 255, 0.8),
         ),
         selected: (
            color: white,
            background-color: transparent,
            border-color: var(--cx-theme-accent-color),
         ),
         selected-cursor: (
            border-color: var(--cx-theme-accent-color),
         ),
         disabled: (
            color: rgba(255, 255, 255, 0.3),
         ),
      ),
   )
);

// SECTION
$cx-section-mods: cx-deep-map-merge(
   $cx-section-mods,
   (
      card: (
         default: (
            background-color: var(--cx-theme-surface-color),
            border-radius: var(--cx-theme-border-radius),
            box-shadow: var(--cx-theme-box-shadow),
         ),
      ),
      primary: (
         default: (
            color: white,
            background-color: var(--cx-theme-primary-color),
            border-radius: var(--cx-theme-border-radius),
            box-shadow: var(--cx-theme-box-shadow),
         ),
      ),
      success: (
         default: (
            box-shadow: var(--cx-theme-box-shadow),
         ),
      ),
      warning: (
         default: (
            box-shadow: var(--cx-theme-box-shadow),
         ),
      ),
      error: (
         default: (
            box-shadow: var(--cx-theme-box-shadow),
         ),
      ),
   )
);

// MENU
$cx-dropdown-styles: map-merge(
   $cx-dropdown-styles,
   (
      font-size: $cx-default-box-font-size - 1px,
      font-weight: 400,
      border-width: 1px,
      border-style: solid,
      border-color: var(--cx-theme-border-color-light),
      box-shadow: var(--cx-theme-box-shadow-elevated),
   )
);

$cx-menu-state-style-map: map-merge(
   $cx-menu-state-style-map,
   (
      default: (
         color: inherit,
      ),
   )
);

// WINDOW
$cx-window-state-style-map: cx-deep-map-merge(
   $cx-window-state-style-map,
   (
      default: (
         background: var(--cx-theme-surface-color),
         border-radius: var(--cx-theme-border-radius),
         box-shadow: var(--cx-theme-box-shadow-elevated),
      ),
   )
);

// Window header
$cx-window-header-state-style-map: cx-deep-map-merge(
   $cx-window-header-state-style-map,
   (
      default: (
         border-top-left-radius: var(--cx-theme-border-radius),
         border-top-right-radius: var(--cx-theme-border-radius),
      ),
      hover: (
         border-color: var(--cx-theme-grid-header-border-color),
      ),
   )
);

// Window body
$cx-window-body-state-style-map: cx-deep-map-merge(
   $cx-window-body-state-style-map,
   (
      default: (
         background: null,
      ),
   )
);

// Window footer
$cx-window-footer-state-style-map: cx-deep-map-merge(
   $cx-window-footer-state-style-map,
   (
      default: (
         background: null,
         margin: 0 1.5rem,
         padding: 1rem 0,
         border-top: none,
      ),
   )
);

// Window mods
$cx-window-mods: (
   alert: (
      frame: (
         font-size: 16px,
         color: var(--cx-theme-secondary-text-color),
      ),
      body: (
         padding: 24px 24px 20px,
         text-align: left,
      ),
      footer: (
         border-top: none,
         padding: 8px 0,
      ),
   ),
);

// TOAST
$cx-toast-mods: cx-deep-map-merge(
   $cx-toast-mods,
   (
      dark: (
         default: (
            color: white,
            background-color: #333,
         ),
      ),
      primary: (
         default: (
            color: white,
            background-color: var(--cx-theme-primary-color),
         ),
      ),
   )
);

// GRID
$cx-grid-header-state-style-map: cx-deep-map-merge(
   $cx-grid-header-state-style-map,
   (
      default: (
         background-color: var(--cx-theme-grid-header-background-color),
      ),
      hover: (
         background-color: #f0f0f0,
      ),
      sorted: (
         color: var(--cx-theme-primary-text-color),
         background-color: #e8e8e8,
      ),
      sorted-hover: (
         background-color: #e0e0e0,
      ),
   )
);

$cx-grid-data-state-style-map: cx-deep-map-merge(
   $cx-grid-data-state-style-map,
   (
      hover: (
         background-color: rgba(0, 0, 0, 0.04),
         color: var(--cx-theme-color),
      ),
      cursor: (
         background-color: rgba(0, 0, 0, 0.08),
      ),
      selected: (
         background-color: rgba(0, 0, 0, 0.12),
      ),
      selected-hover: (
         background-color: rgba(0, 0, 0, 0.16),
         color: var(--cx-theme-primary-text-color),
      ),
      selected-cursor: (
         background-color: rgba(0, 0, 0, 0.16),
      ),
      disabled: (
         background-color: transparent,
      ),
   )
);

// Grid pagination
$cx-grid-pagination-state-style-map: cx-deep-map-merge(
   $cx-list-item,
   (
      default: (
         border-color: transparent,
         border-radius: var(--cx-theme-border-radius),
         padding: $cx-default-box-padding,
      ),
      active: (
         color: var(--cx-theme-primary-color-dark),
      ),
      cursor: (),
      selected-cursor: (
         box-shadow: var(--cx-theme-box-shadow),
         background-color: var(--cx-theme-primary-color),
         color: white,
      ),
      selected: (
         background-color: var(--cx-theme-primary-color),
         color: white,
      ),
   )
);

// FORM
// Global inputs
$cx-input-state-style-map: cx-deep-map-merge(
   $cx-input-state-style-map,
   (
      focus: (
         border-color: var(--cx-theme-primary-color),
         box-shadow: var(--cx-theme-focus-box-shadow),
      ),
   )
);

// Standard form field
$cx-std-field-state-style-map: cx-deep-map-merge(
   $cx-input-state-style-map,
   (
      default: (
         box-shadow: none,
         transition: var(--cx-theme-transition),
      ),
      hover: (),
      focus: (
         box-shadow: var(--cx-theme-focus-box-shadow),
         background-color: white,
      ),
      disabled: (
         color: rgba(0, 0, 0, 0.38),
         background-color: rgba(0, 0, 0, 0.04),
         box-shadow: none,
         border-color: rgba(0, 0, 0, 0.12),
      ),
      error: (
         background-color: #ffebee,
         border-color: var(--cx-theme-danger-color),
      ),
      error-focus: (
         border-color: var(--cx-theme-danger-color-dark),
         box-shadow: 0 0 0 2px rgba(211, 47, 47, 0.3),
      ),
   )
);

// Textarea
$cx-textarea-state-style-map: cx-deep-map-merge(
   $cx-std-field-state-style-map,
   (
      default: (
         border-color: var(--cx-theme-input-border-color),
      ),
      focus: (
         box-shadow: var(--cx-theme-focus-box-shadow),
      ),
      hover: (),
   )
);

// Calendar
$cx-calendar-state-style-map: cx-deep-map-merge(
   $cx-calendar-state-style-map,
   (
      default: (
         padding: 5px,
      ),
      focus: (
         box-shadow: var(--cx-theme-box-shadow-elevated),
         border-color: var(--cx-theme-border-color-light),
      ),
   )
);

// Calendar days
$cx-calendar-day-state-style-map: cx-deep-map-merge(
   $cx-calendar-day-state-style-map,
   (
      default: (
         height: 32px,
         line-height: 32px,
         width: 32px,
         font-weight: normal,
      ),
      hover-focus: (
         background-color: rgba(0, 0, 0, 0.08),
      ),
      hover: (
         background-color: rgba(0, 0, 0, 0.08),
      ),
      today: (
         background-color: rgba(0, 0, 0, 0.08),
         font-weight: bold,
      ),
      selected: (
         background-color: var(--cx-theme-primary-color),
         color: white,
         box-shadow: var(--cx-theme-box-shadow),
      ),
      selected-focus: (
         background-color: var(--cx-theme-primary-color-light),
         box-shadow: var(--cx-theme-box-shadow-elevated),
      ),
   )
);

// Date time picker
$cx-wheel-selection-state-style-map: cx-deep-map-merge(
   $cx-wheel-selection-state-style-map,
   (
      default: (
         border-color: transparent,
         background-color: rgba(0, 0, 0, 0.08),
         border-radius: var(--cx-theme-border-radius),
      ),
      active: (
         border-color: transparent,
         background-color: rgba(0, 0, 0, 0.12),
      ),
   )
);

// Checkbox
$cx-checkbox-state-style-map: cx-deep-map-merge(
   $cx-checkbox-state-style-map,
   (
      default: (
         opacity: 1,
      ),
      hover: (
         border-color: var(--cx-theme-border-color),
      ),
      focus: (
         box-shadow: var(--cx-theme-focus-box-shadow),
         border-color: var(--cx-theme-primary-color),
      ),
      checked: (
         background-color: var(--cx-theme-primary-color),
         border-color: var(--cx-theme-primary-color),
         color: white,
         opacity: 1,
      ),
      checked-focus: (
         background-color: var(--cx-theme-primary-color-dark),
         border-color: var(--cx-theme-primary-color-dark),
      ),
      disabled: (
         background-color: transparent,
         border-color: rgba(0, 0, 0, 0.26),
      ),
      disabled-checked: (
         background-color: rgba(0, 0, 0, 0.26),
         border-color: transparent,
      ),
   )
);

// Radio
$cx-radio-state-style-map: cx-deep-map-merge(
   $cx-radio-state-style-map,
   (
      checked: (
         color: var(--cx-theme-primary-color),
         border-color: var(--cx-theme-primary-color),
      ),
      checked-focus: (
         color: var(--cx-theme-primary-text-color),
         border-color: var(--cx-theme-primary-color-dark),
      ),
      checked-hover: (
         color: var(--cx-theme-primary-text-color),
         border-color: var(--cx-theme-primary-color-dark),
      ),
      focus: (
         box-shadow: var(--cx-theme-focus-box-shadow),
         border-color: var(--cx-theme-primary-color),
      ),
      disabled: (
         background-color: transparent,
         border-color: rgba(0, 0, 0, 0.26),
      ),
      disabled-checked: (
         color: rgba(0, 0, 0, 0.26),
         border-color: rgba(0, 0, 0, 0.12),
      ),
   )
);

// Lookupfield tag
$cx-input-tag-state-style-map: cx-deep-map-merge(
   $cx-input-tag-state-style-map,
   (
      default: (
         border-color: var(--cx-theme-border-color),
         border-radius: var(--cx-theme-border-radius),
         border-width: 1px,
         border-style: solid,
         margin: -1px,
      ),
      hover: (
         background-color: #e0e0e0,
      ),
   )
);

// Slider
$cx-slider-handle-styles: cx-deep-map-merge(
   $cx-slider-handle-styles,
   (
      hover: (
         box-shadow: var(--cx-theme-box-shadow),
         background-color: var(--cx-theme-primary-color-light),
      ),
      active: (
         background-color: var(--cx-theme-primary-color-dark),
         border-color: var(--cx-theme-primary-color-dark),
      ),
      focus: (
         box-shadow: var(--cx-theme-box-shadow-elevated),
         background-color: var(--cx-theme-primary-color-dark),
      ),
   )
);

// Switch
$cx-switch-handle-styles: cx-deep-map-merge(
   $cx-switch-handle-styles,
   (
      default: (
         box-shadow: var(--cx-theme-box-shadow),
      ),
      hover: (
         box-shadow: var(--cx-theme-box-shadow),
      ),
      active: (
         background-color: #e0e0e0,
         border-color: transparent,
      ),
      focus: (
         box-shadow: var(--cx-theme-box-shadow-elevated),
         border-color: transparent,
      ),
      on: (
         background-color: var(--cx-theme-background-color),
         border-color: transparent,
      ),
      on-active: (
         background-color: #e0e0e0,
      ),
   )
);

// Clear icon
$cx-clear-state-style-map: cx-deep-map-merge(
   $cx-clear-state-style-map,
   (
      hover: (
         color: var(--cx-theme-color),
         background-color: transparent,
      ),
      focus: (
         color: var(--cx-theme-primary-color),
      ),
      error: (
         color: var(--cx-theme-color),
         opacity: 0.6,
      ),
   )
);

// Right icon
$cx-input-right-icon-state-style-map: cx-deep-map-merge(
   $cx-input-right-icon-state-style-map,
   (
      default: (
         color: var(--cx-theme-secondary-text-color),
         opacity: 1,
      ),
      focus: (
         color: var(--cx-theme-primary-color),
      ),
      error: (
         color: var(--cx-theme-color),
         opacity: 0.6,
      ),
   )
);

// Left icon
$cx-input-left-icon-state-style-map: cx-deep-map-merge(
   $cx-input-left-icon-state-style-map,
   (
      focus: (
         color: var(--cx-theme-primary-color),
         opacity: 1,
      ),
      error: (
         color: var(--cx-theme-color),
         opacity: 0.6,
      ),
   )
);

// GLOBALS
$cx-element-style-map: cx-deep-map-merge(
   $cx-element-style-map,
   (
      html: (
         background-color: #fafafa,
      ),
      h1: (
         font-weight: 300,
         color: var(--cx-theme-color),
      ),
      h2: (
         font-weight: 300,
         color: var(--cx-theme-color),
      ),
      h3: (
         font-weight: 400,
         color: var(--cx-theme-color),
      ),
      h4: (
         font-weight: 400,
         color: var(--cx-theme-color),
      ),
      h5: (
         font-weight: 500,
         color: var(--cx-theme-color),
      ),
      h6: (
         font-weight: 500,
         color: var(--cx-theme-color),
      ),
      a: (
         color: var(--cx-theme-primary-color-dark),
      ),
      p: (
         line-height: $cx-theme-default-paragraph-line-height,
      ),
   )
);
