@use "sass:map";
@use "./variables.scss" as *;
@use "cx/src/variables" as *;
@use "cx/src/util/scss/include" as *;

$block: map.get($cx-besm, block);
$element: map.get($cx-besm, element);
$state: map.get($cx-besm, state);
$mod: map.get($cx-besm, mod);

@if (cx-included("cx/widgets/Tab")) {
   .#{$block}tab.#{$mod}classic {
      &:first-child {
         border-left-width: 1px;
         border-left-color: var(--cx-theme-border-color);
      }
   }
}

@if (cx-included("cx/widgets/Calendar")) {
   .#{$block}calendar.#{$mod}dropdown {
      --cx-calendar-border-width: 0;
   }
}

@if (cx-included("cx/widgets/MonthPicker")) {
   .#{$block}monthpicker.#{$mod}dropdown {
      --cx-monthpicker-border-width: 0;
   }
}

@if (cx-included("cx/widgets/ColorPicker")) {
   .#{$block}colorpicker.#{$mod}dropdown {
      --cx-colorpicker-border-width: 0;
   }
}

@if (cx-included("cx/widgets/List")) {
   .#{$block}list.#{$mod}bordered,
   .#{$block}list.#{$mod}dropdown {
      border-radius: var(--cx-theme-border-radius);

      > .#{$element}list-item:first-child {
         border-top-left-radius: var(--cx-theme-border-radius);
         border-top-right-radius: var(--cx-theme-border-radius);
      }

      > .#{$element}list-item:last-child {
         border-bottom-left-radius: var(--cx-theme-border-radius);
         border-bottom-right-radius: var(--cx-theme-border-radius);
      }
   }
}

@if (cx-included("cx/widgets/Grid")) {
   .#{$element}grid-data:last-child {
      border-bottom-left-radius: var(--cx-grid-border-radius);
   }

   .#{$element}grid-scroll-area.#{$state}fixed-header .#{$element}grid-header tr:last-child th {
      border-bottom: transparent; // in presence of a fixed header, top data row should not inherit border color from the header
   }

   .#{$element}grid-data.#{$state}cursor {
      td:first-child {
         border-top-left-radius: var(--cx-cursor-border-radius);
         border-bottom-left-radius: var(--cx-cursor-border-radius);
      }

      td:last-child {
         border-top-right-radius: var(--cx-cursor-border-radius);
         border-bottom-right-radius: var(--cx-cursor-border-radius);
      }
   }

   .#{$element}grid-header {
      --cx-input-padding-x: calc(var(--cx-grid-header-padding-x) - 1px);
      --cx-input-padding-y: calc(var(--cx-grid-header-padding-y) - 1px);
   }

   .#{$element}grid-data .#{$block}checkbox {
      --cx-input-padding-x: calc(var(--cx-grid-data-padding-x) - 1px);
      --cx-input-padding-y: calc(var(--cx-grid-data-padding-y) - 1px);
   }
}
