@import "~cx/src/index";

$block: map-get($cx-besm, block);
$element: map-get($cx-besm, element);
$state: map-get($cx-besm, state);
$mod: map-get($cx-besm, mod);

@if (cx-included('cx/widgets/Section')) {
   $section-mods: primary success warning error;
   
   @each $i in $section-mods {
      .#{$block}section.#{$mod}#{$i} {
         .#{$element}section-header {
            border-bottom-color: rgba(#fff, 0.4);
         }
      }
   }
   
   .#{$block}section.#{$mod}card.#{$mod}card {
      box-shadow: $cx-default-section-box-shadow;
   }
   // can be used interchangeably with mod='card'
   .#{$mod}well {
      @extend .#{$mod}card;
   }

   .#{$element}section-header.#{$element}section-header {
      font-weight: normal;

      .#{$mod}pad > & {
         border: none;
      }
   }
   @for $i from 1 through 6 {
      .#{$element}section-header h#{$i} {
         .#{$mod}primary &,
         .#{$mod}error &,
         .#{$mod}success &,
         .#{$mod}warning & {
            color: $cx-default-color-dark;
         }
      }
   }
}

@if (cx-included('cx/widgets/DateTimeField')) {
   .#{$block}datetimefield .#{$block}calendar {
      border-color: transparent !important;
   }

   .#{$block}datetimefield .#{$block}datetimepicker {
      border-color: transparent !important;
   }
}

@if (cx-included('cx/widgets/MonthField')) {
   .#{$block}monthfield .#{$block}monthpicker {
      border-color: transparent !important;
   }
}

@if (cx-included('cx/widgets/ColorPicker')) {
   .#{$block}colorfield .#{$block}colorpicker {
      border-color: transparent !important;
   }
}

//override for chrome mobile default press effect
.#{$block}button, .#{$block}tab, .#{$block}menu {
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

//Modal window background on dark surface
%cxe-overlay-shadow {
   background: rgba(0, 0, 0, 0.35);
}

//progressbar
@if (cx-included('cx/widgets/ProgressBar')) {
   .#{$block}progressbar {
      margin: 10px 0 0;
      border-radius: 25px;
      // box-shadow: inset 0 -1px 2px rgba(30, 95, 138, 0.3);
      box-shadow: inset 0 -1px 2px rgba(255,255,255, .3);

      .#{$element}progressbar-label {
         top: -20px;
         text-align: right;
      }

      .#{$element}progressbar-indicator {
         background-image: linear-gradient(to bottom, #85ceff, #1e5f8a);
         border-radius: 25px;
         // box-shadow: inset 0 -1px 2px rgba(255, 255, 255, 0.3);
         box-shadow: inset 0 -1px 2px rgba(255,255,255, .3);
       }
   }
}

//LIST
.#{$block}list.#{$state}selectable {
   &.#{$mod}bordered {
         border-color: rgba(#d9dfe3, .5);

         & > .#{$element}list-item:not(:first-child) {
            border-top-color: rgba(#d9dfe3, .5);
         }
   }
}

//GRID
.#{$element}grid-data {
   .#{$state}selectable & {
   
      &.#{$state}selected {
        background-color: rgba($cx-theme-accent-color, .2);

         &.#{$state}cursor {
            background-color: rgba($cx-theme-accent-color, .2);
            color: lighten($secondary-color, 15);
         }
      }   
   }
}

.#{$element}grid-group-footer, .#{$element}grid-group-caption {

   td {
      color: $cx-theme-accent-color;
   }
}

// grid checkbox margin corrected
.#{$block}grid {
   .#{$block}checkbox {
      padding: 0;
   }
}

// pagination
.#{$element}pagination-page {
   border-color: transparent;
}


// SWITCH
.#{$element}switch-axis {
   background-color: rgba(255,255,255, .2);
   width: 42px;
}

.#{$element}switch-range {
   background-color: $cx-theme-accent-color;
}

.#{$element}switch-handle {
   width: 21px;
   border-radius: 50% 0 0 50%;
   border-width: 0;
   background-color: #c2c2c2;
   transition: 250ms;

   .#{$state}on & {
      border-radius: 0 50% 50% 0;
      background-color: #f6f6f6;
   }
}
