@import '../../variables';


$cx-tooltip-background-color: white !default;
$cx-tooltip-border-color: #d5d5d5 !default;
$cx-tooltip-border-width: 1px !default;
$cx-tooltip-border-radius: 5px !default;
$cx-tooltip-arrow-size: 5px !default;
$cx-tooltip-color: null !default;
$cx-tooltip-padding: 10px !default;

$cx-tooltip-background-color-error: white !default;
$cx-tooltip-border-color-error: #e63001 !default;
$cx-tooltip-color-error: null !default;