root = true

[*.js]
indent_style = space
indent_size = 3
end_of_line = lf
trim_trailing_whitespace = true

[*.ts]
indent_style = space
indent_size = 3
end_of_line = lf
trim_trailing_whitespace = true

[*.scss]
indent_style = space
indent_size = 3
end_of_line = lf

