.dxb-layout {
   height: 100%;
}

.dxe-layout-content {
   //height: calc(100% - 40px);
   height: 100%;
   position: relative;

   & > aside {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      bottom: 0;
      background: #343434;
      background-image: url('./img/38fffa06.png');

      overflow: hidden;
      color: rgba(255, 255, 255, 0.5);

      & > header {
         height: 80px;
         box-sizing: border-box;
         //background: #d3eaf0;
         padding: 40px 10px;

         h1 {
            //display: inline-block;
            margin: 0;
            padding: 0;
            font-size: 20px;
            //line-height: 20px;
            text-align: center;

         }
      }

      & > div {
         width: calc(100% + 20px);
         height: calc(100% - 80px);
         overflow-y: auto;
         overflow-x: hidden;

         & > div {
            width: 200px;
         }
      }
   }

   & > main {
      margin-left: 200px;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      display: block; //IE needs this

      &:focus {
         outline: none;
      }
   }
}

