.dxb-layout {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.dxe-layout-aside {
    transition: left 0.2s ease-in;
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    bottom: 0;
    background: #343434;
    background-image: url('./img/38fffa06.png');
    overflow: hidden;
    color: rgba(255, 255, 255, 0.5);

    .dxb-layout.dxs-navopen & {
        left: 0;
    }
}

.dxe-layout-aside-header {
    height: 90px;
    box-sizing: border-box;
    padding: 40px 10px;
    line-height: 40px;

    .cxb-icon {
        width: 40px;
        height: 40px;
        vertical-align: top;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        text-align: center;
        color: white;
    }

    a {
        color: rgba(255, 117, 117, 1);
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: rgb(168, 177, 255);
        }
    }
}

.dxe-layout-aside-noscroll {
    width: calc(100% + 20px);
    height: calc(100% - 80px);
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    & > div {
        width: 200px;
    }
}

.dxe-layout-content {
    height: 100%;
    transition: margin-left 0.2s ease-in;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: block; //IE needs this

    .dxb-layout.dxs-navopen & {
        margin-left: 200px;
    }

    &:focus {
        outline: none;
    }

    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}

.dxe-layout-menu {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    top: 5px;
    z-index: 1000;
    transition: left 0.2s ease-in;
    line-height: 20px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.5);

    &:hover {
        color: rgba(128, 128, 128, 1);
    }

    .dxs-navopen & {
        left: 165px;
    }
}

.dxe-layout-search {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 40px;
    left: 5px;
    z-index: 1000;
    transition: top 0.2s ease-in;
    line-height: 20px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.5);

    &:hover {
        color: rgba(128, 128, 128, 1);
    }

    .dxs-navopen & {
        top: 5px;
    }
}

//////////////////////////
#app {
    //overflow: hidden;
    //display: flex;
    //flex-direction: column;
};
.app {
    //overflow: auto;
    //flex: 1;
};

.docscontent {
    //margin-left: 250px; //TODO: think of a solution to use a variable (standardize content or import misc scss files here on top)
    flex: 1;
    overflow: hidden;
    // padding: 20px;
    // overflow: auto;
};

//.sidenav {
//    display: flex;
//    flex-direction: column;
//    overflow: hidden;
//
//    .sidenav_pagetitle {
//        width: 40px;
//        font-size: 40px;
//        color: rgba(113, 128, 150, 0.2);
//        display: block;
//        text-align: center;
//        // background: rgba(217, 217, 217, 0.3);
//        padding: 16px 0 8px;
//        width: 100%;
//        border-bottom: 1px solid;
//        overflow: hidden;
//        text-overflow: ellipsis;
//        white-space: nowrap;
//    };
//    .navtree_container {
//        flex: 1;
//        overflow: auto;
//    }
//}

// scrollbar
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {

    &:vertical {
        background-color: rgba(0, 0, 0, 0.09);
        &:hover {
            background-color: rgba(0, 0, 0, 0.12);
        }
    }

    &:horizontal {
        background-color: rgba(0, 0, 0, 0.09);
        &:hover {
            background-color: rgba(0, 0, 0, 0.12);
        }
    }
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.02);
};