$cx-default-background-color: #000 !default;
$cx-default-color: rgba(255, 255, 255, 0.5) !default;;


$cx-section-well: (
   background: rgba(128, 128, 128, 0.1),
   border-radius: 3px,
) !default;

$cx-default-input-background-color: rgba(128, 128, 128, 0.1) !default;
$cx-default-input-color: rgba(255, 255, 255, 0.7) !default;;
$cx-default-border-color: rgba(128, 128, 128, 0.13) !default;

$cx-default-dropdown-background-color: #000 !default;

$cx-default-button-background-color: rgba(4, 4, 5, 0.2) !default;
$cx-default-button-border-color: black !default;
$cx-default-button-color: inherit !default;

$cx-default-grid-header-background-color: rgba(14, 14, 18, 0.2) !default;