@use "./variables.reset" as *;
@use "./maps" as *;
@use "cx/src/util/scss/add-rules" as *;

// =============================================================================
// GLOBAL ELEMENT STYLES (using themed $cx-element-style-map)
// =============================================================================
@if ($cx-include-global-rules) {
   @each $tag, $styles in $cx-element-style-map {
      #{$tag} {
         @include cx-add-rules($styles);
      }
   }
}

// =============================================================================
// SCROLLBAR (theme-specific)
// =============================================================================
@if ($cx-include-global-rules) {
   @media screen and (min-width: 700px) {
      ::-webkit-scrollbar {
         width: 10px;
         height: 10px;
         background-color: rgba(255, 255, 255, 0.03);
      }
      ::-webkit-scrollbar-thumb {
         -webkit-border-radius: 50px;

         &:vertical {
            background-color: rgba(255, 255, 255, 0.09);
            &:hover {
               background-color: rgba(255, 255, 255, 0.2);
            }
         }

         &:horizontal {
            background-color: rgba(255, 255, 255, 0.09);
            &:hover {
               background-color: rgba(255, 255, 255, 0.2);
            }
         }
      }
      ::-webkit-scrollbar-corner {
         background-color: rgba(255, 255, 255, 0.2);
      }
   }
}
