//THEME SPECIFIC VARIABLES
// pick theme color scheme
$primary-color-blue: #8cc8fe !default;
$primary-color-gray: #607d8b !default;
$primary-color-brown: #795548 !default;
$primary-color-pink: #f186c0 !default;
$primary-color-purple: #bb86fc !default;
$primary-color-red: #ff7c5d !default;
$primary-color-black: #212121 !default;
$primary-color-green: #c6f68d !default;
$primary-color-indigo: #3f51b5 !default;
$primary-color-teal: #02eec1 !default;


$cx-theme-primary-color: #cfabfd !default;
// $cx-theme-secondary-color: #03dac4;

$cx-theme-accent-color: #03dac4 !default;
// $cx-theme-accent-color: #ffffb0 !default;
$cx-theme-danger-color: #CF6679 !default;

$cx-theme-background-primary: rgba(117, 68, 103, .2);

// pick theme size
$normal-base-size: 14px !default;
$small-base-size: 12px !default;
$cx-theme-base-size: $normal-base-size !default;

//GLOBAL VARIABLES
$cx-default-container-padding: 5px !default;

$cx-default-font-family: 'Roboto', 'Open Sans', sans-serif !default;

$cx-default-color: rgba(#fff, 0.87) !default;
$cx-medium-emphasis: rgba(#fff, 0.6) !default;
$cx-disabled-text: rgba(#fff, 0.38) !default;
$cx-default-color-dark: #000000 !default;

$cx-default-font-weight: 450 !default;
$cx-default-paragraph-line-height: 1.5 !default;

$cx-default-background-color: #121212 !default;

// TODO CREATE FUNCTION FOR COUNTING OVERLAY 
$cx-default-background-overlay: rgba(255, 255, 255, .07);
$cx-light-background-overlay: rgba(255, 255, 255, .16);

$cx-default-border-color: transparent !default;
$cx-default-border-radius: 3px !default;

$cx-default-box-font-size: 13px !default;
$cx-default-box-line-height: $cx-theme-base-size + 10px !default;
$cx-default-box-border-width: 1px !default;

@if $cx-theme-base-size < 14px {
   $cx-default-box-padding: round($cx-theme-base-size/3) !global;
} @else {
   $cx-default-box-padding: round($cx-theme-base-size/2) !global;
}

$cx-default-transition: all 0.35s ease-out !default;

$cx-default-dropdown-arrow-offset: 26px !default;

$cx-use-box-line-height-fix: false !default;

//BUTTON
$cx-default-button-color: $cx-theme-primary-color !default;
$cx-default-button-font-weight: $cx-default-font-weight !default;
$cx-default-button-background-color: #2a2a2a !default;
$cx-default-button-border-width: 1px !default;
$cx-default-button-border-color: $cx-theme-primary-color !default;
$cx-default-button-padding: $cx-default-box-padding + 1px 2 * $cx-default-box-padding + 6px !default;

// float button text color picker
@function set-text-color($bg-color) {
   @if (lightness($bg-color) > 55) {
      @return $cx-default-color-dark; // Lighter backgorund, return dark color
   } @else {
      @return $cx-default-color; // Darker background, return light color
   }
}

//TAB
$cx-default-tab-color: $cx-default-color !default;
$cx-default-tab-font-weight: 500 !default;
$cx-default-tab-background-color: transparent !default;
$cx-default-tab-border-width: 0 !default;
$cx-default-tab-border-color: transparent !default;
$cx-default-tab-border-radius: $cx-default-border-radius !default;
$cx-default-tab-padding: $cx-default-box-padding + 1px 2 * $cx-default-box-padding + 10px !default;

//SCROLLER
$cx-default-scroller-button-size: 30px !default;

//SECTION
$cx-default-section-background: $cx-default-background-overlay;

//MENU

// TOOLTIP
$cx-tooltip-background-color: #505050 !default;
$cx-tooltip-border-color: $cx-default-border-color !default;
$cx-tooltip-background-color-error: #505050 !default;
$cx-tooltip-border-color-error: $cx-theme-danger-color !default;

//WINDOW
$cx-default-window-header-padding: 10px 20px !default;
$cx-default-window-header-font-size: 20px !default;
$cx-default-window-header-color: $cx-theme-primary-color !default;
$cx-default-window-header-background: rgba(255, 255, 255, .05);

//TOAST
$cx-default-toast-padding: 2 * $cx-default-box-padding 2 * $cx-default-box-padding !default;
$cx-default-toast-background-color: #323232;
$cx-default-toast-color: $cx-default-color;
$cx-default-toast-box-shadow: none;

//GRID
$cx-default-grid-background-color: #323232;
$cx-default-grid-border-radius: $cx-default-border-radius !default;
$cx-default-grid-border-color: #505050 !default;
$cx-default-grid-font-size: 14px;

// header
$cx-default-grid-header-font-size: 18 !default;
$cx-default-grid-header-line-height: $cx-default-box-line-height + 1px !default;
$cx-default-grid-header-background-color: #363636 !default;
$cx-default-grid-header-font-weight: 500 !default;
// $cx-default-grid-header-border-color: transparent transparent $cx-default-grid-border-color !default;
$cx-default-grid-header-padding: $cx-default-box-padding + 5px 2 * $cx-default-box-padding + 6px $cx-default-box-padding + 4px !default;

// data
$cx-default-grid-data-alternate-background-color: #2a2a2a !default;
$cx-default-grid-data-border-color: #2a2a2a !default;
// $cx-default-grid-data-background-color: $cx-default-grid-header-background-color !default;
$cx-default-grid-data-padding: $cx-default-box-padding + 2px 2 * $cx-default-box-padding + 7px $cx-default-box-padding !default;
$cx-default-grid-data-line-height: $cx-default-grid-header-line-height !default;


//LIST
$cx-default-list-item-padding: 8px 12px !default;
// $cx-default-list-item-padding: $cx-default-box-padding+ 3 2 * $cx-default-box-padding $cx-default-box-padding !default;

//FORM
$cx-default-input-font-size: $cx-default-box-font-size + 1px !default;
// $cx-default-input-border-color: #eff1f7 !default;
$cx-theme-input-padding: $cx-default-box-padding 0 !default;

// label
$cx-default-label-font-size: 12px !default;
$cx-default-label-color: $cx-medium-emphasis !default;

// date time picker
$cx-default-datetimepicker-border-color: #414141 !default;
$cx-default-datetimepicker-background-color: #323232 !default;
$cx-default-wheel-clip-border-color: rgba($cx-theme-accent-color, .8) !default;
$cx-default-wheel-clip-border-radius: 3px !default;
$cx-default-wheel-clip-background-color: #323232;

// calendar
$cx-default-calendar-background-color: #121212 !default;
$cx-default-calendar-border-width: 0px !default;
$cx-default-calendar-border-radius: $cx-default-border-radius !default;

$cx-default-calendar-header-font-size: 16px !default;
$cx-default-calendar-header-color: $cx-theme-primary-color !default;
$cx-default-calendar-header-background-color: #121212 !default;

$cx-default-calendar-day-font-size: 11px !default;
$cx-default-calendar-day-border-radius: 50% !default;

// checkbox
$cx-default-checkbox-size: $cx-default-box-line-height - 6px !default;
$cx-default-checkbox-border-color: $cx-default-background-overlay !default;

// radio
$cx-default-radio-size: $cx-default-box-line-height - 6px !default;
$cx-default-radio-color: $cx-theme-accent-color !default;

// lookupfield tag
$cx-default-input-tag-font-size: 12px !default;
$cx-default-input-tag-border-radius: 20px !default;
$cx-default-input-tag-spacing: 4px !default;

// colorpicker
$cx-default-colorpicker-font-family: $cx-default-font-family !default;
$cx-default-colorpicker-background-color: $cx-default-calendar-background-color !default;
$cx-default-colorpicker-border-width: 1px !default;
$cx-default-colorpicker-box-shadow: none !default;

// slider
$cx-default-slider-axis-size: 2px !default;
$cx-default-slider-axis-background-color: $cx-default-background-overlay !default;
$cx-default-slider-range-background-color: $cx-theme-accent-color !default;
$cx-default-slider-handle-size: 16px !default;
$cx-default-slider-handle-background-color: $cx-theme-accent-color !default;
$cx-default-slider-handle-border-width: 2px !default;
$cx-default-slider-handle-border-color: $cx-theme-accent-color !default;
$cx-default-slider-handle-box-shadow: none !default;

// switch
$cx-default-switch-axis-size: 8px !default;
$cx-default-switch-axis-background-color: $cx-light-background-overlay !default;
$cx-default-switch-range-background-color: rgba($cx-theme-accent-color, 0.2) !default;
$cx-default-switch-handle-background-color: #8a8a8a !default;
$cx-default-switch-handle-border-color: $cx-default-switch-handle-background-color !default;

// icon
$cx-default-icon-size: $cx-default-box-line-height !default;
$cx-default-input-tool-size: $cx-default-icon-size !default;
$cx-default-clear-size: $cx-default-icon-size !default;

// PROGRESSBAR
$cx-default-progressbar-height: 8px !default;
$cx-default-progressbar-font-size: smaller !default;
$cx-default-progressbar-color: $cx-medium-emphasis !default;
$cx-default-progressbar-background-color: rgba($cx-theme-accent-color, .2) !default;
$cx-default-progressbar-border-width: 0 !default;

$cx-default-progressbar-indicator-background-color: $cx-theme-accent-color !default;


@import "~cx/src/variables";

//VARIABLE MAPS
//LIST
$cx-list-item: cx-deep-map-merge($cx-list-item, (
   default: (
      color: $cx-medium-emphasis,
   ),
   hover: (
      background-color: $cx-default-background-overlay
   ),
   cursor: (
      background-color: $cx-default-background-overlay
   ),
   selected: (
      background-color: $cx-light-background-overlay,
      color: $cx-theme-accent-color
   ),
   selected-hover: (
      background-color: $cx-light-background-overlay
   ),
   selected-cursor: (
      background-color: $cx-light-background-overlay
   ),
   disabled: (
      background-color: transparent
   )
));

//BUTTON
$cx-button-state-style-map: cx-deep-map-merge($cx-button-state-style-map, (
   default: (
      transition: $cx-default-transition,
      text-transform: uppercase,
      font-weight: $cx-default-button-font-weight,
      letter-spacing: .045rem
   ),
   hover: (
      background-color: rgba(#474747, .4)
   ),
   focus: (
      background-color: rgba($cx-theme-primary-color, .2),
   ),
   active: (
      background-color: rgba($cx-theme-primary-color, .3),
      top: 0
   ),
   disabled: (
      color: #bb86fc,
      opacity: .5
   )
));

// button mods
$cx-button-mods: cx-deep-map-merge($cx-button-mods, (
   primary: (
      default: (
         background-color: $cx-theme-primary-color,
         border-color: $cx-default-border-color,
         color: $cx-default-color-dark
      ),
      hover: (
         // background-color: rgba(#994af1, .7),
         background-color: rgba($cx-theme-primary-color, .5),
         color: $cx-default-color
      ),
      focus: (
         background-color: rgba($cx-theme-primary-color, .9),
      ),
      active: (
         background-color:rgba(#bb86fc, .9),
         top: 0
      ),
      disabled: (
         border-color: transparent,
         color: rgba($cx-default-color-dark, .9),
         background-color: rgba($cx-theme-primary-color, .9)
      )
   ),
   danger: (
      default: (
         background-color: $cx-theme-danger-color,
         color: $cx-default-color-dark,
         border-color: $cx-default-border-color,
      ),
      hover: (
         background-color: rgba($cx-theme-danger-color, .7),
         color: $cx-default-color
      ),
      focus: (
         background-color: rgba($cx-theme-danger-color, .7)
      ),
      active: (
         background-color: #d87a8f,
         top: 0
      ),
      disabled: (
         background-color: #d87a8f,
         opacity: 0.5,
         color: rgba($cx-default-color-dark, .9)
      )
   ),
   // flat-primary: (
   //    default: (
   //       font-size: 14px,
   //       // color: $cx-theme-primary-color-dark,
   //       background-color: transparent,
   //       border-color: transparent,
   //       box-shadow: none
   //    ),
   //    hover: map-merge(map-get($cx-list-item, hover), (
   //       box-shadow: none,
   //       border-color: transparent
   //    )),
   //    focus: (
   //       // background-color: darken($cx-default-background-color, 8),
   //       box-shadow: none
   //    ),
   //    active: (
   //       background-color: rgba(153, 153, 153, 0.25)
   //    ),
   //    disabled: (
   //       color: rgba(0, 0, 0, 0.26)
   //    )
   // ),
   // flat-accent: (
   //    default: (
   //       font-size: 14px,
   //       color: $cx-theme-accent-color,
   //       background-color: transparent,
   //       border-color: transparent,
   //       box-shadow: none
   //    ),
   //    hover: map-merge(map-get($cx-list-item, hover), (
   //       box-shadow: none,
   //       border-color: transparent
   //    )),
   //    focus: (
   //       // background-color: darken($cx-default-background-color, 8),
   //       box-shadow: none
   //    ),
   //    active: (
   //       background-color: rgba(153, 153, 153, 0.25)
   //    ),
   //    disabled: (
   //       color: rgba(0, 0, 0, 0.26)
   //    )
   // ),
   hollow: (
      default: (
         color: inherit,  
      ),   
      hover: (
         background-color: rgba($cx-theme-primary-color, .15)
      ),
      focus: (
         background-color: rgba($cx-theme-primary-color, .2)
      ),
      active: (
         background-color: rgba($cx-theme-primary-color, .3)
      ),
      disabled: (
         color: $cx-disabled-text
      )
   ),
   float: (
      default: (
         color: set-text-color($cx-theme-accent-color),
         background-color: $cx-theme-accent-color,
         border-radius: 50%,
         padding: 0 !important,
         width: $cx-default-box-line-height + 2 * ($cx-default-box-padding + 1px) + 10px,
         height: $cx-default-box-line-height + 2 * ($cx-default-box-padding + 1px) + 10px
      ),
      hover: (
         background-color: $cx-theme-accent-color
      ),
      focus: (
         // background-color: darken($cx-theme-accent-color, 4)
      ),
      active: (
         // background-color: lighten($cx-theme-accent-color, 3),
         box-shadow: 0 8px 12px rgba(0, 0, 0, 0.45)
      ),
      disabled: (
         box-shadow: none,
         border-color: transparent,
         color: rgba(255, 255, 255, 0.45),
         background-color: rgba($cx-theme-primary-color, 0.5)
      )
   )
));

//TAB
$cx-tab-state-style-map: cx-deep-map-merge($cx-tab-state-style-map, (
   default: (
      text-transform: uppercase,
      line-height: $cx-default-box-line-height,
   ),
   hover: (
      color: $cx-default-color,
      background-color: rgba($cx-theme-primary-color, .1)
   ),
   cursor: (
      background-color: rgba($cx-theme-primary-color, .2),
      color: $cx-default-color,
      outline: none
   ),
   selected: (
      color: $cx-default-color-dark,
      background-color: $cx-theme-primary-color,
      border-color: $cx-theme-accent-color
   ),
   selected-cursor: (
      color: $cx-default-color-dark,
      background-color: $cx-theme-primary-color,
   ),
   active: (
      color: $cx-default-color-dark,
      background-color: $cx-theme-primary-color
   ),
   disabled: (
      background-color: $cx-default-tab-background-color,
      color: $cx-disabled-text
   )
));

// tab mods
$cx-tab-mods: cx-deep-map-merge($cx-tab-mods, (
   classic: (
      default: (
         color: $cx-default-color,
         background-color: $cx-light-background-overlay,
         border-width: 2px 2px 0 2px,
         border-radius: 0,
         padding: ($cx-default-box-padding + 1px) (2 * $cx-default-box-padding + 10px) ($cx-default-box-padding - 1px)
      ),
      hover: (
         color: $cx-theme-primary-color,
         background-color: rgba($cx-theme-primary-color, .1)
      ),
      cursor: (
         color: $cx-default-color,
         border-color: $cx-theme-primary-color
      ),
      selected: (
         color: $cx-theme-primary-color,
         background-color: rgba(#fff, .03),
         border-color: $cx-theme-primary-color
      ),
      selected-cursor: (
         color: $cx-theme-primary-color,
         background-color: rgba(#fff, .03),
         border-color: $cx-theme-primary-color
      ),
      active: (
         color: $cx-theme-primary-color,
         background-color: rgba(#fff, .03),
         border-color: $cx-theme-primary-color
      ),
      disabled: (
         color: $cx-disabled-text
      )
   ),
   line: (
      default: (
         color: $cx-default-color,
         padding: ($cx-default-box-padding + 1px) (2 * $cx-default-box-padding + 10px) ($cx-default-box-padding - 1px)
      ),
      hover: (
         border-color: $cx-light-background-overlay
      ),
      selected: (
         color: $cx-theme-primary-color,
         border-color: $cx-theme-primary-color
      ),
      selected-cursor: (
         border-color: $cx-theme-primary-color
      ),
      disabled: (
         color: $cx-disabled-text
      ),
      cursor: (
         border-color: rgba(0, 0, 0, 0.13)
      )
   ),
   // If a tab is inside a dark-colored container, use mod="line-accent".
   line-accent: (
      default: (
         color:  $cx-default-color,
         border-left-color: transparent !important,
         border-right-color: transparent !important,
         border-top-color: transparent !important,
         border-left-width: 0,
         border-right-width: 0,
         border-bottom-width: 2px,
         border-top-width: 0,
         border-bottom-left-radius: 0,
         border-bottom-right-radius: 0,
         padding: ($cx-default-box-padding + 1px) (2 * $cx-default-box-padding + 10px) ($cx-default-box-padding - 1px)
      ),
      hover: (
         border-color: $cx-light-background-overlay,
         background-color: transparent
      ),
      cursor: (
         background-color: transparent,
         color: $cx-default-color,
      ),
      selected: (
         color: $cx-default-color,
         background-color: transparent,
         border-color: $cx-theme-accent-color
      ),
      selected-cursor: (
         // border-color: lighten($cx-theme-accent-color, 10)
      ),
      disabled: (
         color: $cx-disabled-text
      )
   )
));

//SECTION
$cx-section-mods: cx-deep-map-merge($cx-section-mods, (
   card: (
      default: (
         background-color: $cx-default-section-background
      )
   ),
   primary: (
      default: (
         color: $cx-default-color-dark,
         background-color: $cx-theme-primary-color,
         border-radius: $cx-default-border-radius
      )
   ),
   warning: (
      default: (
         color: $cx-default-color-dark,
         background-color: #fbc02d,
         border-radius: $cx-default-border-radius
      )   
   ),
   success: (
      default: (
         color: $cx-default-color-dark,
         background-color: #68ee75,
         border-radius: $cx-default-border-radius
      )
   ),
   error: (
      default: (
         color: $cx-default-color-dark,
         background-color: #CF6679,    
         border-radius: $cx-default-border-radius
      )
   )  
));

//MENU
$cx-dropdown-styles: map-merge($cx-dropdown-styles, (
   color: $cx-medium-emphasis,
   font-size: $cx-default-box-font-size,
   font-weight: 500,   
   background-color: #262626
));

$cx-menu-state-style-map: map-merge($cx-menu-state-style-map, (
   default: (
      color: $cx-medium-emphasis
   )
));

//WINDOW
$cx-window-state-style-map: cx-deep-map-merge($cx-window-state-style-map, (
   default: (
      background: #323232,
      color: $cx-default-color,
      border-radius: $cx-default-border-radius,
   )
));

// header
$cx-window-header-state-style-map: cx-deep-map-merge($cx-window-header-state-style-map, (
   default: (
      border-top-left-radius: $cx-default-border-radius,
      border-top-right-radius: $cx-default-border-radius,
      background-color: $cx-default-window-header-background
   )
));

// body
$cx-window-body-state-style-map: cx-deep-map-merge($cx-window-body-state-style-map, (
   default: (
      background: null
   )
));

// footer
$cx-window-footer-state-style-map: cx-deep-map-merge($cx-window-footer-state-style-map, (
   default: (
      background: null,
      margin: 0 1.5rem,
      padding: 1rem 0,
      border-top: none
   )
));

// window mods
$cx-window-mods: (
   alert: (
      frame: (
         font-size: 16px,
         color: $cx-default-color-dark
      ),
      body: (
         padding: 24px 24px 20px,
         text-align: left,
         color: $cx-default-color
      ),
      footer: (
         border-top: none,
         padding: 8px 0
      )
   )
);

//TOAST
$cx-toast-mods: cx-deep-map-merge($cx-toast-mods, (
   dark: (
      default: (
         color: $cx-default-color,
         background-color: rgb(51, 51, 51)
      )
   ), 
   warning: (
      default: (
         color: $cx-default-color-dark,
         background-color: #fbc02d
      )   
   ),
   primary: (
      default: (
         color: $cx-default-color-dark,
         background-color: #e2cdfd
      )
   ),
   success: (
      default: (
         color: $cx-default-color-dark,
         background-color: #68ee75
      )
   ),
   error: (
      default: (
         color: $cx-default-color-dark,
         background-color: $cx-theme-danger-color       
      )
   )     
));

//GRID  
$cx-grid-header-state-style-map: cx-deep-map-merge($cx-grid-header-state-style-map, (
   hover: (
      // color: darken($cx-default-grid-header-color, 10),
      // background-color: $cx-default-grid-header-background-color,
      // border-color: $cx-default-grid-data-border-color
   ),
   sorted: (
      // // color: rgba($cx-default-color, .87),
      // background-color: $cx-default-grid-header-background-color
   ),
   sorted-hover: (
      // // color: darken($cx-default-grid-header-color, 25),
      // background-color: $cx-default-grid-header-background-color
   )
));
$cx-grid-data-state-style-map: cx-deep-map-merge($cx-grid-data-state-style-map, (
   sorted: (
      background-color: #549aec
   )
  
));

// pagination
$cx-grid-pagination-state-style-map: cx-deep-map-merge($cx-list-item, (
   default: (
      border-radius: $cx-default-border-radius
   )
));

//FORM
// global inputs
$cx-input-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
   focus: (
      border-color: transparent,
   ),
));

// standard form field - textfield, numberfield, lookupfield,...
$cx-std-field-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
   default: (
      padding: $cx-theme-input-padding,
      background-color: #323232,
      border-color: transparent transparent #414141,
      color: $cx-medium-emphasis
   ),
   focus: (
      border-color: transparent transparent $cx-theme-primary-color,
      transition: border-color 0.55s ease-in-out,
      box-shadow: none
   ),
   disabled: (
      color: $cx-disabled-text,
      background-color: transparent,
      border-style: dashed
   ),
   error: (
      border-color: transparent transparent $cx-theme-danger-color
   )
));

// textarea
$cx-textarea-state-style-map: cx-deep-map-merge($cx-std-field-state-style-map, (
   default: (
      border-color: transparent transparent #414141,
      background-color: #323232,
      color: $cx-medium-emphasis
   ),
   focus: (
      border-color: transparent transparent $cx-theme-primary-color,
      transition: border-color 0.55s ease-in-out,
      box-shadow: none
   ),
   hover: (
      background-color: rgba($cx-default-color, 0.09)
   )
));

// calendar days
$cx-calendar-day-state-style-map: cx-deep-map-merge($cx-calendar-day-state-style-map, (
   default: (
      color: $cx-default-color,
      height: 32px,
      line-height: 32px,
      width: 32px
   ),
   hover-focus: (
      background-color: rgba($cx-theme-primary-color, 0.6)
   ),
   hover: (
      background-color: rgba($cx-theme-primary-color, 0.6),
      color: $cx-default-color
   ),
   today: (
      background-color: $cx-theme-accent-color,
      color: $cx-default-color-dark
   ),
   selected: (
      background-color: #bb86fc,
      color: $cx-default-color-dark
   ),
   outside: (
      color: $cx-disabled-text
   )
));

// color picker
$cx-colorpicker-state-style-map: cx-deep-map-merge($cx-colorpicker-state-style-map, (
   default: (
      color: $cx-default-color,
      border-width: 0 0 2px,
      border-color: #414141
   ),
   focus: (
      border-color: $cx-theme-primary-color
   )
));

// DateTime field
$cx-std-field-state-style-map: cx-deep-map-merge($cx-std-field-state-style-map, (
   default: (
      padding: 3px
   )
));

// date time picker
$cx-wheel-selection-state-style-map: cx-deep-map-merge($cx-wheel-selection-state-style-map, (
   default: (
      border-color: transparent,
      background-color: rgba($cx-theme-accent-color, 0.2),
      color: $cx-default-color-dark
   ),
   active: (
      border-color: transparent,
      background-color: rgba($cx-theme-accent-color, 0.6),
      color: $cx-default-color
   )
));


// checkbox
$cx-checkbox-state-style-map: cx-deep-map-merge($cx-checkbox-state-style-map, (
   default: (
      background-color: $cx-light-background-overlay, 
   ),
   focus: (
      border-color: $cx-theme-primary-color
   ),
   checked: (
      background-color: $cx-theme-primary-color,
      color: $cx-default-color-dark
   ),
   disabled: (
      opacity: .2
   )
));

// radio
$cx-radio-state-style-map: cx-deep-map-merge($cx-radio-state-style-map, (
   checked: (
      color: $cx-default-radio-color,
      border-color: $cx-default-radio-color
   ),
   checked-focus: (
      // border-color: $cx-default-radio-color
   ),
   checked-hover: (
      border-color: $cx-default-radio-color
   ),
   focus: (
      box-shadow: none,
      border-color: #dbdbdb
   ),
   disabled: (
      background-color: transparent,
      border-color: rgba(0, 0, 0, 0.1)
   ),
   disabled-checked: (
      color: rgba(0, 0, 0, 0.26),
      border-color: rgba(0, 0, 0, 0.1)
   )
));

// lookupfield tag
$cx-input-tag-state-style-map: cx-deep-map-merge($cx-input-tag-state-style-map, (
   default: (
      background-color: rgba($cx-theme-accent-color, .8),
      color: $cx-default-color-dark
   ),
   hover: (
       background-color: rgba($cx-theme-accent-color, .6)
   )
));


// slider
$cx-slider-handle-styles: cx-deep-map-merge($cx-slider-handle-styles, (
   default: (
      box-shadow: null
   ),
   hover: (
      box-shadow: null
   ),
   active: (
      // background-color: $cx-theme-primary-color-dark
   ),
   focus: (
      box-shadow: none,
      // border-color: $cx-theme-primary-color-dark
   )
));

// switch
$cx-switch-handle-styles: cx-deep-map-merge($cx-switch-handle-styles, (
   hover: (
      // box-shadow: $cx-theme-box-shadow
   ),
   active: (
      background-color: $cx-theme-accent-color,
      border-color: transparent
   ),
   focus: (
      // box-shadow: $cx-theme-box-shadow,
      border-color: transparent
   ),
   on: (
      background-color: $cx-theme-accent-color,
      border-color: transparent
   ),
   on-active: (
      // background-color: $cx-theme-primary-color-dark
   )
));

// clear icon
$cx-clear-state-style-map: cx-deep-map-merge($cx-clear-state-style-map, (
   default: (
      right: 2px
   ),
   hover: (
      background-color: $cx-default-background-overlay,
   ),
   active: (
      color: $cx-theme-primary-color
   ),
   focus: (
      color: $cx-theme-primary-color
   ),
   error: (
      color: $cx-default-color,
      opacity: 0.6
   )
));

// right icon
$cx-input-right-icon-state-style-map: cx-deep-map-merge($cx-input-right-icon-state-style-map, (
   default: (
      color: $cx-default-color,
      opacity: 1,
      right: 2px
   ),
   focus: (
      color: $cx-theme-primary-color
   ),
   error: (
      color: $cx-default-color,
      opacity: 0.6
   )
));

// left icon
$cx-input-left-icon-state-style-map: cx-deep-map-merge($cx-input-left-icon-state-style-map, (
   default: (
      left: 4px
   ),
   // focus: (
   //    color: $cx-theme-primary-color
   // ),
   error: (
      color: $cx-default-color,
      opacity: 0.6
   )
));

//GLOBALS
$cx-element-style-map: cx-deep-map-merge($cx-element-style-map, (
   html: (
      background: $cx-default-background-color
   ),
   h1: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h2: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h3: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h4: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h5: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h6: (
      font-weight: 400,
      color: $cx-default-color
   ),
   a: (
      color: #bb86fc
   ),
   p: (
      line-height: $cx-default-paragraph-line-height
   )
));