$master-header-height: 45px;
$master-font-family: sans-serif;
$master-brand-background: #2795b0;
$master-brand-color: white;

.master_header {
   position: fixed;
   background: white;
   left: 0;
   right: 0;
   top: 0;
   z-index: 20000;
   font-family: sans-serif;

   .shadow {
      box-shadow: 0 1px 1px rgba(black, 0.1);
   }
}

.master_topbar {
   font-family: $master-font-family;
   display: flex;
   align-items: center;
   color: #b93e8b;
   height: $master-header-height;

   .cxb-link {
      display: inline-block;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
         Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      position: relative;
      color: inherit;

      &.cxs-active {
         font-weight: 500;
         color: #2795b0;

         &:after {
            position: absolute;
            left: 16px;
            right: 16px;
            height: 3px;
            bottom: 0;
            background: currentColor;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            box-sizing: border-box;
            content: " ";
         }
      }
   }
}

.master_logo {
   height: 32px;
   margin: 0 16px 0 32px;
}

.master_hamburger {
   margin: 0 0 0 24px;
   color: #2795b0;
}

.topbanner {
   font-family: $master-font-family;
   background: $master-brand-background;
   color: $master-brand-color;
   min-height: 105px;
   padding-top: $master-header-height;
   box-shadow: 0 0 5px rgba(black, 0.3);
   z-index: 1;
   position: relative;
   box-sizing: border-box;

   &.sticky {
      position: sticky;
      top: -55px;
   }

   h3 {
      margin: 24px 32px;
      font-family: inherit;
      font-weight: 400;
      color: inherit;
      line-height: 27px;
   }

   .cxb-link {
      display: inline-block;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
         Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      position: relative;
      color: rgba(white, 0.7);

      &:hover {
         color: rgba(white, 0.8);
      }

      &.cxs-active {
         font-weight: 500;
         color: white;

         &:after {
            position: absolute;
            left: 16px;
            right: 16px;
            height: 3px;
            bottom: 0;
            background: currentColor;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            box-sizing: border-box;
            content: " ";
         }
      }
   }
}

.topbanner_tabs {
   margin-left: 12px;
   margin-top: -16px;
}

.master_sidedrawer {
   position: fixed;
   left: -250px;
   top: $master-header-height;
   bottom: 0;
   width: 250px;
   background: white;
   box-shadow: 1px 0 3px rgba(black, 0.1);
   transition: left 0.1s;

   &.cxs-animate-enter {
      left: 0;
   }

   .cxe-overlay-modal-backdrop {
      left: 100px;
   }
}

.master_iconlink {
   margin: 0 20px;
   img {
      height: 20px;
      vertical-align: top;
   }
}

.master_githubstars {
   position: relative;
   top: 1px;
   a {
      color: transparent !important;
   }
}
