// Layout variables
$master-header-height: 45px !default;
$master-font-family: sans-serif !default;
$master-brand-highlight-color: #017be6 !default;
$master-brand-background: linear-gradient(90deg, #017be6, #00d7eb) !default;
$master-brand-color: white !default;
$master-desktop-screen-width: 1000px !default;
$master-theme-color: #4f7aea !default;
