.b-app {

}

.e-app-header {
   display: flex;
   padding: 1rem;
   border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.e-app-content {

}

@import "flexrow";
@import "breadcrumbs";
@import "well";