.cxb-well {
   margin: 1rem;
   padding: 1rem 1.5rem;

   background: rgba(255, 255, 255, 0.9);
   border-radius: 3px;

   & > header {

      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
      padding-bottom: 1rem;
      margin-bottom: 1rem;

      h2 {
         margin: 0;
      }
   }
}