
@mixin cx-bargraph(
   $name: 'bargraph',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$element}#{$name}-bar {
      stroke-width: 1px;
      fill: #eee;
      stroke: #ccc;

      &.#{$state}selectable {
         cursor: pointer;
      }

      &.#{$state}selected {
         stroke-width: 2px;
      }
   }
}


@if (cx-should-include('cx/charts/BarGraph')) {
   @include cx-bargraph();
}