@use "sass:math";
@use "sass:map";
@use "../util/scss/besm.scss" as *;
@use "../util/scss/include.scss" as *;
@use "../util/scss/add-rules.scss" as *;
@use "../util/scss/clockwise.scss" as *;
@use "./variables" as *;

@mixin cx-bargraph($name: "bargraph", $besm: $cx-besm) {
   $block: map.get($besm, block);
   $element: map.get($besm, element);
   $state: map.get($besm, state);

   .#{$element}#{$name}-bar {
      stroke-width: $cx-default-chart-shape-stroke-width;
      fill: $cx-default-chart-shape-fill-color;
      stroke: $cx-default-chart-shape-stroke-color;

      &.#{$state}selectable {
         cursor: pointer;
      }

      &.#{$state}selected {
         stroke-width: $cx-default-chart-selected-stroke-width;
      }
   }
}

@if (cx-should-include("cx/charts/BarGraph")) {
   @include cx-bargraph();
}
