@use "sass:math";
@use "../util/scss/besm.scss" as *;
@use "../util/scss/include.scss" as *;
@use "../util/scss/add-rules.scss" as *;
@use "../util/scss/clockwise.scss" as *;
@use "./variables" as *;

@use "sass:map";

@mixin cx-bubblegraph($name: "bubblegraph", $besm: $cx-besm) {
   $block: map.get($besm, block);
   $element: map.get($besm, element);
   $state: map.get($besm, state);

   .#{$block}#{$name} {
   }

   .#{$element}#{$name}-bubble {
      fill: $cx-default-chart-marker-color;
      opacity: 0.5;

      &:hover {
         opacity: 0.75;
      }

      &.#{$state}selected {
         stroke: black;
         stroke-width: $cx-default-chart-selected-stroke-width;
      }
   }
}

@if (cx-should-include("cx/charts/BubbleGraph")) {
   @include cx-bubblegraph();
}
