@use "sass:math";
@use "sass:map";
@use "../util/scss/besm.scss" as *;
@use "../util/scss/include.scss" as *;
@use "../util/scss/add-rules.scss" as *;
@use "../util/scss/clockwise.scss" as *;
@use "./variables" as *;

@mixin cx-legendentry($name: "legendentry", $besm: $cx-besm) {
   $block: map.get($besm, block);
   $element: map.get($besm, element);
   $state: map.get($besm, state);

   .#{$block}#{$name} {
      display: inline-flex;
      align-items: center;
      padding: $cx-default-chart-legend-padding;
      gap: $cx-default-chart-legend-entry-gap;
      position: relative;
      box-sizing: border-box;
      cursor: pointer;
   }

   .#{$element}#{$name}-svg {
      flex-shrink: 0;
   }

   .#{$element}#{$name}-shape {
      fill: $cx-default-chart-shape-fill-color;
   }
}

@if (cx-should-include("cx/charts/LegendEntry")) {
   @include cx-legendentry();
}
