@mixin cx-legend($name: "legend", $besm: $cx-besm) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$block}#{$name} {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 5px 10px;
   }

   .#{$block}#{$name}.#{$state}vertical {
      flex-direction: column;
   }

   .#{$element}#{$name}-entry {
      display: flex;
      align-items: center;
      padding: 5px;
      gap: 5px;
      font-size: smaller;
      position: relative;
      box-sizing: border-box;
      cursor: pointer;
   }

   .#{$element}#{$name}-svg {
      flex-shrink: 0;
   }

   .#{$element}#{$name}-shape {
      fill: rgba(128, 128, 128, 0.1);
   }
}

@if (cx-should-include("cx/charts/Legend")) {
   @include cx-legend();
}
