@mixin cx-legendentry($name: "legendentry", $besm: $cx-besm) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$block}#{$name} {
      display: inline-flex;
      align-items: center;
      padding: 5px;
      gap: 5px;
      position: relative;
      box-sizing: border-box;
      cursor: pointer;
   }

   .#{$element}#{$name}-svg {
      flex-shrink: 0;
   }

   .#{$element}#{$name}-shape {
      fill: #eee;
   }
}

@if (cx-should-include("cx/charts/LegendEntry")) {
   @include cx-legendentry();
}
