
@mixin cx-linegraph(
   $name: 'linegraph',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$element}#{$name}-line {
      stroke: gray;
      stroke-width: 2px;
      fill: none !important;
   }

   .#{$element}#{$name}-area {
      stroke-width: 0;
      opacity: 0.5;
   }
}

@if (cx-should-include('cx/charts/LineGraph')) {
   @include cx-linegraph();
}