@use "sass:math";
@use "sass:map";
@use "../util/scss/besm.scss" as *;
@use "../util/scss/include.scss" as *;
@use "../util/scss/add-rules.scss" as *;
@use "../util/scss/clockwise.scss" as *;
@use "./variables" as *;

@mixin cx-linegraph($name: "linegraph", $besm: $cx-besm) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$element}#{$name}-line {
      stroke: $cx-default-chart-line-stroke-color;
      stroke-width: $cx-default-chart-line-stroke-width;
      fill: none !important;
   }

   .#{$element}#{$name}-area {
      stroke-width: 0;
      opacity: $cx-default-chart-area-opacity;
   }
}

@if (cx-should-include("cx/charts/LineGraph")) {
   @include cx-linegraph();
}
