
@mixin cx-markerline(
   $name: 'markerline',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$element}#{$name}-line {
      stroke: rgb(128, 128, 128);
      stroke-width: 1px;
   }
}

@if (cx-should-include('cx/charts/MarkerLine')) {
   @include cx-markerline();
}