@use "sass:math";
@use "../util/scss/besm.scss" as *;
@use "../util/scss/include.scss" as *;
@use "../util/scss/add-rules.scss" as *;
@use "../util/scss/clockwise.scss" as *;
@use "./variables" as *;

@use "sass:map";

@mixin cx-markerline($name: "markerline", $besm: $cx-besm) {
   $block: map.get($besm, block);
   $element: map.get($besm, element);
   $state: map.get($besm, state);

   .#{$element}#{$name}-line {
      stroke: $cx-default-chart-marker-color;
      stroke-width: $cx-default-chart-markerline-stroke-width;
   }
}

@if (cx-should-include("cx/charts/MarkerLine")) {
   @include cx-markerline();
}
