//https://www.materialui.co/colors
//normal:200 900
//hover:100 700
//selected: 300 900
//disabled: 0 100

$cx-default-palette-colors: rgba(244, 67, 54, 1) rgba(233, 30, 99, 1) rgba(156, 39, 176, 1) rgba(103, 58, 183, 1)
   rgba(63, 81, 181, 1) rgba(33, 150, 243, 1) rgba(3, 169, 244, 1) rgba(0, 188, 212, 1) rgba(0, 150, 136, 1)
   rgba(76, 175, 80, 1) rgba(139, 195, 74, 1) rgba(205, 220, 57, 1) rgba(255, 235, 59, 1) rgba(255, 193, 7, 1)
   rgba(255, 152, 0, 1) rgba(255, 87, 34, 1) !default;

$cx-default-palette-fill-whiten: 60% !default;
$cx-default-palette-fill-hover-whiten: 50% !default;
$cx-default-palette-fill-selected-whiten: 20% !default;
$cx-default-palette-fill-disabled-whiten: 90% !default;

$cx-default-palette-fill-blacken: 0% !default;
$cx-default-palette-fill-hover-blacken: 0% !default;
$cx-default-palette-fill-selected-blacken: 0% !default;
$cx-default-palette-fill-disabled-blacken: 0% !default;

$cx-default-palette-stroke-whiten: 0% !default;
$cx-default-palette-stroke-blacken: 10% !default;
