
@mixin cx-scattergraph(
   $name: 'scattergraph',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$element}#{$name}-shape {
      fill: rgb(128, 128, 128);
      opacity: 0.8;

      &.#{$state}selected {
         stroke-width: 2px;
      }
   }
}

@if (cx-should-include('cx/charts/ScatterGraph')) {
   @include cx-scattergraph();
}