<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CxJS Gallery</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Material+Icons:400,500,600" rel="stylesheet">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.from,Array.prototype.find,Array.prototype.findIndex,Math.log10,Intl.~locale.en"></script>
    <%= htmlWebpackPlugin.options.reactScripts %>
    <%= htmlWebpackPlugin.options.gtmh %>
</head>
<body>
    <%= htmlWebpackPlugin.options.gtmb %>
    <%= htmlWebpackPlugin.files.webpackManifest %>
    <div id="app">
    </div>
</body>
</html>
