<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <title>CxJS Gallery</title>
      <link
         href="https://fonts.googleapis.com/css?family=Roboto:400,500|Open+Sans:400,500,600,700|Material+Icons|Inter"
         rel="stylesheet"
      />
      <%= htmlWebpackPlugin.options.gtmh %>
   </head>
   <body>
      <%= htmlWebpackPlugin.options.gtmb %>
      <div id="app"></div>
   </body>
</html>
