$header-color: #2196F3;
$aside-width: 260px;
$small-device-width: 800px;

#app, .layout {
   height: 100%;
}

.header {
   padding: 1.5rem 1.5rem 0;
   background: $header-color;
   position: fixed;
   transition: all 0.2s linear;
   left: 0;
   top: 0;
   right: 0;
   box-shadow: 3px 2px 5px rgba(0,0,0,.26);

   a {
      color: white;
   }

   .title {
      display: flex;
      align-items: center;
   }

   .tabs {
      min-height: 3rem;
      margin-top: 1rem;
      display: flex;
      align-items: center;

      color: white;

      .cxb-button.cxm-hollow {

         border: 0;

         &.cxs-active {
            border-radius: 0;
            border-bottom: 2px solid white;

         }

         &:hover {
            background: rgba(255, 255, 255, 0.1);
         }
      }
   }

   h2 {
      line-height: 1;
      font-size: 1.5rem;
      margin: 0;
      color: white;
   }

   .layout.nav & {
      transform: translateX($aside-width);
      @media screen and (min-width: $small-device-width) {
         left: $aside-width;
         transform: none;
      }
   }
}

.aside {
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   width: $aside-width;
   background: white;
   box-shadow: 0 0 1px rgba(0,0,0,.26);
   font-size: 13px;

   transform: translateX(-300px);
   transition: transform 0.2s linear;

   display: flex;
   flex-direction: column;

   .layout.nav & {
      transform: none;
   }


   h1 {
      margin: 0;
      font-size: 24px;
      padding: .5em;
      text-align: center;
      line-height: 40px;

      a {

      }

      .cxb-icon {
         height: 40px;
         width: 40px;
         vertical-align: top;
      }
   }

   header {
      box-shadow: -1px 0 1px rgba(0,0,0,.26);
      text-align: center;
      padding: 0.5rem;
   }

   .aside-nav {
      flex: 1;
      overflow-y: auto;
   }

   dt {
      padding: 0.5rem 0.5rem 0.5rem 2rem;
      font-weight: bold;
   }

   .cxb-link {
      padding: 0.5rem;
      display: block;
      color: inherit;

      &.cxs-active {
         color: $header-color;
      }
   }
}

.main {
   padding: 8rem 1rem 1rem;
   transition: all 0.2s linear;
   height: 100%;
   box-sizing: border-box;
   display: block;

   .layout.nav & {
      transform: translateX($aside-width);
      @media screen and (min-width: $small-device-width) {
         margin-left: $aside-width;
         transform: none;
      }
   }
}

.layout.nav {

}

.theme-dark {
   .aside {
      background: #3b3a3c;

      .cxb-link.cxs-active {
         color: #7887ab;
      }
   }

   .header {
      background: #41495b;
   }
}

.theme-frost {
   .aside {
      background: #f3f5f7;

      .cxb-link.cxs-active {
         color: #24b5d6;
      }
   }

   .header {
      background: #93a5bd;
   }
}