<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />
    <meta name="description" content="Play with CxJS in your browser." />
    <title>Cx Fiddle</title>

    <%= htmlWebpackPlugin.options.gtmh %>

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
      rel="stylesheet"
      type="text/css"
    />
    <%= htmlWebpackPlugin.options.reactScripts %>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
    <%= htmlWebpackPlugin.files.webpackManifest %>
    <div id="app"></div>
    <%= htmlWebpackPlugin.options.gtmb %>

    <script src="https://unpkg.com/prettier@2.6.0/standalone.js" async></script>
    <script src="https://unpkg.com/prettier@2.6.0/parser-babel.js" async></script>
  </body>
</html>
