[package]
name = "swc-plugin-transform-cx-jsx"
version = "26.0.5"
edition = "2021"
license = "SEE LICENSE IN LICENSE.md"
description = "Transpile JSX into Cx config objects."
keywords = [ "swc-plugin", "swc", "es2015", "es2016", "cx", "jsx"]
repository = "https://github.com/codaxy/cxjs"

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
codegen-units = 1
lto = true
strip = "symbols"

[dependencies]
lazy_static = "1.4.0"
regex = "1.10.3"
swc_core = { version = "50.1.3", features = ["ecma_plugin_transform", "ecma_visit", "ecma_ast", "ecma_parser", "common"] }
serde_json = "1.0.145"
wasm-bindgen = "0.2"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "json"] }
serde = { version = "1.0", features = ["derive"] }

[dev-dependencies]
testing = "15.0.0"



# .cargo/config defines few alias to build plugin.
# cargo build-wasi generates wasm-wasi32 binary
# cargo build-wasm32 generates wasm32-unknown-unknown binary.
