$cx-call-once-data: () !default;

@function cx-call-once($name) {
   $result: map_get($cx-call-once-data, $name);
   $cx-call-once-data: map_merge($cx-call-once-data, ($name: true)) !global;
   @return $result != true;
}