@use "sass:map";

@mixin cx-text($name: "text", $besm: $cx-besm) {
   $block: map.get($besm, block);
   $element: map.get($besm, element);
   $state: map.get($besm, state);
   $mod: map.get($besm, mod);

   .#{$block}#{$name} {
      fill: currentColor;
      stroke: none;
   }
}

@if (cx-should-include("cx/svg/Text")) {
   @include cx-text;
}
