@use "../lists.scss" as *;
@use "./Menu.variables.scss" as *;

$cx-link-state-style-map: (
   active: (
      font-weight: bold,
   ),
) !default;

@forward "./Tab.maps.scss";

$cx-menu-state-style-map: $cx-list !default;
