
@mixin cx-menu(
   $name: 'menu',
   $state-style-map: $cx-menu-state-style-map,
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;

      &.#{$state}horizontal {

         white-space: nowrap;

         & > .#{$element}#{$name}-item {
            display: inline-block;
            user-select: none;

            @each $size, $value in $cx-menu-padding-options {
               &.#{$state}size-#{$size} > .#{$mod}#{$name} {
                  margin: 0 cx-right($value) 0 cx-left($value);
               }
            }

            &.#{$state}hidden {
               visibility: hidden;
               position: absolute;
            }
         }
      }

      @each $size, $value in $cx-menu-padding-options {
         &.#{$state}vertical.#{$state}#{$size}-item-padding .#{$mod}#{$name} {
            margin: $value;
            display: block;
         }
      }

      @include cx-add-state-rules($state-style-map, default);

      .#{$element}#{$name}-item {
         & > hr {
            border: none;
            border-top: 1px solid $cx-default-menu-separator-color;
            margin: map-get($cx-menu-padding-options, medium)
         }
      }

      &.#{$state}overflow {
         overflow: hidden;
         display: flex;

         & > .#{$element}#{$name}-item:last-child {
            visibility: hidden;
            margin-left: auto;
         }

         &.#{$state}pack > .#{$element}#{$name}-item:last-child {
            visibility: visible;
         }
      }
   }
}

@if (cx-should-include('cx/widgets/Menu')) {
   @include cx-menu();
}