@use "../../util/scss/defaults" as *;
@use "../../util/scss/clockwise" as *;
@use "../box" as *;

$cx-default-tab-color: inherit !default;
$cx-default-tab-font-size: null !default;
$cx-default-tab-font-weight: inherit !default;
$cx-default-tab-background-color: transparent !default;
$cx-default-tab-border-width: $cx-default-box-border-width !default;
$cx-default-tab-border-color: transparent !default;
$cx-default-tab-border-radius: $cx-default-border-radius !default;
$cx-default-tab-padding: cx-top($cx-default-box-padding) 2 *
   cx-right($cx-default-box-padding) cx-bottom($cx-default-box-padding) 2 *
   cx-left($cx-default-box-padding) !default;
$cx-default-tab-box-shadow: none !default;
