
// COVER
$cx-default-cover-border-color: $cx-default-border-color !default;
$cx-default-cover-background-color: white !default;

$cx-default-hscroller-button-width: 20px !default;

//MENU
@import "Menu.variables";

// TAB
@import "Tab.variables";