
// COVER
$cx-default-cover-border-color: $cx-default-border-color !default;
$cx-default-cover-background-color: white !default;

$cx-default-scroller-button-size: 20px !default;

//MENU
@import "Menu.variables";

// TAB
@import "Tab.variables";


$cx-dependencies: map-merge($cx-dependencies, (
   "cx/widgets/HScroller": "cx/widgets/Scroller",
   "cx/widgets/VScroller": "cx/widgets/Scroller"
));