<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <title>Cx - Theme - Frost</title>

    <%= htmlWebpackPlugin.options.gtmh %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,600' rel='stylesheet' type='text/css' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css' rel='stylesheet' type='text/css' />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.from,Array.prototype.find,Array.prototype.findIndex,Math.log10,Intl.~locale.en"></script>

    <%= htmlWebpackPlugin.options.reactScripts %>
</head>
<body>
    <%= htmlWebpackPlugin.options.gtmb %>
    <div id="app"></div>
</body>
</html>