@import "variables";
@import "../../../../util/scss/include";

@mixin cxb-axis() {
   shape-rendering: crispEdges;
}

@mixin cxe-axis-ticks() {
   stroke: $cx-axis-ticks-stroke;
   stroke-width: 1px;
}

@mixin cxe-axis-line() {
   stroke: $cx-axis-line-stroke;
   stroke-width: 1px;
}

@mixin cxe-axis-label() {
   font-size: smaller;
   fill: currentColor;
}