@import "Axis";

@mixin cx-categoryaxis(
   $name: 'categoryaxis',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {

   .#{$block}#{$name} {
      @include cxb-axis();
   }

   .#{$element}#{$name}-ticks {
      @include cxe-axis-ticks();
   }

   .#{$element}#{$name}-line {
      @include cxe-axis-line();
   }

   .#{$element}#{$name}-label {
      @include cxe-axis-label();
   }
}

@if (cx-include('cx/charts/CategoryAxis')) {
   @include cx-categoryaxis();
}