@import "~cx/index";
@import "../shared/index";

html {
   height: 100%;
   background: #eee;
}

body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}


