.cxb-flexbox {
   display: block;
   box-sizing: border-box;

   &.cxs-column {
      flex-direction: column;
   }

   &.cxs-row {
      flex-direction: row;
   }

   &.cxs-pad {
      padding: 1rem;
   }

   &.cxs-distance {
      margin: -0.5rem;

      & > * {
         margin: 0.5rem;
      }
   }

   &.cxs-align-center {
      align-items: center;
   }

   &.cxs-wrap {
      flex-wrap: wrap;
   }

   &.cxs-justify-center {
      justify-content: center;
   }

   &.cxs-justify-start {
      justify-content: flex-start;
   }

   &.cxs-justify-end {
      justify-content: flex-end;
   }

   &.cxs-target-any {
      display: flex;
   }

   &.cxs-target-phone {
      @media screen and (min-width: 400px) {
         display: flex;
      }
   }

   &.cxs-target-tablet {
      @media screen and (min-width: 700px) {
         display: flex;
      }
   }

   &.cxs-target-desktop {
      @media screen and (min-width: 1000px) {
         display: flex;
      }
   }
}