.cxb-flexbox {
   display: block;
   box-sizing: border-box;

   &.cxs-column {
      flex-direction: column;
   }

   &.cxs-row {
      flex-direction: row;
   }

   &.cxs-distance {
      padding: 0.5rem;

      & > * {
         margin: 0.5rem;
      }
   }

   &.cxs-align {
      margin: -0.5rem;
      padding: 0;
   }

   &.cxs-wrap {
      flex-wrap: wrap;
   }

   &.cxs-center {
      justify-content: center;
   }

   &.cxs-any {
      display: flex;
   }

   &.cxs-phone {
      @media screen and (min-width: 400px) {
         display: flex;
      }
   }

   &.cxs-tablet {
      @media screen and (min-width: 700px) {
         display: flex;
      }
   }

   &.cxm-desktop {
      @media screen and (min-width: 1000px) {
         display: flex;
      }
   }
}