.cxb-toast {
   background: white;
   box-sizing: border-box;
   position: relative;
   z-index: 1000;
   pointer-events: all;
   transition: all 0.2s ease-in-out;
   overflow: hidden;
   box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.3);
   border-radius: $cx-default-border-radius;
   transform: scale(0);
   opacity: 0;
   display: flex;
   flex-direction: row;
   align-items: center;

   &.cxs-pad {
      padding: 10px;
   }

   &.cxs-animated {
      transform: scale(1);
      opacity: 1;
   }
}

.cxb-toaster {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   pointer-events: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 0;
}

.cxe-toaster-item {
   margin: 0;
   height: 0;
   transition: all 0.2s ease-in-out;

   &.cxs-live {
      margin: 10px;
   }
}

