.cxb-toast {
   background: white;
   position: relative;
   z-index: 1000;
   pointer-events: all;
   max-height: 0;
   transition: all 0.2s;
   overflow: hidden;
   box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.3);
   border-radius: $cx-default-border-radius;

   &.cxs-pad {
      padding: 10px;
   }

   &.cxs-animated {
      max-height: 100vh;
   }
}

.cxb-toaster {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   pointer-events: none;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cxe-toaster-item {
   margin: 10px;
}