/*
BESM

B - block - top level HTML element
E - element - part of the component (block)
S - state - indicator of the component state which affects the appearance
M - mod - user supplied instruction which overrides default appearance
*/

$cx-besm: (
   block: 'cxb-',
   element: 'cxe-',
   state: 'cxs-',
   mod: 'cxm-',
) !default;

/*
 Boxes
 -----

 Boxes are inline-block elements which are likely to appear in the same row, such as buttons and form elements.
 These elements should have the same height in order to avoid problems when put together in a toolbar
 or a complex form.

 To achieve standard height, all box model should use the same line-height, top/bottom padding and border-width;

 For elements which do not have a natural border, such as checkboxes, radios and buttons,
  border-color should be set to transparent.

  box height = line-height + padding-top + padding-bottom + border-width-top + border-width-bottom

 Some browsers do not respect the line-height being set and therefore explicit height value is
 calculated and set on all box elements.

 Hint: Use em units to make that box height grows with the font-size, but note that elements
    will not be aligned on pixel boundaries and icons may be blurry in some desktop browsers.
*/

$cx-default-box-font-size: 13px !default;
$cx-default-box-font-family: inherit !default;
$cx-default-box-line-height: 16px !default;
$cx-default-box-padding: 5px !default; //should not be a list
$cx-default-box-border-width: 1px !default;

/*
Borders
-------
*/

$cx-default-border-color: #bfbfbf !default;
$cx-default-border-radius: 0 !default;
$cx-default-border-width: 1px !default;

/*
Padding
-------
 */

$cx-default-container-padding: 5px;
$cx-default-content-padding: 5px 10px;




/*
Empty Texts
------------

Displayed instead of whitespace
*/

$cx-default-empty-text-color: rgba(128, 128, 128, 0.7) !default;

$cx-empty-text: (
   color: $cx-default-empty-text-color
) !default;


//Icons
$cx-default-icon-size: 16px;


//Selection
$cx-selection-background-color: rgba(135, 206, 250, 0.6);


//Lists
$cx-list: (
   default: (),
   hover: (),
   focus: (
      outline: none
   )
);

$cx-list-item: (
   default: (),
   hover: (
      background-color: rgba(128, 128, 128, 0.1),
      outline: none
   ),
   hover-focus: (
      background-color: rgba(123,190,255, 0.15),
      outline: none,
   ),
   selected: (
      background-color: rgba(128, 128, 128, 0.2),
   ),
   selected-focus: (
      background-color: rgba(123,190,255, 0.4),
      outline: none,
   ),
   active: (
      //causes flickering
      //background: rgba(123,190,255, 0.7)
   ),
   disabled: (
      color: rgba(128, 128, 128, .5),
      background-color: rgba(128, 128, 128, .1),
      cursor: default
   )
);

