$cx-include-all: true !default;
$cx-include-global-rules: false !default;

$cx-theme-include-all: $cx-include-all;
$cx-theme-include-global-rules: $cx-include-global-rules;

// GLOBAL VARIABLES
$cx-default-font-family: 'Open Sans', sans-serif;

$cx-default-color: darken(white, 20) !default;

$cx-default-background-color: rgb(44, 44, 44) !default;
$cx-default-background-color-light: lighten($cx-default-background-color, 3) !default;
$cx-default-background-color-dark: darken($cx-default-background-color, 2) !default;

$cx-default-highlight-color: rgb(81, 90, 112) !default;
$cx-default-error-color: rgba(220, 0, 9, 0.8) !default;

$cx-default-border-color: rgb(68, 68, 68) !default;
$cx-default-border-color-dark: darken($cx-default-border-color, 14) !default;
$cx-default-border-radius: 2px !default;

// WELL
$cx-section-well: (
   background: $cx-default-background-color,
   border-radius: $cx-default-border-radius + 1px,
) !default;

// FORM
$cx-default-input-background-color: $cx-default-background-color-light !default;
$cx-default-input-color: darken($cx-default-color, 2) !default;

$cx-default-checkbox-size: 16px !default;
$cx-default-radio-size: 16px !default;

$cx-default-dropdown-background-color: $cx-default-background-color-dark !default;

// BUTTON
$cx-default-button-background-color: lighten($cx-default-background-color-light, 6) !default;
$cx-default-button-border-color: $cx-default-border-color !default;
$cx-default-button-color: darken($cx-default-color, 2) !default;
$cx-default-button-box-shadow: inset 0 -1px rgb(75, 75, 75) !default;

// GRID
$cx-default-grid-background-color: lighten($cx-default-background-color-light, 6) !default;
$cx-default-grid-header-background-color: lighten($cx-default-background-color-light, 3) !default;
$cx-default-grid-header-border-color: lighten($cx-default-border-color, 3) !default;

// MENU
// $cx-default-menu-item-padding: 10px !default;
$cx-default-menu-separator: darken($cx-default-border-color, 4);

// TOOLTIP
$cx-tooltip-background-color: lighten($cx-default-background-color-light, 5) !default;
$cx-tooltip-border-color: $cx-default-border-color !default;
$cx-tooltip-background-color-error: lighten($cx-default-background-color-light, 5) !default;
$cx-tooltip-border-color-error: $cx-default-error-color !default;

// TOAST
$cx-default-toast-background-color: lighten($cx-tooltip-background-color, 3) !default;
$cx-default-toast-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.3) !default;

// MONTHPICKER
$cx-default-monthpicker-font-size: 11px !default;

$cx-include-all: false;
$cx-include-global-rules: false;

// COVER
$cx-default-cover-background-color: lighten($cx-default-background-color-light, 2);
$cx-default-cover-border-color: $cx-default-cover-background-color;

// CHART
$cx-default-palette-fill-whiten: 38% !default;
$cx-default-palette-fill-hover-whiten: 38% !default;
$cx-default-palette-fill-selected-whiten: 20% !default;
$cx-default-palette-fill-disabled-whiten: 90% !default;
$cx-default-palette-stroke-blacken: 50% !default;


@import "~cx/index";

// BUTTON
$cx-button-state-style-map: cx-merge-state-style-maps($cx-button-state-style-map, (
  hover: (
    background-color: darken($cx-default-button-background-color, 2),
    border-color: darken($cx-default-button-background-color, 2),
    box-shadow:  inset 0 -1px rgb(68, 68, 68)
  ),
  active: (
    background-color: darken($cx-default-background-color-dark, 1),
    border-color: darken($cx-default-background-color-dark, 1),
    box-shadow:  inset 0 -1px rgb(30, 30, 30)
  ),
  disabled: (
    color: rgba(255, 255, 255, 0.2),
    background-color: rgba(112, 112, 112, 0.15),
    border-color: transparent
  ),
  focus: (
     box-shadow: 0 0 1px 1px $cx-default-highlight-color
  )
));

$cx-button-mods: cx-merge-state-style-maps($cx-button-mods, (
  hollow: (
    hover: (
      background-color: $cx-default-background-color-dark,
      box-shadow: none,
      border-color: $cx-default-background-color-dark
    ),
    focus: (
      background-color: $cx-default-highlight-color,
      box-shadow: none,
      border-color: $cx-default-highlight-color
    )
  ),
  primary: (
    default: (
        color: darken(white, 15),
        background-color: #006699,
        border-color: transparent,
        box-shadow: inset 0 -1px lighten(#006699, 3)
    ),
    disabled: (
        background-color: transparentize(#006699, 0.7),
        border-color: transparent,
        color: transparentize(white, 0.4),
        box-shadow: none
    ),
    hover: (
        background-color: darken(#006699, 3),
        border-color:transparent,
        box-shadow: inset 0 -1px darken(#006699, 1)
    ),
    active: (
        background-color: darken(#006699, 8),
        border-color: transparent,
        box-shadow: inset 0 -1px darken(#006699, 8)
    )
  ),
  danger: (
    default: (
        background-color: #860000,
        border-color: transparent,
        box-shadow: inset 0 -1px lighten(#860000, 1)
    ),
    disabled: (
        background-color: transparentize(#860000, 0.7),
        border-color: transparent,
        color: transparentize(white, 0.4),
        box-shadow: none
    ),
    hover: (
        background-color: darken(#860000, 3),
        border-color:transparent,
        box-shadow: inset 0 -1px darken(#860000, 1)
    ),
    active: (
        background-color: darken(#860000, 6),
        border-color: transparent,
        box-shadow: inset 0 -1px darken(#860000, 6)
    )
  )   
));

// LIST ITEM
$cx-list-item: cx-merge-state-style-maps($cx-list-item, (
  default: (
  ),
  hover: (
    background-color: $cx-default-background-color-dark
  ),
  hover-focus: (
    background-color: darken($cx-default-highlight-color, 12)
  ),
  selected: (
    background-color: darken($cx-default-highlight-color, 9)
  ),
  selected-focus: (
    background-color: $cx-default-highlight-color
  )
));

// tab
$cx-tab-mods: cx-merge-state-style-maps($cx-tab-mods, (
  classic: (
    selected: (             
      background-color: lighten($cx-default-background-color-light, 2)
    )
  ),
  line: (
    hover-focus: (
      border-color: darken($cx-default-highlight-color, 12)
    ),
    selected: (
      border-color: darken($cx-default-highlight-color, 3)
    ),
    selected-focus: (
      border-color: $cx-default-highlight-color
    )
  )
));

// menu
$cx-menuitem-state-style-map: cx-merge-state-style-maps($cx-menuitem-state-style-map, (
   default: (
      border-radius: $cx-default-border-radius
   ),
   hover: (
    
   ),
   selected-focus: (
      background-color: $cx-default-highlight-color // create a global variable for highlight color; add other states for menu items
   )

));

// FORM
$cx-input-state-style-map: cx-merge-state-style-maps($cx-input-state-style-map, (
   focus: (
      border-color: $cx-default-highlight-color,
      box-shadow: 0 0 2px $cx-default-highlight-color
   )  
));

// calendar
$cx-calendar-state-style-map: cx-merge-state-style-maps($cx-calendar-state-style-map, (
   today: (
      background-color: transparent,
      border-style: solid,
      border-width: 1px,
      border-color: darken($cx-default-error-color, 14)
   ),
   outside: (
      color: darken($cx-default-color, 35)
   )
));

// WINDOW
$cx-window-state-style-map: cx-merge-state-style-maps($cx-window-state-style-map, (
   default: (
      background-color: $cx-default-background-color-light
   )
));

$cx-window-header-state-style-map: cx-merge-state-style-maps($cx-window-header-state-style-map, (
   default: (
      background-color: $cx-default-background-color-dark,
      border-bottom: 1px solid $cx-default-background-color-dark
   )
));

$cx-window-body-state-style-map: cx-merge-state-style-maps($cx-window-body-state-style-map, (
   default: (
      background: $cx-default-background-color
   )
));

$cx-window-footer-state-style-map: cx-merge-state-style-maps($cx-window-footer-state-style-map, (
   default: (
      background: $cx-default-background-color
   )
));

// GRID
/*$cx-grid-header-state-style-map: cx-merge-state-style-maps($cx-grid-header-state-style-map, (
   hover: (
      background: $cx-default-background-color
   )
));

$cx-grid-data-state-style-map: cx-merge-state-style-maps($cx-grid-data-state-style-map, (
  default: (
    background-color: $cx-default-background-color-light,
    border-color: $cx-default-border-color
  )
));*/


// CHART



// GLOBALS
$cx-element-style-map: cx-merge-state-style-maps($cx-element-style-map, (
   html: (
      background: #222
   ),
   h1: (

   ),
   h2: (

   ),
   h3: (

   ),
   h4: (

   ),
   h5: (

   ),
   h6: (

   ),

   a: (
      color: darken(#9faed2, 4)
   ),

   // 'a:visited' (
   //      color: #9faed2
   // ),

   // 'a:hover': (
   //    color: lighten(#a8b5d6, 4)
   // ),

   // 'a:active': (
   //    color: darken(#9faed2, 5)
   // )
));



$cx-include-all: $cx-theme-include-all;
$cx-include-global-rules: $cx-theme-include-global-rules;


@import "~cx/index";

.cxb-grid.cxs-scrollable.cxs-border {
  border-color: $cx-default-grid-header-border-color;
}

.cxe-grid-data {
  &:nth-child(odd) {
    background-color: lighten($cx-default-background-color, 2);   

    &.cxs-selected {
      @include cx-add-state-rules($cx-list-item, selected);
      &:hover {
        @include cx-add-state-rules($cx-list-item, selected);
      }
    }  
    &.cxs-cursor {
      @include cx-add-state-rules($cx-list-item, hover);
    }
  
    .cxs-focused &, :focus & {
      &.cxs-cursor {
        @include cx-add-state-rules($cx-list-item, hover-focus);
      }
      &.cxs-selected {
        @include cx-add-state-rules($cx-list-item, selected-focus);
      }
    }
  }
}

.cxe-grid-header .cxe-textfield-input {
  background-color: $cx-default-background-color;
}