$cx-include-all: true !default;
$cx-include-global-rules: false !default;

$cx-theme-include-all: $cx-include-all;
$cx-theme-include-global-rules: $cx-include-global-rules;

$cx-default-color: darken(white, 20) !default;

$cx-default-font-family: 'Open Sans', sans-serif;


$cx-section-well: (
   background: rgba(128, 128, 128, 0.1),
   border-radius: 3px,
) !default;

$cx-default-input-background-color: rgba(52, 52, 52, 1) !default;
$cx-default-input-color: darken($cx-default-color, 2) !default;
$cx-default-border-color: rgba(128, 128, 128, 0.13) !default;

$cx-default-checkbox-size: 16px !default;
$cx-default-radio-size: 16px !default;

$cx-default-dropdown-background-color: darken(#343434, 7) !default;

$cx-default-button-background-color: rgba(52, 52, 52, 1) !default;
$cx-default-button-border-color: rgba(32, 32, 32, 1) !default;
$cx-default-button-color: darken($cx-default-color, 2) !default;

$cx-default-grid-header-background-color: rgba(14, 14, 18, 0.2) !default;

$cx-default-cover-background-color: rgb(53, 53, 53) !default;


$cx-include-all: false;
$cx-include-global-rules: false;



@import "~cx/index";

$cx-button-state-style-map: cx-merge-state-style-maps($cx-button-state-style-map, (
  hover: (
    background-color: darken($cx-default-button-background-color, 2)
  ),
  active: (
    background-color: lighten(rgba(29, 29, 29, 1), 4),
    border-color: lighten($cx-default-button-border-color, 1)
  ),
  disabled: (
    color: rgba(255, 255, 255, 0.2),
    border-color: transparent
  )
));

$cx-button-mods: cx-merge-state-style-maps($cx-button-mods, (
  hollow: (
    focus: (
      background-color: rgb(81, 90, 112),
      box-shadow: none
    )
  )  
));

$cx-list-item: cx-merge-state-style-maps($cx-list-item, (
  default: (
  ),
  hover: (
    background-color: lighten(rgba(29, 29, 29, 1), 3)
  ),
  selected: (
  ),
  selected-focus: (
    background-color: rgb(81, 90, 112) 
  )
));

$cx-tab-mods: cx-merge-state-style-maps($cx-tab-mods, (
  classic: (
    selected: (             
      background-color: rgba(61, 61, 61, 1)
    )
  ),
  line: (
    selected-focus: (
      border-color: rgb(81, 90, 112)
    )
  )
));

$cx-input-state-style-map: cx-merge-state-style-maps($cx-input-state-style-map, (
   focus: (
      border-color: rgba(115, 127, 154, 0.8),
      box-shadow: 0 0 2px rgba(115, 127, 154, 0.8)
   )  
));



//globals
$cx-element-style-map: cx-merge-state-style-maps($cx-element-style-map, (
   html: (
      background: #222
   ),
   h1: (

   ),
   h2: (

   ),
   h3: (

   ),
   h4: (

   ),
   h5: (

   ),
   h6: (

   ),

   a: (
      color: darken(#9faed2, 4)
   ),

   // 'a:visited' (
   //      color: #9faed2
   // ),

   // 'a:hover': (
   //    color: lighten(#a8b5d6, 4)
   // ),

   // 'a:active': (
   //    color: darken(#9faed2, 5)
   // )
));



$cx-include-all: $cx-theme-include-all;
$cx-include-global-rules: $cx-theme-include-global-rules;

@import "~cx/index";