
@import '~cx-core/src/index';

.cxb-grid.cxs-scrollable.cxs-border {
  border-color: $cx-default-grid-header-border-color;
}

.cxe-grid-data {
  &:nth-child(odd) {
    background-color: lighten($cx-default-background-color, 2);   

    &.cxs-selected {
      @include cx-add-state-rules($cx-list-item, selected);
      &:hover {
        @include cx-add-state-rules($cx-list-item, selected);
      }
    }  
    &.cxs-cursor {
      @include cx-add-state-rules($cx-list-item, hover);
    }
  
    .cxs-focused &, :focus & {
      &.cxs-cursor {
        @include cx-add-state-rules($cx-list-item, hover-focus);
      }
      &.cxs-selected {
        @include cx-add-state-rules($cx-list-item, selected-focus);
      }
    }
  }
}

.cxe-grid-header .cxe-textfield-input {
  background-color: $cx-default-background-color;
}


/* Scrollbar Style*/

@if ($cx-include-global-rules) {
  ::-webkit-scrollbar {
	  width: 10px;
	  height: 10px;
	  background-color: $cx-default-background-color-dark;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
		
    &:vertical {
	    background-color: lighten($cx-default-background-color-light, 6);
        &:hover {
          background-color: lighten($cx-default-background-color-light, 8);
        }
    }

	  &:horizontal {
		  background-color: lighten($cx-default-background-color-light, 8);
        &:hover {
          background-color: lighten($cx-default-background-color-light, 10);
        }
	  }
  }
  ::-webkit-scrollbar-corner {			
	  background-color: darken($cx-default-background-color-light, 2);
	  border-left: 1px solid $cx-default-border-color;
	  border-top: 1px solid $cx-default-border-color;
	  -webkit-box-shadow: darken($cx-default-background-color, 3) 0 1px inset;
  }
}
