$cx-include-all: true !default;
$cx-include-global-rules: false !default;

$cx-theme-include-all: $cx-include-all;
$cx-theme-include-global-rules: $cx-include-global-rules;

$cx-default-color: darken(white, 20) !default;

$cx-default-border-color: rgb(68, 68, 68) !default;
$cx-default-border-radius: 2px !default;

$cx-default-font-family: 'Open Sans', sans-serif;

$cx-section-well: (
   background: rgba(128, 128, 128, 0.1),
   border-radius: 3px,
) !default;

$cx-default-input-background-color: rgba(52, 52, 52, 1) !default;
$cx-default-input-color: darken($cx-default-color, 2) !default;

$cx-default-checkbox-size: 16px !default;
$cx-default-radio-size: 16px !default;

$cx-default-dropdown-background-color: darken(rgb(52, 52, 52), 5), !default;

$cx-default-button-background-color: rgba(52, 52, 52, 1) !default;
$cx-default-button-border-color: rgba(32, 32, 32, 1) !default;
$cx-default-button-color: darken($cx-default-color, 2) !default;

$cx-default-grid-background-color: rgb(50, 50, 50) !default;
$cx-default-grid-header-background-color: darken(rgb(52, 52, 52), 6) !default;

// MENU
// $cx-default-menu-item-padding: 10px !default;
$cx-default-menu-separator: darken($cx-default-border-color, 4);

// TOOLTIP
$cx-tooltip-background-color: lighten(rgb(52, 52, 52), 6) !default;
$cx-tooltip-border-color: $cx-default-border-color !default;
$cx-tooltip-background-color-error: lighten(rgb(52, 52, 52), 6) !default;
$cx-tooltip-border-color-error: rgba(220, 0, 9, 0.8) !default;

// TOAST
$cx-default-toast-background-color: lighten($cx-tooltip-background-color, 3) !default;
$cx-default-toast-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.3) !default;

// MONTHPICKER
$cx-default-monthpicker-font-size: 11px !default;

$cx-include-all: false;
$cx-include-global-rules: false;



@import "~cx/index";

$cx-button-state-style-map: cx-merge-state-style-maps($cx-button-state-style-map, (
  hover: (
    background-color: darken($cx-default-button-background-color, 2)
  ),
  active: (
    background-color: lighten(rgba(29, 29, 29, 1), 4),
    border-color: lighten($cx-default-button-border-color, 1)
  ),
  disabled: (
    color: rgba(255, 255, 255, 0.2),
    border-color: transparent
  )
));

$cx-button-mods: cx-merge-state-style-maps($cx-button-mods, (
  hollow: (
    focus: (
      background-color: rgb(81, 90, 112),
      box-shadow: none
    )
  )  
));

$cx-list-item: cx-merge-state-style-maps($cx-list-item, (
  default: (
  ),
  hover: (
    background-color: lighten(rgb(29, 29, 29), 3)
  ),
  hover-focus: (
    background-color: darken(rgba(81, 90, 112, 0.7), 8)
  ),
  selected: (
    background-color: rgb(81, 90, 112)
  ),
  selected-focus: (
    background-color: rgb(81, 90, 112)
  )
));

$cx-tab-mods: cx-merge-state-style-maps($cx-tab-mods, (
  classic: (
    selected: (             
      background-color: rgba(61, 61, 61, 1)
    )
  ),
  line: (
    selected-focus: (
      border-color: rgb(81, 90, 112)
    )
  )
));

$cx-input-state-style-map: cx-merge-state-style-maps($cx-input-state-style-map, (
   focus: (
      border-color: rgba(115, 127, 154, 0.8),
      box-shadow: 0 0 2px rgba(115, 127, 154, 0.8)
   )  
));

$cx-window-state-style-map: cx-merge-state-style-maps($cx-window-state-style-map, (
   default: (
      background-color: rgb(52, 52, 52)
   )
));

$cx-window-header-state-style-map: cx-merge-state-style-maps($cx-window-header-state-style-map, (
   default: (
      background-color: darken(rgb(52, 52, 52), 4),
      border-bottom: 1px solid darken(rgb(52, 52, 52), 4)
   )
));

$cx-window-body-state-style-map: cx-merge-state-style-maps($cx-window-body-state-style-map, (
   default: (
      background: darken(rgb(52, 52, 52), 2)
   )
));

$cx-window-footer-state-style-map: cx-merge-state-style-maps($cx-window-footer-state-style-map, (
   default: (
      background: darken(rgb(52, 52, 52), 2)
   )
));


//globals
$cx-element-style-map: cx-merge-state-style-maps($cx-element-style-map, (
   html: (
      background: #222
   ),
   h1: (

   ),
   h2: (

   ),
   h3: (

   ),
   h4: (

   ),
   h5: (

   ),
   h6: (

   ),

   a: (
      color: darken(#9faed2, 4)
   ),

   // 'a:visited' (
   //      color: #9faed2
   // ),

   // 'a:hover': (
   //    color: lighten(#a8b5d6, 4)
   // ),

   // 'a:active': (
   //    color: darken(#9faed2, 5)
   // )
));



$cx-include-all: $cx-theme-include-all;
$cx-include-global-rules: $cx-theme-include-global-rules;

@import "~cx/index";