//THEME SPECIFIC VARIABLES
// pick theme color scheme
$primary-color-blue: #47ccde !default; //#00BFFF !default;//lighten(#0587DD, 12) !default;//
$primary-color-gray: #607d8b !default;
$primary-color-brown: #795548 !default;
$primary-color-pink: #c2185b !default;
$primary-color-purple: #673ab7 !default;
$primary-color-red: #d32f2f !default;
$primary-color-black: #212121 !default;
$primary-color-green: #4caf50 !default;
$primary-color-indigo: #3f51b5 !default;
$primary-color-teal: #009688 !default;

$cx-theme-primary-color: #49c7de !default;
$cx-theme-primary-color-light: lighten($cx-theme-primary-color, 8) !default;
$cx-theme-primary-color-dark: darken($cx-theme-primary-color, 7) !default;

$cx-theme-primary-text-color: darken($cx-theme-primary-color, 15) !default;

@function get-accent-color($primary-color) {
   $accent-color: null;
   @if green($primary-color) <= 80 {
      $accent-color: #ffeb3b;
   } @else if green($primary-color) >= 150 and red($primary-color) < 20 and saturation($primary-color) > 90% {
      $accent-color: #cddc39;
   } @else if green($primary-color) > 80 and green($primary-color) <= 175 and saturation($primary-color) < 50% and saturation($primary-color) > 20% {
      $accent-color: #ff9800;
   } @else {
      $accent-color: #ffc107;
   }
   @return $accent-color;
}

$cx-theme-accent-color: #ffffb0 !default;
$cx-theme-danger-color: #ec695f !default;
$cx-theme-danger-color-dark: darken($cx-theme-danger-color, 15) !default;
$cx-theme-secondary-text-color: #757575 !default;

$cx-theme-background-gradient:  linear-gradient(to top right, $cx-theme-primary-color-dark, $cx-theme-primary-color) !default;//linear-gradient(to top right, $cx-theme-primary-color, #00cde1) !default;

$cx-theme-focus-box-shadow: 0 0 2px 2px  rgba($cx-theme-primary-color, 0.4);

// shadows
$cx-theme-box-shadow: 0 1px 10px rgba(197, 176, 176, 0.1) !default;
$cx-theme-box-shadow-elevated: 0 2px 20px rgba(0, 0, 0, 0.2) !default;

// pick theme size
$normal-base-size: 14px !default;
$small-base-size: 12px !default;
$cx-theme-base-size: $normal-base-size !default;

//GLOBAL VARIABLES
$cx-default-container-padding: 5px !default;

$cx-default-font-family: 'Open Sans', 'Roboto', sans-serif !default;
$cx-default-color: rgba(0, 0, 0, 0.7) !default;
$cx-default-color-light: rgba($cx-default-color, 0.6) !default;
$cx-default-font-weight: 400 !default;
$cx-default-paragraph-line-height: 1.5 !default;

$cx-default-background-color: #fff !default;

$cx-default-border-color: #d3d8d6 !default;
$cx-default-border-color-light: lighten($cx-default-border-color, 10) !default;
$cx-default-border-radius: 4px !default;

$cx-default-icon-size: 16px !default;

$cx-default-box-font-size: 14px !default;
$cx-default-box-line-height: 24px !default;
$cx-default-box-border-width: 1px !default;
$cx-default-box-padding: 5px !global;

//$cx-default-padding-extra-small: 5px !default;
//$cx-default-padding-small: $cx-default-box-padding !default;
//$cx-default-padding-medium: 10px !default;
//$cx-default-padding-large: 14px !default;
//$cx-default-padding-extra-large: 19px !default;

$cx-default-transition: all 0.35s ease !default;

$cx-default-dropdown-arrow-offset: 26px !default;

$cx-use-box-line-height-fix: false !default;

//BUTTON
$cx-default-button-color: $cx-default-color !default;
$cx-default-button-font-size: 11px !default;
$cx-default-button-font-weight: 600 !default;
$cx-default-button-background-color: #f3f3f3; //#fff !default;
$cx-default-button-border-width: 1px !default;
$cx-default-button-border-color: lightgray !default;
$cx-default-button-border-radius: $cx-default-border-radius !default;
$cx-default-button-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); //$cx-theme-box-shadow !default; //
$cx-default-button-padding: $cx-default-box-padding 2 * $cx-default-box-padding + $cx-default-box-line-height - $cx-default-icon-size !default;

// float button text color picker
@function set-text-color($bg-color) {
   @if (lightness($bg-color) > 55) {
      @return $cx-default-color; // Lighter backgorund, return dark color
   } @else {
      @return #ffffff; // Darker background, return light color
   }
}

//TAB
$cx-default-tab-color: $cx-default-color-light !default;
$cx-default-tab-font-size: $cx-default-box-font-size - 1px !default;
$cx-default-tab-font-weight: 700 !default;
$cx-default-tab-background-color: transparent !default;
$cx-default-tab-border-width: 0 !default;
$cx-default-tab-border-color: transparent !default;
$cx-default-tab-border-radius: $cx-default-border-radius !default;
$cx-default-tab-padding: $cx-default-box-padding 2*$cx-default-box-padding+10px !default;

//SCROLLER
$cx-default-scroller-button-size: 30px !default;

//SECTION
$cx-default-section-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.1) !default;
$cx-default-section-border-radius: $cx-default-border-radius !default;

//MENU
$cx-default-menu-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !default;
$cx-default-menu-separator-color: #e9e9e9 !default;

//WINDOW
$cx-default-window-box-shadow: $cx-theme-box-shadow-elevated !default;
$cx-default-window-header-padding: 10px 10px 10px 20px !default;
$cx-default-window-header-font-size: 18px !default;
$cx-default-window-header-color: $cx-theme-primary-text-color !default;
$cx-default-window-header-background-color: $cx-default-background-color !default;

//TOAST
$cx-default-toast-box-shadow: $cx-theme-box-shadow-elevated !default;
$cx-default-toast-padding: 2 * $cx-default-box-padding 2 * $cx-default-box-padding !default;

//GRID
$cx-default-grid-font-size: $cx-default-box-font-size - 1px !default;
$cx-default-grid-border-radius: $cx-default-border-radius !default;
$cx-default-grid-border-color: lighten($cx-default-border-color, 5) !default;

// header
$cx-default-grid-header-font-size: $cx-default-box-font-size - 3px !default;
$cx-default-grid-header-font-weight: 700 !default;
$cx-default-grid-header-line-height: $cx-default-box-line-height !default;
$cx-default-grid-header-color: $cx-default-color !default;
$cx-default-grid-header-background-color: lighten($cx-default-button-background-color, 1) !default;
$cx-default-grid-header-border-color: $cx-default-grid-border-color !default;
$cx-default-grid-header-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06) !default;
$cx-default-grid-header-padding: $cx-default-box-padding 1.5 * $cx-default-box-padding !default;

// data
//$cx-default-grid-data-font-size: 25px !default;
//$cx-default-grid-data-font-weight: 500 !default;
//$cx-default-grid-data-border-color: transparent !default;//lighten($cx-default-border-color, 5) !default;
$cx-default-grid-data-background-color: #fff !default;
$cx-default-grid-data-padding: $cx-default-box-padding 1.5 * $cx-default-box-padding !default;
$cx-default-grid-data-line-height: $cx-default-box-line-height;

//FORM
$cx-default-input-font-size: $cx-default-box-font-size - 1px !default;
$cx-default-input-width: 200px;
$cx-default-input-border-color: $cx-default-border-color-light !default;
$cx-default-input-box-shadow: null !default; //none; //0 0 1px darken($cx-default-input-border-color, 20) !default;
$cx-default-input-background-color: #f8f9fb !default; //#f8f9fb !default;
$cx-default-input-padding: $cx-default-box-padding  1.5 * $cx-default-box-padding !default;
$cx-default-input-left-tool-left: 6px !default;
$cx-default-input-left-tool-spacing: 2px !default;
$cx-default-input-right-tool-right: 6px !default;


// label
$cx-default-label-font-size: 12px !default;
$cx-default-label-color: rgba(0, 0, 0, 38) !default;

// date time picker
$cx-default-datetimepicker-border-color: transparent !default;
$cx-default-datetimepicker-border-radius: $cx-default-border-radius !default;
$cx-default-wheel-clip-border-color: transparent !default;

// calendar
$cx-default-calendar-background-color: #fff !default;
$cx-default-calendar-border-width: 0px !default;
$cx-default-calendar-border-color: $cx-default-input-border-color !default;
$cx-default-calendar-border-radius: $cx-default-border-radius !default;
$cx-default-calendar-box-shadow: $cx-theme-box-shadow-elevated !default;
$cx-default-calendar-padding: 0 0 10px !default;

$cx-default-calendar-header-font-size: $cx-default-box-font-size + 2px !default;
$cx-default-calendar-header-color: $cx-default-color !default;
$cx-default-calendar-header-background-color: $cx-default-background-color !default;

$cx-default-calendar-day-font-size: 11px !default;
$cx-default-calendar-day-border-radius: $cx-default-border-radius !default;

// checkbox
$cx-default-checkbox-size: $cx-default-box-line-height - 8px !default;
//$cx-default-checkbox-border-width: 2px !default;
$cx-default-checkbox-border-color: $cx-default-border-color !default;

// radio
$cx-default-radio-size: $cx-default-box-line-height - 8px !default;
$cx-default-radio-color: $cx-theme-primary-color-light !default;
//$cx-default-radio-border-width: 2px !default;
$cx-default-radio-border-color: $cx-default-border-color !default;

// lookupfield tag
$cx-default-input-tag-font-size: 12px !default;
$cx-default-input-tag-border-radius: $cx-default-border-radius !default;
$cx-default-input-tag-spacing: 4px !default;
$cx-default-input-tag-padding: 0 !default;

// colorpicker
$cx-default-colorpicker-font-family: $cx-default-font-family !default;
$cx-default-colorpicker-background-color: $cx-default-calendar-background-color !default;
$cx-default-colorpicker-border-width: 1px !default;
$cx-default-colorpicker-box-shadow: none !default;

// slider
$cx-default-slider-axis-size: 4px !default;
$cx-default-slider-axis-background-color: $cx-default-border-color-light !default;
$cx-default-slider-range-background-color: $cx-theme-primary-color-light !default;
$cx-default-slider-handle-size: 16px !default;
$cx-default-slider-handle-background-color: $cx-theme-primary-color-light !default;
$cx-default-slider-handle-border-width: 0 !default;
$cx-default-slider-handle-border-color: $cx-default-slider-handle-background-color !default;
$cx-default-slider-handle-box-shadow: $cx-theme-box-shadow !default;

// switch
$cx-default-switch-axis-size: 24px !default;
$cx-default-switch-axis-background-color: $cx-default-border-color-light !default;
$cx-default-switch-handle-size: 18px !default;
$cx-default-switch-width: 40px !default;
$cx-default-switch-range-background-color: $cx-theme-primary-color-light !default;
$cx-default-switch-handle-background-color: #fff !default;
$cx-default-switch-handle-border-color: $cx-default-switch-handle-background-color !default;
$cx-default-switch-handle-box-shadow: $cx-theme-box-shadow-elevated !default;

// icon
$cx-default-input-tool-size: $cx-default-box-line-height !default;
$cx-default-input-left-tool-size: $cx-default-box-line-height !default;
$cx-default-clear-size: $cx-default-box-line-height !default;

// CHART

$cx-default-palette-fill-whiten: 30% !default;
$cx-default-palette-fill-hover-whiten: 50% !default;
$cx-default-palette-fill-selected-whiten: 0% !default;
$cx-default-palette-fill-disabled-whiten: 90% !default;

$cx-default-palette-fill-blacken: 5% !default;
$cx-default-palette-fill-hover-blacken: 5% !default;
$cx-default-palette-fill-selected-blacken: 7% !default;
$cx-default-palette-fill-disabled-blacken: 0% !default;

//PROGRESSBAR
$cx-default-progressbar-width: 200px !default;
$cx-default-progressbar-height: 16px !default;
$cx-default-progressbar-font-size: 10px !default;
$cx-default-progressbar-color: $cx-default-color !default;
$cx-default-progressbar-background-color: $cx-default-border-color-light !default;
$cx-default-progressbar-border-width: 0 !default;

$cx-default-progressbar-indicator-background-color: rgba($cx-theme-primary-color, 0.6) !default;

@import "~cx/src/variables";

//VARIABLE MAPS
//LIST
$cx-list-item: cx-deep-map-merge($cx-list-item, (
   default: (
      color: inherit,
      padding: round(1.5*$cx-default-box-padding) 0,
      font-size: $cx-default-box-font-size - 1px
   ),
   hover: (
      background-color: rgba(0, 0, 0, 0.01)
   ),
   cursor: (
      background-color: rgba(0, 0, 0, 0.02)
   ),
   selected: (
      background-color: rgba(0, 0, 0, 0.03),
      color: $cx-theme-primary-text-color
   ),
   selected-hover: (
      background-color: rgba(0, 0, 0, 0.05),
      color: $cx-theme-primary-text-color
   ),
   selected-cursor: (
      background-color: rgba(0, 0, 0, 0.05),
      color: $cx-theme-primary-text-color
   ),
   disabled: (
      background-color: transparent
   )
));

//BUTTON
$cx-button-state-style-map: cx-deep-map-merge($cx-button-state-style-map, (
   default: (
      transition: all 0.1s,
      text-transform: uppercase
   ),
   hover: (
      //color: $cx-theme-primary-color-dark,
      //background-color: darken($cx-default-button-background-color, 0.5),
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3)
   ),
   focus: (
      //background-color: darken($cx-default-button-background-color, 2),
      box-shadow: $cx-theme-focus-box-shadow,
   ),
   active: (
      background-color: darken($cx-default-button-background-color, 4),
      box-shadow: none,
      top: 0
   ),
   disabled: (
      color: rgba(0, 0, 0, 0.26)
   )
));

// button mods
$cx-button-mods: cx-deep-map-merge($cx-button-mods, (
   primary: (
      default: (
         transition: all 0.1s,
         //box-shadow: 0 2px 4px rgba($cx-theme-primary-color, 0.4),
         border-color: darken($cx-theme-primary-color, 10),
         background: $cx-theme-background-gradient     
      ),
      hover: (
         // background-color: darken($cx-theme-primary-color, 5),
         //box-shadow: 0 2px 12px rgba($cx-theme-primary-color, 0.7),
         //background: linear-gradient(to top right, darken($cx-theme-primary-color-dark, 4), darken($cx-theme-primary-color, 4))
      ),
      focus: (
         //background-color: darken($cx-theme-primary-color, 10),
         //box-shadow: 0 2px 6px rgba(darken($cx-theme-primary-color, 30), 0.5) ,
      ),
      active: (
         background-color: darken($cx-theme-primary-color, 9),
         box-shadow: none,   
         background: linear-gradient(to top right, darken($cx-theme-primary-color-dark, 8), darken($cx-theme-primary-color, 8)),
         top: 0
      ),
      disabled: (
         box-shadow: none,
         border-color: transparent,
         color: rgba(255, 255, 255, 0.45),
         background-color: rgba($cx-theme-primary-color, 0.5)
      )
   ),
   rounded: (
      default: (
         border-radius: 999px
      )
   ),
   danger: (
      default: (
         transition: all 0.1s,
         background: linear-gradient(to top right, $cx-theme-danger-color-dark, $cx-theme-danger-color),
         //box-shadow: 0 4px 16px rgba($cx-theme-danger-color, 0.4)
      ),
      hover: (
         //background-color: darken($cx-theme-danger-color, 5),
         //background: linear-gradient(to top right, darken($cx-theme-danger-color-dark, 6), darken($cx-theme-danger-color, 6)),
         //box-shadow: 0 1px 2px rgba($cx-theme-danger-color, 0.4)
      ),
      focus: (
         background-color: darken($cx-theme-danger-color, 10)
      ),
      active: (
         background-color: darken($cx-theme-danger-color, 9),
         background: linear-gradient(to top right, darken($cx-theme-danger-color-dark, 10), darken($cx-theme-danger-color, 10)),
         box-shadow: none,   
         top: 0
      ),
      disabled: (
         box-shadow: none,
         border-color: transparent,
         color: rgba(255, 255, 255, 0.45)
      )
   ),
   flat-primary: (
      default: (
         color: $cx-theme-primary-text-color,
         background-color: transparent,
         border-color: transparent,
         box-shadow: none
      ),
      hover: map-merge(map-get($cx-list-item, hover), (
         box-shadow: none,
         border-color: transparent
      )),
      focus: (
         background-color: darken($cx-default-background-color, 8),
         box-shadow: none
      ),
      active: (
         background-color: rgba(153, 153, 153, 0.25)
      ),
      disabled: (
         color: rgba(0, 0, 0, 0.26)
      )
   ),
   flat-accent: (
      default: (
         font-size: 14px,
         color: $cx-theme-accent-color,
         background-color: transparent,
         border-color: transparent,
         box-shadow: none
      ),
      hover: map-merge(map-get($cx-list-item, hover), (
         box-shadow: none,
         border-color: transparent
      )),
      focus: (
         background-color: darken($cx-default-background-color, 8),
         box-shadow: none
      ),
      active: (
         background-color: rgba(153, 153, 153, 0.25)
      ),
      disabled: (
         color: rgba(0, 0, 0, 0.26)
      )
   ),
   hollow: (
      hover: (
         background-color: rgba(0, 0, 0, 0.03)
      ),
      focus: (
         background-color: rgba(0, 0, 0, 0.08),
         box-shadow: none
      ),
      active: (
         background-color: rgba(0, 0, 0, 0.1)
      ),
      disabled: (
         color: rgba(0, 0, 0, 0.26)
      )
   ),
   float: (
      default: (
         color: set-text-color($cx-theme-accent-color),
         background-color: $cx-theme-accent-color,
         border-radius: 50%,
         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45),
         padding: 0 !important,
         width: $cx-default-box-line-height + 2 * ($cx-default-box-padding + 1px) + 10px,
         height: $cx-default-box-line-height + 2 * ($cx-default-box-padding + 1px) + 10px
      ),
      hover: (
         background-color: $cx-theme-accent-color,
         box-shadow: 0 5px 8px rgba(0, 0, 0, 0.45)
      ),
      focus: (
         background-color: darken($cx-theme-accent-color, 4)
      ),
      active: (
         background-color: lighten($cx-theme-accent-color, 3),
         box-shadow: 0 8px 12px rgba(0, 0, 0, 0.45)
      ),
      disabled: (
         box-shadow: none,
         border-color: transparent,
         color: rgba(255, 255, 255, 0.45),
         background-color: rgba($cx-theme-primary-color, 0.5)
      )
   ),
   big: (
      default: (
         padding: $cx-default-padding-medium 2 * $cx-default-padding-medium
      )
   )
));

//TAB
$cx-tab-state-style-map: cx-deep-map-merge($cx-tab-state-style-map, (
   default: (      
      line-height: $cx-default-box-line-height,
      text-transform: uppercase
   ),
   cursor: (
      background-color: rgba(0, 0, 0, 0.1),
      //color: $cx-theme-primary-color,
      outline: none
   ),
   selected: (
      background-color: $cx-theme-primary-color,
      color: #fff,
      font-weight: $cx-default-tab-font-weight,
      //box-shadow: $cx-theme-box-shadow-elevated
   ),
   selected-cursor: (
      color: #fff,
      background-color: darken($cx-theme-primary-color, 5),
      //box-shadow: $cx-theme-box-shadow
   ),
   active: (
      color: $cx-theme-primary-color,
      background-color: $cx-default-tab-background-color
   ),
   disabled: (
      background-color: $cx-default-tab-background-color,
      color: rgba(0, 0, 0, 0.26)
   )
));

// tab mods
$cx-tab-mods: cx-deep-map-merge($cx-tab-mods, (
   classic: (
      default: (      
         line-height: $cx-default-box-line-height - 2px,
         border-bottom-width: 0,
         border-left-width: 0,
         border-color: $cx-default-border-color,
         box-shadow: none,
         border-radius: 0  
      ),
      hover: (
         color: $cx-theme-primary-text-color,
         background-color: rgba(0, 0, 0, 0.02)
      ),
      cursor: (
         background-color: rgba(0, 0, 0, 0.03),
         color: $cx-theme-primary-text-color,
         outline: none
      ),
      selected: (
         color: $cx-theme-primary-text-color,
         font-weight: $cx-default-tab-font-weight,
         background-color: #fff,
         border-top-color: $cx-theme-primary-color,
         box-shadow: inset 0 2px deepskyblue
      ),
      selected-cursor: (
         color: $cx-theme-primary-text-color,
         background-color: transparent,
         border-color: rgba($cx-theme-primary-color-dark, 0.8) $cx-default-border-color transparent,
         box-shadow: inset 0 2px deepskyblue
      ),
      active: (
         background-color: $cx-default-tab-background-color
      ),
      disabled: (
         background-color: $cx-default-tab-background-color,
         color: rgba(0, 0, 0, 0.26)
      )
   ),
   line: (
      default: (
         border-bottom-width: 3px,
         line-height: $cx-default-box-line-height - 4px,
         padding: $cx-default-box-padding 0,
         margin: 0 15px
      ),
      selected: (
         box-shadow: none,
         color: $cx-theme-primary-text-color,
         font-weight: $cx-default-tab-font-weight,
         border-color: $cx-theme-primary-color         
      ),
      hover: (
         border-color: transparent,
         color: $cx-theme-primary-text-color
      ),
      cursor: (
         color: $cx-default-tab-color,
         font-weight: $cx-default-tab-font-weight,
         border-color: rgba($cx-theme-primary-color, 0.3)         
      ),
      selected-cursor: (
         color: $cx-theme-primary-text-color,
         font-weight: $cx-default-tab-font-weight,
         border-color: rgba($cx-theme-primary-color, 0.8)
      )
   ),
   // If a tab is inside a dark-colored container, use mod="line-accent".
   line-accent: (
      default: (
         color: rgba(255, 255, 255, 0.7),
         border-left-color: transparent !important,
         border-right-color: transparent !important,
         border-top-color: transparent !important,
         border-left-width: 0,
         border-right-width: 0,
         border-bottom-width: 2px,
         border-top-width: 0,
         border-bottom-left-radius: 0,
         border-bottom-right-radius: 0,
         padding: ($cx-default-box-padding + 1px) (2 * $cx-default-box-padding + 10px) ($cx-default-box-padding - 1px)
      ),
      hover: (
         border-color: rgba(255, 255, 255, 0.3),
         background-color: transparent
      ),
      cursor: (
         background-color: transparent,
         border-color: rgba(255, 255, 255, 0.3),
         color: rgba(255, 255, 255, 0.8)
      ),
      selected: (
         color: #fff,
         background-color: transparent,
         border-color: $cx-theme-accent-color
      ),
      selected-cursor: (
         border-color: lighten($cx-theme-accent-color, 10)
      ),
      disabled: (
         color: rgba(255, 255, 255, 0.3)
      )
   )
));

//SECTION
$cx-section-mods: cx-deep-map-merge($cx-section-mods, (
   card: (
      default: (
         background-color: white,
         border-radius: $cx-default-section-border-radius,
         box-shadow: $cx-default-section-box-shadow
      )
   ),
   primary: (
      default: (
         color: #fff,
         background-color: $cx-theme-primary-color,
         border-radius: $cx-default-border-radius,
         box-shadow: $cx-default-section-box-shadow
      )
   ),
   success: (
      default: (
         box-shadow: $cx-default-section-box-shadow
      )
   ),
   warning: (
      default: (
         box-shadow: $cx-default-section-box-shadow
      )
   ),
   error: (
      default: (
         box-shadow: $cx-default-section-box-shadow
      )
   )
));

// can be used interchangeably with mod='card'
.cxm-well {
   @extend .cxm-card;
}

//MENU
$cx-dropdown-styles: map-merge($cx-dropdown-styles, (
   font-size: $cx-default-box-font-size - 1px,
   font-weight: 500,   
   border-width: 0,
   border-style: solid,
   box-shadow: $cx-theme-box-shadow-elevated
));

$cx-menu-state-style-map: map-merge($cx-menu-state-style-map, (
   default: (
      color: inherit
   )
));

//WINDOW
$cx-window-state-style-map: cx-deep-map-merge($cx-window-state-style-map, (
   default: (
      background: white,
      border-radius: $cx-default-border-radius,
      box-shadow: $cx-default-window-box-shadow
   )
));

// header
$cx-window-header-state-style-map: cx-deep-map-merge($cx-window-header-state-style-map, (
   default: (
      border-top-left-radius: $cx-default-border-radius,
      border-top-right-radius: $cx-default-border-radius,
   ),
   hover: (
      border-color: $cx-default-grid-header-border-color
   )
));

// body
$cx-window-body-state-style-map: cx-deep-map-merge($cx-window-body-state-style-map, (
   default: (
      background: null
   )
));

// footer
$cx-window-footer-state-style-map: cx-deep-map-merge($cx-window-footer-state-style-map, (
   default: (
      background: null,
      margin: 0 1.5rem,
      padding: 1rem 0,
      border-top: none
   )
));

// window mods
$cx-window-mods: (
   alert: (
      frame: (
         font-size: 16px,
         color: $cx-theme-secondary-text-color
      ),
      body: (
         padding: 24px 24px 20px,
         text-align: left
      ),
      footer: (
         border-top: none,
         padding: 8px 0
      )
   )
);

//TOAST
$cx-toast-mods: cx-deep-map-merge($cx-toast-mods, (
   dark: (
      default: (
         color: #fff,
         background-color: rgb(51, 51, 51)
      )
   )
));

//GRID  
$cx-grid-header-state-style-map: cx-deep-map-merge($cx-grid-header-state-style-map, (
   default: (
      text-transform: uppercase,
      background-color: $cx-default-grid-header-background-color
   ),
   hover: (
      //color: rgba($cx-default-grid-header-color, 0.45),
      background-color: darken($cx-default-grid-header-background-color, 3)
      //border-color: $cx-default-grid-header-border-color
   ),
   sorted: (
      color: $cx-theme-primary-text-color,
      background-color: darken($cx-default-grid-header-background-color, 5)
   ),
   sorted-hover: (
      //color: $cx-theme-primary-color,
      background-color: darken($cx-default-grid-header-background-color, 5)
   )     
));

$cx-grid-data-state-style-map: cx-deep-map-merge($cx-grid-data-state-style-map,(
   hover: (
      background-color: rgba($cx-theme-accent-color, 0.4),
      color: $cx-default-color
   ),
   cursor: (
      background-color: rgba($cx-theme-accent-color, 0.5)
   ),
   selected: (
      background-color: rgba($cx-theme-primary-color, 0.2)
   ),
   selected-hover: (
      background-color: rgba(0, 0, 0, 0.05),
      color: $cx-theme-primary-text-color
   ),
   selected-cursor: (
      background-color: rgba($cx-theme-primary-color, 0.25)
   ),
   disabled: (
      background-color: transparent
   )
));

// pagination
$cx-grid-pagination-state-style-map: cx-deep-map-merge($cx-list-item, (
   default: (
      border-color: transparent,
      border-radius: $cx-default-border-radius,
      padding: $cx-default-box-padding 2*$cx-default-box-padding
   ),
   active: (
      color: $cx-theme-primary-color-dark,
   ),
   cursor: (

   ),
   selected-cursor: (
      box-shadow: $cx-theme-box-shadow-elevated,
      background-color: $cx-theme-primary-color,
      color: #fff
   ),
   selected: (
      background-color: $cx-theme-primary-color,
      color: #fff
   )
));

//FORM
// global inputs
$cx-input-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
   focus: (
      border-color:rgba($cx-theme-primary-color, 0.9),
      box-shadow: none
   ),
));

// standard form field - textfield, numberfield, lookupfield,...
$cx-std-field-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
   default: (
      //padding: $cx-theme-input-padding,
      //background-color: #fff,
      //border-radius: $cx-default-border-radius,
      //border-width: 1px,
      box-shadow: $cx-default-input-box-shadow,
      transition: $cx-default-transition
   ),
   hover: (
      
   ),
   focus: (
      box-shadow: $cx-theme-focus-box-shadow,
      background-color: white
   ),
   disabled: (
      color: rgba($cx-theme-secondary-text-color, 0.5),
      background-color: transparent,
      box-shadow: none,
      border-color: rgba($cx-default-input-border-color, 0.7)
   ),
   error: (
      background-color: #fbd7d8,
      border-color: $cx-theme-danger-color,
      //box-shadow: 0px 1px 2px rgba($cx-theme-danger-color, 0.5)
   ),
   error-focus: (
      border-color: $cx-theme-danger-color-dark,
      box-shadow: 0 0 2px 2px rgba($cx-theme-danger-color-dark, 0.5)
   )
));

// textarea
$cx-textarea-state-style-map: cx-deep-map-merge($cx-std-field-state-style-map, (
   default: (
      border-color: $cx-default-input-border-color
   ),
   focus: (
      box-shadow: 0px 1px 2px rgba($cx-theme-primary-color, 0.5)
   // background-color: rgba($cx-default-color, 0.015)
   ),
   hover: (
      // background-color: rgba($cx-default-color, 0.009)
   )
));

// calendar
$cx-calendar-state-style-map: cx-deep-map-merge($cx-calendar-state-style-map, (
   default: (
      padding: 5px
   ),
   focus: (
      box-shadow: $cx-default-calendar-box-shadow,
      border-color: transparent
   )
));

// calendar days
$cx-calendar-day-state-style-map: cx-deep-map-merge($cx-calendar-day-state-style-map, (
   default: (
      height: 32px,
      line-height: 32px,
      width: 32px,
      font-weight: normal
   ),
   hover-focus: (
      background-color: rgba($cx-theme-primary-color-light, 0.3)
   ),
   hover: (
      background-color: rgba($cx-theme-primary-color-light, 0.3)
   ),
   today: (
      background-color: rgba(desaturate($cx-theme-accent-color, 20), 0.6)
   ),
   selected: (
      background-color: $cx-theme-primary-color,
      color: #fff,
      box-shadow: $cx-theme-box-shadow
   ),
   selected-focus: (
      background-color: $cx-theme-primary-color-light,
      box-shadow: $cx-theme-box-shadow-elevated

   )
));

// date time picker
$cx-wheel-selection-state-style-map: cx-deep-map-merge($cx-wheel-selection-state-style-map, (
   default: (
      border-color: transparent,
      background-color: rgba($cx-theme-primary-color, 0.3),
      border-radius: $cx-default-border-radius
   ),
   active: (
      border-color: transparent,
      background-color: rgba($cx-theme-primary-color, 0.5)
   )
));

// checkbox
$cx-checkbox-state-style-map: cx-deep-map-merge($cx-checkbox-state-style-map, (
   default: (
      opacity: 1
   ),
   hover: (
      border-color: $cx-default-checkbox-border-color
   ),
   focus: (
      box-shadow: none,
      border-color: $cx-theme-primary-color-light
   ),
   checked: (
      background-color: $cx-theme-primary-color-light,
      border-color: $cx-theme-primary-color-light,
      color: white,
      opacity: 1
   ),
   checked-focus: (
      background-color: $cx-theme-primary-color-dark,
      border-color: $cx-theme-primary-color-dark
   ),
   disabled: (
      background-color: transparent,
      border-color: rgba($cx-default-checkbox-border-color, 0.4)
   ),
   disabled-checked: (
      background-color: rgba(0, 0, 0, 0.1),
      border-color: transparent
   )
));

// radio
$cx-radio-state-style-map: cx-deep-map-merge($cx-radio-state-style-map, (
   checked: (
      color: $cx-default-radio-color,
      border-color: $cx-default-radio-color
   ),
   checked-focus: (
      color: $cx-theme-primary-text-color,
      border-color: $cx-theme-primary-color-dark
   ),
   checked-hover: (
      color: $cx-theme-primary-text-color,
      border-color: $cx-theme-primary-color-dark
   ),
   focus: (
      box-shadow: none,
      border-color: $cx-theme-primary-color-light
   ),
   disabled: (
      background-color: transparent,
      border-color: rgba($cx-default-radio-border-color, 0.4)
   ),
   disabled-checked: (
      color: rgba(0, 0, 0, 0.26),
      border-color: rgba(0, 0, 0, 0.1)
   )
));

// lookupfield tag
$cx-input-tag-state-style-map: cx-deep-map-merge($cx-input-tag-state-style-map, (
   default: (
      border-color: darken($cx-default-input-tag-background-color, 10),
      border-radius: $cx-default-border-radius,
      border-width: 1px,
      border-style: solid
   ),
   hover: (
      background-color: darken($cx-default-input-tag-background-color, 10)
   )
));

// slider
$cx-slider-handle-styles: cx-deep-map-merge($cx-slider-handle-styles, (
   hover: (
      box-shadow: $cx-default-slider-handle-box-shadow,
      background-color: lighten($cx-default-slider-handle-background-color, 5)
   ),
   active: (
      background-color: $cx-theme-primary-color-dark,
      border-color: $cx-theme-primary-color-dark
   ),
   focus: (
      box-shadow: $cx-theme-box-shadow-elevated,
      background-color: $cx-theme-primary-color-dark
   )
));

// switch
$cx-switch-handle-styles: cx-deep-map-merge($cx-switch-handle-styles, (
   default: (
      box-shadow: none
   ),
   hover: (
      box-shadow: $cx-theme-box-shadow
   ),
   active: (
      background-color: #e0e0e0,
      border-color: transparent
   ),
   focus: (
      box-shadow: $cx-theme-box-shadow-elevated,
      border-color: transparent
   ),
   on: (
      background-color: $cx-default-background-color,
      border-color: transparent
   ),
   on-active: (
      background-color: lighten($cx-theme-primary-color-light, 20)
   )
));

// clear icon
$cx-clear-state-style-map: cx-deep-map-merge($cx-clear-state-style-map, (
   hover: (
      color: darken($cx-default-color, 5),
      background-color: transparent
   ),
   focus: (
      color: $cx-theme-primary-color
   ),
   error: (
      color: $cx-default-color,
      opacity: 0.6
   )
));

// right icon
$cx-input-right-icon-state-style-map: cx-deep-map-merge($cx-input-right-icon-state-style-map, (
   default: (
      color: $cx-theme-secondary-text-color,
      opacity: 1
   ),
   focus: (
      color: $cx-theme-primary-color
   ),
   error: (
      color: $cx-default-color,
      opacity: 0.6
   )
));

// left icon
$cx-input-left-icon-state-style-map: cx-deep-map-merge($cx-input-left-icon-state-style-map, (
   
   focus: (
      color: $cx-theme-primary-color,
      opacity: 1
   ),
   error: (
      color: $cx-default-color,
      opacity: 0.6
   )
));

//TOAST
$cx-toast-mods: cx-deep-map-merge($cx-toast-mods, (
   primary: (
      default: (
         color: #fff,
         background-color: $cx-theme-primary-color
      )
   )
));

//GLOBALS
$cx-element-style-map: cx-deep-map-merge($cx-element-style-map, (
   html: (
      background: #fafafa
   ),
   h1: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h2: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h3: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h4: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h5: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h6: (
      font-weight: 400,
      color: $cx-default-color
   ),
   a: (
      color: $cx-theme-primary-color-dark
   ),
   p: (
      line-height: $cx-default-paragraph-line-height
   )
));