@import "Field";

.cxb-checkbox {
   @include cxb-field($box: false);
   font-size: $cx-input-font-size;
   line-height: $cx-input-line-height;
   font: $cx-input-font;
   padding: $cx-input-padding;
   border-width: $cx-input-border-top-width $cx-input-border-right-width $cx-input-border-right-width $cx-input-border-left-width;
   border-style: solid;
   border-color: transparent;
   min-width: $cx-input-padding + $cx-input-padding + $cx-input-checkbox-size;
}

.cxe-checkbox-checkbox {
   padding: 0;
   margin: 0 !important;
   width: $cx-input-checkbox-size;
   height: $cx-input-checkbox-size;
   top: calc(50% - #{$cx-input-checkbox-size / 2});
   left: $cx-input-padding;
   display: inline-block;
   position: absolute;

   &:focus {
      outline: rgba(77, 144, 254, 0.4) solid 1px;
   }
}

.cxe-checkbox-text {
   display: inline-block;
   margin-left: $cx-input-padding + $cx-input-checkbox-size;
}

.cxe-checkbox-empty-text {
   @include cxe-field-empty-text();
}