@import "Field";

.cxb-checkbox {
   @include cxb-field($box: false);
   font-size: $cx-input-font-size;
   line-height: $cx-input-line-height;
   font: $cx-input-font;
   padding: $cx-input-padding;
   border-width: $cx-input-border-top-width $cx-input-border-right-width $cx-input-border-right-width $cx-input-border-left-width;
   border-style: solid;
   border-color: transparent;
   min-width: $cx-input-padding + $cx-input-padding + $cx-input-checkbox-size;
}

.cxe-checkbox-checkbox {
   padding: 0;
   margin: 0 !important;
   width: $cx-input-checkbox-size;
   height: $cx-input-checkbox-size;
   top: calc(50% - #{$cx-input-checkbox-size / 2});
   left: $cx-input-padding;
   display: inline-block;
   position: absolute;
   //-webkit-appearance: none;

   &::-moz-focus-inner {
      border: 0;
      padding: 0;
      margin: -1px;
   }

   &:focus {
      box-shadow: inset 0 0 1px 1px rgba(77, 144, 254, 0.8), 0 0 2px 2px rgba(77, 144, 254, 0.8);
      background: rgba(77, 144, 254, 0.8);
      outline: 0;
   }
}

.cxe-checkbox-text {
   display: inline-block;
   margin-left: $cx-input-padding + $cx-input-checkbox-size;
}

.cxe-checkbox-empty-text {
   @include cxe-field-empty-text();
}

//non-native implementation
.cxe-checkbox-input {
   @include cxe-field-input(
      $box: false,
      $padding-top: 0,
      $padding-bottom: 0,
      $padding-left: 0,
      $padding-right: 0,
      $margin: 0 !important
   );
   width: $cx-input-checkbox-size;
   height: $cx-input-checkbox-size;
   top: calc(50% - #{$cx-input-checkbox-size / 2});
   left: $cx-input-padding;
   display: inline-block;
   position: absolute;

   .cxs-disabled > .cxe-checkbox-checkbox {

   }

   &:before {
      content: ' ';
      position: absolute;
      width: 80%;
      height: 50%;
      left: 10%;
      top: 20%;
      box-sizing: border-box;
      border-bottom: 3px solid currentColor;
      border-left: 3px solid currentColor;
      transform: rotate(-45deg);
      transform-origin: 50% 50%;
      visibility: hidden;
   }

   &.cxs-checked {
      &:before {
         visibility: visible;
      }
   }
}