@import "Field";
@import "ColorPicker";

$cx-default-colorfield-font-family: 'Consolas', monospace;

@mixin cx-colorfield(
   $name: 'colorfield',
   $state-style-map: $cx-input-state-style-map,
   $placeholder: $cx-input-placeholder,
   $empty-text: $cx-empty-text,
   $tool-state-style-map: $cx-input-tool-state-style-map,
   $width: $cx-default-input-width,
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);

   .#{$block}#{$name} {
      @include cxb-field($besm, $state-style-map,
         $width: $width
      );
   }

   .#{$element}#{$name}-input {
      @include cxe-field-input(
         $besm,
         $state-style-map,
         $placeholder: $placeholder,
         $overrides: (
            default: (
               font-family: $cx-default-colorfield-font-family
            )
         )
      );
   }

   .#{$element}#{$name}-tool {
      @include cxe-field-button($besm, $tool-state-style-map);
      @extend %cx-checker-bg;
      box-sizing: border-box;
      border: 1px solid #eee;

      div {
         width: 100%;
         height: 100%;
      }
   }

   .#{$element}#{$name}-empty-text {
      @include cxe-field-empty-text($empty-text);
   }
}

@if (cx-include('cx/widgets/ColorField')) {
   @include cx-colorfield();
}



