@import "Field";

@mixin cx-datefield(
   $name: 'datefield',
   $state-style-map: $cx-input-state-style-map,
   $placeholder: $cx-input-placeholder,
   $width: $cx-default-input-width,
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);

   .#{$block}#{$name} {
      @include cxb-field($besm, $state-style-map,
         $width: $width
      );
   }

   .#{$element}#{$name}-input {
      @include cxe-field-input($besm, $state-style-map,
         $placeholder: $placeholder,
         $overrides: (
            default: (
               padding: cx-top($cx-default-box-padding) calc(#{cx-right($cx-default-box-padding)} + #{$cx-input-clear-size}) cx-bottom($cx-default-box-padding) cx-left($cx-default-box-padding)
            )
         )
      );
   }

   .#{$element}#{$name}-icon {
      @include cxe-field-icon();
   }

   .#{$element}#{$name}-clear {
      @include cxe-field-clear();
   }

   .#{$element}#{$name}-empty-text {
      @include cxe-field-empty-text();
   }
}

@if (cx-include('cx/widgets/DateField')) {
   @include cx-datefield();
}
