@import "variables";
@import "../icons/index";
@import '../../util/scss/clockwise';
@import '../../util/scss/add-rules';
@import '../../util/scss/include';

@mixin cxb-field(
   $input: true,
   $box: false,
   $width: $cx-input-width,
   $state-style-map: $cx-input-styles,
   $overrides: null,
   $state: $cx-state
)
{
   position: relative;
   display: inline-block;
   box-sizing: border-box;

   $styles: cx-merge-state-overrides($state-style-map, $overrides);

   $line-height: cx-get-state-rule($styles, default, 'line-height', 1.2em);
   $padding: cx-get-state-rule($styles, default, 'padding', 0);
   $border-width: cx-get-state-rule($styles, default, 'border-width', 1px);

   @if $input {
      width: $width;
      height: calc(#{$line-height} + #{cx-top($padding) + cx-bottom($padding)} + #{cx-top($border-width) + cx-bottom($border-width)});
   }

   @if ($box) {
      line-height: $line-height;
      padding: $padding;
      border-width: $border-width;

      //optional rules to be applied only if defined
      font: cx-get-state-rule($styles, default, 'font');
      font-size: cx-get-state-rule($styles, default, 'font-size');
      height: cx-get-state-rule($styles, default, 'height');
   }

   &.#{$state}view-mode {
      line-height: $line-height;
      padding: $padding;
      border: $border-width solid transparent;
   }
}

@mixin cxe-field-input(
   $state-style-map: $cx-input-styles,
   $overrides: null,
   $placeholder: $cx-input-placeholder,
   $input: true,
   $state: $cx-state
) {
   box-sizing: border-box;

   $styles: cx-merge-state-overrides($state-style-map, $overrides);

   $line-height: cx-get-state-rule($styles, default, 'line-height', 1.2em);
   $padding: cx-get-state-rule($styles, default, 'padding', 0);
   $border-width: cx-get-state-rule($styles, default, 'border-width', 1px);

   @if $input {
      width: 100%;
      height: 100%;
   }

   @include cx-add-state-rules($styles, default);

   &:hover {
      @include cx-add-state-rules($styles, hover);
   }

   &:focus {
      @include cx-add-state-rules($styles, focus);
   }

   @if $input {
      &:disabled {
         @include cx-add-state-rules($styles, disabled);
      }
   }
   @else {
      .#{$state}disabled > & {
         @include cx-add-state-rules($styles, disabled);
      }
   }

   .#{$state}error.#{$state}visited > & {
      @include cx-add-state-rules($styles, error);

      &:focus {
         @include cx-add-state-rules($styles, error-focus);
      }
   }

   @if $input {
      &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
         @include cx-add-rules($placeholder);
      }

      &::-ms-clear {
         width: 0;
         height: 0;
      }
   }
}

@mixin cxe-field-clear(
   $size: $cx-input-clear-size
) {
   position: absolute;
   font: $cx-input-clear-font;
   right: $cx-input-padding;
   top: 50%;
   margin-top: -$size / 2;
   height: $size;
   width: $size;
   line-height: $size;
   color: $cx-input-clear-color;
   border-radius: $size / 2;
   text-align: center;

   &:hover {
      background-color: $cx-input-clear-background-hover;
   }

   i, svg {
      display: block;
      position: absolute;
      left: calc(50% - #{$cx-input-icon-size / 2});
      top: calc(50% - #{$cx-input-icon-size / 2});
      height: $cx-input-icon-size;
      width: $cx-input-icon-size;
      line-height: $cx-input-icon-size;
   }
}

@mixin cxe-field-icon() {
   position: absolute;
   box-sizing: border-box;
   right: $cx-input-padding;
   top: 50%;
   margin-top: -$cx-input-button-size / 2;
   height: $cx-input-button-size;
   width: $cx-input-button-size;
   line-height: $cx-input-button-size;
   opacity: 0.7;
   text-align: center;
   cursor: pointer;
   color: $cx-input-icon-color;

   &:hover {
      opacity: 1;
   }

   i, svg {
      display: block;
      position: absolute;
      left: calc(50% - #{$cx-input-icon-size / 2});
      top: calc(50% - #{$cx-input-icon-size / 2});
      height: $cx-input-icon-size;
      width: $cx-input-icon-size;
      line-height: $cx-input-icon-size;
   }
}

@mixin cxe-field-empty-text() {
   color: #aaa;
}
