.cxb-label {
   padding: $cx-input-label-padding;
   border: $cx-input-label-border;
   font: $cx-input-label-font;
   font-size: $cx-input-label-font-size;
   line-height: $cx-input-label-line-height;
   background: $cx-input-label-background;
   color: $cx-input-label-color;
   display: inline-block;
}

.cxe-label-asterisk {
   color: $cx-input-label-asterisk-color;
}