@import "Field";

@mixin cx-lookupfield(
   $name: 'lookupfield',
   $input-styles: $cx-input-styles,
   $width: $cx-input-width,
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {
   .#{$block}#{$name} {
      @include cxb-field($input: false);
      min-width: $cx-input-width;
      cursor: pointer;
   }

   .#{$element}#{$name}-input {
      @include cxe-field-input(
         $overrides: (
            padding: cx-top($cx-input-padding) calc(#{cx-right($cx-input-padding)} + #{$cx-input-clear-size} - #{$cx-input-tag-spacing}) cx-bottom($cx-input-padding) cx-left($cx-input-padding)
         )
      );

      .#{$state}icon > & {
         @extend %cx-icon-dropdown-arrow;
         background-position: right $cx-input-padding center;
      }
   }

   .#{$block}#{$name}.#{$state}multiple .#{$element}#{$name}-input {
      padding-top: 0;
      padding-left: 0;
      padding-bottom: $cx-input-tag-spacing;
   }

   .#{$element}#{$name}-tag {
      background: #e8e8e8;
      display: inline-block;
      position: relative;
      margin: $cx-input-tag-spacing 0 0 $cx-input-tag-spacing;
      box-sizing: border-box;
      padding: $cx-input-padding - $cx-input-tag-spacing;
      padding-right: $cx-input-clear-size + 2px;
   }

   .#{$element}#{$name}-placeholder {

      color: $cx-input-placeholder-color;

      .#{$block}#{$name}.#{$state}multiple & {
         display: inline-block;
         margin: $cx-input-tag-spacing 0 0 $cx-input-tag-spacing;
         box-sizing: border-box;
         padding: $cx-input-padding - $cx-input-tag-spacing;
      }
   }

   .#{$element}#{$name}-tag-value {
      padding: 0 $cx-input-tag-spacing;
      display: inline-block;
   }

   .#{$element}#{$name}-tag-clear {
      @include cxe-field-clear();
      right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
   }

   .#{$element}#{$name}-lookup-options {
      padding: 0;
      margin: 0;
      min-width: 100%;
      width: 100%;

      &:focus {
         @each $rule, $value in map-get($cx-list, focus) {
            #{$rule}: $value;
         }
      }

      & > li {
         list-style: none;
         padding: 0.5em 1em;
         margin: 0;
         cursor: pointer;

         &.cursor {
            @each $rule, $value in map-get($cx-list-item, hover-focus) {
               #{$rule}: $value;
            }
         }

         &.selected {
            @each $rule, $value in map-get($cx-list-item, selected-focus) {
               #{$rule}: $value;
            }
         }
      }
   }

   .#{$element}#{$name}-query {
      @include cxe-field-input();
      margin: 5px;
      height: auto;
      width: calc(100% - 10px);
   }

   .#{$element}#{$name}-dropdown {
      display: flex;
      flex-direction: column;
      height: 100%;

      &:focus {
         outline: none;
      }
   }

   .#{$element}#{$name}-message {
      font-size: smaller;
      padding: 10px;
      color: gray;
      font-style: italic;

      &.#{$state}error {
         color: #9e2f2d;
      }
   }

   .#{$element}#{$name}-scroll-container {
      overflow: auto;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
   }

   .#{$element}#{$name}-arrow {
      @include cxe-field-icon();
   }

   .#{$element}#{$name}-clear {
      @include cxe-field-clear;
   }

   .#{$element}#{$name}-empty-text {
      @include cxe-field-empty-text();
   }
}

@if (cx-include('cx/widgets/LookupField')) {
   @include cx-lookupfield();
}