@import "Field";

@mixin cx-monthpicker(
   $name: 'monthpicker',
   $state-style-map: $cx-input-state-style-map,
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$block}#{$name} {
      @include cxe-field-input(
         $besm,
         $state-style-map,
         $input: false
      );
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 30em;
      position: relative;
      width: 23em;

      table {
         border-spacing: 0;
         width: 100%;
         font-size: 0.9em;
      }

      th, td {
         border-top: 1px solid #eee;
      }

      tbody:not(:first-child) {
         tr:first-child {
            th, td {
               border-top: 1px solid lightgray;
            }
         }
      }

      th, td {
         text-align: center;
         font-size: smaller;
         line-height: 2em;
         cursor: pointer;
         -webkit-user-select: none;
         -ms-user-select: none;
         -moz-user-select: none;
         user-select: none;
      }

      th {
         padding: 0 0.5em;
         color: lightgray;
      }

      .#{$element}#{$name}-year {
         font-size: 120%;
         color: gray;
      }

      td {
         padding: 0.5em 1em;
      }

      td.#{$state}outside {
         color: lightgray;
      }

      td.#{$state}unselectable {
         @each $rule, $value in map-get($cx-list-item, disabled) {
            #{$rule}: $value;
         }
      }

      td.#{$state}selected {
         @each $rule, $value in map-get($cx-list-item, selected) {
            #{$rule}: $value;
         }
         border-color: transparent;
      }

      td.#{$state}cursor, th.#{$state}cursor {
         @each $rule, $value in map-get($cx-list-item, hover) {
            #{$rule}: $value;
         }
      }

      &:focus {
         td.#{$state}selected {
            @each $rule, $value in map-get($cx-list-item, selected-focus) {
               #{$rule}: $value;
            }
         }

         td.#{$state}cursor, th.#{$state}cursor {
            @each $rule, $value in map-get($cx-list-item, hover-focus) {
               #{$rule}: $value;
            }
         }
      }
   }

   .#{$block}#{$name}.#{$state}disabled {
      background-color: transparent;
      border-color: transparent;
      color: darken(#fff, 18);
      cursor: not-allowed;
   }
}

@if (cx-include('cx/widgets/MonthPicker')) {
   @include cx-monthpicker();
}