@import "Field";

.cxb-select {
   @include cxb-field();
}

.cxe-select-select {
   @include cxe-field-input(
      $padding-top: $cx-input-padding - 1px,
      $padding-right: $cx-input-padding + $cx-input-clear-size + $cx-input-padding,
      $padding-bottom: $cx-input-padding - 1px,
      $padding-left: $cx-input-padding
   );
   -webkit-appearance: inherit;
   -moz-appearance: inherit;
   @extend %cx-icon-dropdown-arrow;
   background-position: right $cx-input-padding center;

   &::-ms-expand {
      display: none;
      margin: 0;
      padding: 0;
   }
}
