@import "Field";

.cxb-slider {
   @include cxb-field();

   &.cxs-vertical {
      width: 28px;
      height: 180px;
   }
}

.cxe-slider-axis {

   position: relative;
   background: rgba(128, 128, 128, 0.2);
   border-radius: 3px;

   .cxb-slider.cxs-horizontal & {
      margin: 0 12px;
      height: 6px;
      top: calc(50% - 3px);
   }

   .cxb-slider.cxs-vertical & {
      margin: 12px 0;
      width: 6px;
      height: calc(100% - 24px);
      left: calc(50% - 3px);
   }

}

.cxe-slider-range {
   position: absolute;

   background: #98d4ff;
   border-radius: 3px;

   .cxb-slider.cxs-horizontal & {
      height: 100%;
   }

   .cxb-slider.cxs-vertical & {
      width: 100%;
   }
}

.cxe-slider-handle {
   position: absolute;
   box-sizing: border-box;
   margin: -8px 0 0 -8px;
   padding: 0;
   width: 16px;
   height: 16px;
   background: rgb(235, 235, 235);
   border: 1px solid rgb(204, 204, 204);
   border-radius: 50%;
   box-shadow: 0 0 3px rgba(128, 128, 128, 0.5);

   &:active {
      background: rgb(220, 220, 220);
   }

   .cxb-slider.cxs-horizontal & {
      left: 0;
      top: 50%;
   }

   .cxb-slider.cxs-vertical & {
      left: 50%;
      top: 0;
   }
}

