@import "Field";

@mixin cx-textarea(
   $name: 'textarea',
   $input-styles: $cx-input-styles,
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {
   .#{$block}#{$name} {
      @include cxb-field(
         $input: false
      );
      min-width: 300px;
      white-space: pre-wrap;
   }

   .#{$element}#{$name}-input {
      @include cxe-field-input();
   }

   .#{$element}#{$name}-icon {
      @include cxe-field-icon();
   }

   .#{$element}#{$name}-empty-text {
      @include cxe-field-empty-text();
   }
}

@if (cx-call-once('widgets/TextArea')) {
   @include cx-textarea;
}





