.cxb-uploadbutton {
   display: inline-block;
   position: relative;
   box-sizing: border-box;
   @extend .cxb-button;
}

.cxe-uploadbutton-input {
   position: absolute;
   opacity: 0;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
}

.cxe-uploadbutton-progress {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   width: 0;
   background: rgba(8, 176, 255, 0.5);
   outline: 1px solid rgba(8, 176, 255, 0.5);
   transition: opacity 0.5s ease-in-out;

   &.cxs-done {
      opacity: 0;
   }
}