@import "../Button";

@mixin cx-uploadbutton(
   $name: 'uploadbutton',
   $styles: $cx-button-styles,
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {
   @include cx-button($name,
      $mods: (),
      $styles: $styles,
      $block: $block,
      $element: $element,
      $state: $state,
      $mod: $mod
   );

   .#{$element}#{$name}-input {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
   }

   .#{$element}#{$name}-progress {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      background: rgba(8, 176, 255, 0.5);
      outline: 1px solid rgba(8, 176, 255, 0.5);
      transition: opacity 0.5s ease-in-out;

      &.#{$state}done {
         opacity: 0;
      }
   }
}

@if (cx-include('cx/widgets/UploadButton')) {
   @include cx-uploadbutton();
}
