@import "../../variables";

// Appearance
$cx-default-input-font-family: $cx-default-box-font-family !default;
$cx-default-input-border-color: $cx-default-border-color !default;
$cx-default-input-background-color: white !default;
$cx-default-input-color: black !default;
$cx-default-input-placeholder-color: $cx-default-empty-text-color !default;
$cx-default-input-width: 180px !default;
$cx-default-input-padding: $cx-default-box-padding !default;

$cx-input-placeholder: (
   color: $cx-default-input-placeholder-color,
   opacity: 1
) !default;

$cx-input-state-style-map: (
   default: (
      line-height: $cx-default-box-line-height,
      padding: $cx-default-input-padding,
      border-width: $cx-default-box-border-width,
      font-size: $cx-default-box-font-size,
      font-family: $cx-default-input-font-family,
      border-color: $cx-default-input-border-color,
      border-style: solid,
      background-color: $cx-default-input-background-color,
      color: $cx-default-input-color,
      outline-offset: 0,
      border-radius: 0,
      box-shadow: none,
      -ms-appearance: none,
      -moz-appearance: none,
      -webkit-appearance: none
   ),
   hover: (

   ),

   focus: (
      border-color: rgba(77, 144, 254, 0.8),
      outline: none,
      box-shadow: 0 0 2px rgba(77, 144, 254, 0.8)
   ),

   disabled: (
      background: rgb(235, 235, 228),
      color: rgb(84, 84, 84)
   ),

   error: (
      border-color: rgba(220, 0, 9, 0.8)
   ),

   error-focus: (
      box-shadow: 0 0 2px rgba(220, 0, 9, 0.8)
   )
) !default;


// Icon

$cx-input-button-size: 20px !default;
$cx-input-icon-size: 16px !default;
$cx-input-icon-font: null !default;
$cx-input-icon-color: null !default;


// Clear

$cx-input-clear-size: 20px !default;
$cx-input-clear-font: 12px sans-serif !default;
$cx-input-clear-content: '\00d7' !default;
$cx-input-clear-color: gray !default;
$cx-input-clear-background-hover: rgba(128, 128, 128, 0.2) !default;

$cx-input-tag-spacing: 3px !default;

$cx-input-checkbox-size: 14px !default;
$cx-input-radio-size: 14px !default;


// Label

$cx-input-label-padding: 6px 3px !default;
$cx-input-label-border: null !default;
$cx-input-label-font: null !default;
$cx-input-label-font-size: 13px !default;
$cx-input-label-line-height: 16px !default;
$cx-input-label-background: null !default;
$cx-input-label-color: null !default;
$cx-input-label-asterisk-color: #a80000 !default;
