// Forward theme variables to configure cx
@forward "./variables";

// Load variables
@use "./variables" as *;

// Load cx chart styles (generates CSS using configured values)
@use "cx/src/charts/index" as charts;
