$cx-include-all: true !default;
$cx-include-global-rules: false !default;

$cx-theme-include-all: $cx-include-all;
$cx-theme-include-global-rules: $cx-include-global-rules;

$cx-default-highlight-color: #ddf1f6 !default;

$cx-default-border-color: #ccc !default;
$cx-default-border-radius: 5px !default;

$cx-default-button-background-color: #eff1f7 !default;
$cx-default-button-border-color: #e3e5eb !default;

$cx-default-grid-header-background-color: $cx-default-button-background-color !default;

$cx-default-box-font-size: 13px !default;
$cx-default-box-line-height: 18px !default;
$cx-default-box-border-width: 2px !default;
$cx-default-box-padding: 5px !default;

$cx-default-checkbox-size: 16px !default;
$cx-default-radio-size: 16px !default;
$cx-default-input-border-color: #eff1f7 !default;

$cx-default-font-family: 'Open Sans', sans-serif !default;

$cx-use-box-line-height-fix: false !default;

$cx-include-all: false;
$cx-include-global-rules: false;

@import "~cx/index";

$cx-input-state-style-map: cx-merge-state-style-maps($cx-input-state-style-map, (
   default: (
      //transition: border-color 0.1s,
   ),
   hover: (
      border-color: transparentize(cx-get-state-rule($cx-input-state-style-map, focus, border-color), 0.5)
   )
));

// LIST
$cx-list-item: cx-merge-state-style-maps($cx-list-item, (
  default: (
  ),
  hover-focus: (
    background-color: $cx-default-highlight-color
  ),
  selected-focus: (
    background-color: darken($cx-default-highlight-color, 8)
  )
));

// menu
$cx-menuitem-state-style-map: cx-merge-state-style-maps($cx-menuitem-state-style-map, (
   selected-focus: (
      background-color: darken($cx-default-highlight-color, 8) 
   )

));

// BUTTON
$cx-button-mods: cx-merge-state-style-maps($cx-button-mods, (
  hollow: (
    focus: (
      background-color: darken($cx-default-highlight-color, 8),
      border-color: darken($cx-default-highlight-color, 8),
      box-shadow: none
    )
  )
));

$cx-window-state-style-map: cx-merge-state-style-maps($cx-window-state-style-map, (
   default: (
      background: white,
      border-radius: $cx-default-border-radius
   )
));

$cx-window-header-state-style-map: cx-merge-state-style-maps($cx-window-header-state-style-map, (
   default: (
      background: null,
      font-size: 1.2rem,
      color: #24b5d6,
      font-weight: normal,
      margin: 0 1.5rem,
      padding: 1rem 0,
      border-bottom: 1px solid rgba(128, 128, 128, 0.1)
   )
));

$cx-window-body-state-style-map: cx-merge-state-style-maps($cx-window-body-state-style-map, (
   default: (
      background: null
   )
));

$cx-window-footer-state-style-map: cx-merge-state-style-maps($cx-window-footer-state-style-map, (
   default: (
      background: null,
      margin: 0 1.5rem,
      padding: 1rem 0,
      border-top: 1px solid rgba(128, 128, 128, 0.1)
   )
));

$cx-dropdown-styles: map-merge($cx-dropdown-styles, (
   border-width: 2px,
   border-style: solid
));

$cx-menu-state-style-map: map-merge($cx-menu-state-style-map, (
   default: (

   )
));

//globals

$cx-element-style-map: cx-merge-state-style-maps($cx-element-style-map, (
   html: (
      background: #eff1f7
   ),
   h1: (
      font-weight: 400,
      color: #24b5d6
   ),
   h2: (
      font-weight: 400,
      color: #24b5d6
   ),
   h3: (
      font-weight: 400,
      color: #24b5d6
   ),
   h4: (
      font-weight: 400,
      color: #24b5d6
   ),
   h5: (
      font-weight: 400,
      color: #24b5d6
   ),
   h6: (
      font-weight: 400,
      color: #24b5d6
   )
));

$cx-include-all: $cx-theme-include-all;
$cx-include-global-rules: $cx-theme-include-global-rules;

@import "~cx/index";

.cxb-section.cxm-well.cxm-well {
   background-color: white;
   box-shadow: #dbdfed 0 3px, #e5e8f2 0 0 0 1px;
   color: #66686e;
}

.cxe-section-header.cxe-section-header  {
   color: #24b5d6;
   font-weight: normal;

   .cxm-pad > & {
      border: none;
   }
}


.cxb-datefield .cxb-calendar {
   border-color: transparent !important;
}

.cxb-monthfield .cxb-monthpicker {
   border-color: transparent !important;
}

.cxb-colorfield .cxb-colorpicker {
   border-color: transparent !important;
}