@import "~cx/src/index";

$block: map-get($cx-besm, block);
$element: map-get($cx-besm, element);
$state: map-get($cx-besm, state);
$mod: map-get($cx-besm, mod);

@if (cx-included('cx/widgets/Section')) {
   $section-mods: primary success warning error;
   
   @each $i in $section-mods {
      .#{$block}section.#{$mod}#{$i} {
         .#{$element}section-header {
            border-bottom-color: rgba(#fff, 0.4);
         }
      }
   }
   
   .#{$block}section.#{$mod}card.#{$mod}card {
      box-shadow: $cx-default-section-box-shadow;
   }
   // can be used interchangeably with mod='card'
   .#{$mod}well {
      @extend .#{$mod}card;
   }

   .#{$element}section-header.#{$element}section-header {
      font-weight: normal;

      .#{$mod}pad > & {
         border: none;
      }
   }
   @for $i from 1 through 6 {
      .#{$element}section-header h#{$i} {
         .#{$mod}primary &,
         .#{$mod}error &,
         .#{$mod}success &,
         .#{$mod}warning & {
            color: #fff;
         }
      }
   }
}

@if (cx-included('cx/widgets/DateTimeField')) {
   .#{$block}datetimefield .#{$block}calendar {
      border-color: transparent !important;
   }

   .#{$block}datetimefield .#{$block}datetimepicker {
      border-color: transparent !important;
   }
}

@if (cx-included('cx/widgets/MonthField')) {
   .#{$block}monthfield .#{$block}monthpicker {
      border-color: transparent !important;
   }
}

@if (cx-included('cx/widgets/ColorPicker')) {
   .#{$block}colorfield .#{$block}colorpicker {
      border-color: transparent !important;
   }
}

//override for chrome mobile default press effect
.#{$block}button, .#{$block}tab, .#{$block}menu {
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}