@forward "cx/src/maps";

@use "sass:color";
@use "sass:map";
@use "./variables" as *;
@use "cx/src/maps" as *;
@use "cx/src/util/scss/deep-merge" as *;
@use "cx/src/util/scss/add-rules" as *;

// INPUT
$cx-input-state-style-map: cx-deep-map-merge(
   $cx-input-state-style-map,
   (
      hover: (
         border-color: color.adjust(
               cx-get-state-rule(
                  $cx-input-state-style-map,
                  focus,
                  border-color
               ),
               $alpha: -0.5
            ),
      ),
   )
);

// LIST
$cx-list-item: cx-deep-map-merge(
   $cx-list-item,
   (
      cursor: (
         background-color: color.adjust(
               $cx-theme-default-highlight-color,
               $lightness: 4%
            ),
      ),
      selected: (
         background-color: color.adjust(
               $cx-theme-default-highlight-color,
               $lightness: -2%
            ),
      ),
      selected-cursor: (
         background-color: color.adjust(
               $cx-theme-default-highlight-color,
               $lightness: -8%
            ),
      ),
   )
);

$cx-menu-list-item: $cx-list-item;

// TAB
$cx-tab-state-style-map: cx-deep-map-merge(
   $cx-tab-state-style-map,
   (
      cursor: (
         background-color: color.adjust(
               $cx-theme-default-highlight-color,
               $lightness: 2%
            ),
      ),
      selected: (
         background-color: color.adjust(
               $cx-theme-default-highlight-color,
               $lightness: -4%
            ),
      ),
      selected-cursor: (
         background-color: color.adjust(
               $cx-theme-default-highlight-color,
               $lightness: -8%
            ),
      ),
   )
);

$cx-tab-mods: cx-deep-map-merge(
   $cx-tab-mods,
   (
      line: (
         cursor: (
            border-color: $cx-theme-default-highlight-color,
         ),
         selected: (
            border-color: color.adjust(
                  $cx-theme-default-highlight-color,
                  $lightness: -10%
               ),
         ),
         selected-cursor: (
            border-color: color.adjust(
                  $cx-theme-default-highlight-color,
                  $lightness: -20%
               ),
         ),
      ),
   )
);

// FORM
$cx-std-field-state-style-map: cx-deep-map-merge($cx-input-state-style-map, ());

// CALENDAR
$cx-calendar-state-style-map: cx-deep-map-merge(
   $cx-calendar-state-style-map,
   (
      hover: (
         border-color: color.adjust(
               cx-get-state-rule(
                  $cx-input-state-style-map,
                  focus,
                  border-color
               ),
               $alpha: -0.5
            ),
      ),
   )
);

$cx-calendar-day-state-style-map: cx-deep-map-merge(
   $cx-calendar-day-state-style-map,
   (
      hover-focus: (
         background-color: $cx-theme-default-highlight-color,
      ),
      selected: (
         background-color: $cx-theme-default-highlight-color,
      ),
      selected-focus: (
         background-color: color.adjust(
               $cx-theme-default-highlight-color,
               $lightness: -8%
            ),
      ),
   )
);

// DATE TIME PICKER
$cx-wheel-selection-state-style-map: cx-deep-map-merge(
   $cx-wheel-selection-state-style-map,
   (
      default: (
         border-color: $cx-theme-default-highlight-color-dark,
         background-color: rgba($cx-theme-default-highlight-color, 0.4),
      ),
      active: (
         border-color: color.adjust(
               $cx-theme-default-highlight-color-dark,
               $lightness: -10%
            ),
         background-color: rgba($cx-theme-default-highlight-color-dark, 0.4),
      ),
   )
);

// CHECKBOX
$cx-checkbox-state-style-map: cx-deep-map-merge(
   $cx-checkbox-state-style-map,
   (
      hover: (
         border-color: cx-get-state-rule(
               $cx-input-state-style-map,
               hover,
               border-color
            ),
      ),
   )
);

// TEXTAREA
$cx-textarea-state-style-map: cx-deep-map-merge($cx-input-state-style-map, ());

// COLORPICKER
$cx-colorpicker-state-style-map: cx-deep-map-merge(
   $cx-input-state-style-map,
   (
      hover: (
         border-color: color.adjust(
               cx-get-state-rule(
                  $cx-input-state-style-map,
                  focus,
                  border-color
               ),
               $alpha: -0.5
            ),
      ),
   )
);

// BUTTON
$cx-button-mods: cx-deep-map-merge(
   $cx-button-mods,
   (
      hollow: (
         focus: (
            background-color: color.adjust(
                  $cx-theme-default-highlight-color,
                  $lightness: -8%
               ),
            border-color: color.adjust(
                  $cx-theme-default-highlight-color,
                  $lightness: -8%
               ),
            box-shadow: none,
         ),
      ),
   )
);

// WINDOW
$cx-window-state-style-map: cx-deep-map-merge(
   $cx-window-state-style-map,
   (
      default: (
         background: white,
         border-radius: $cx-default-border-radius,
      ),
   )
);

$cx-window-header-state-style-map: cx-deep-map-merge(
   $cx-window-header-state-style-map,
   (
      default: (
         background: null,
         font-size: 1.2rem,
         color: #24b5d6,
         font-weight: normal,
         margin: 0 1.5rem,
         padding: 1rem 0,
         border-bottom: 1px solid rgba(128, 128, 128, 0.1),
      ),
   )
);

$cx-window-body-state-style-map: cx-deep-map-merge(
   $cx-window-body-state-style-map,
   (
      default: (
         background: null,
      ),
   )
);

$cx-window-footer-state-style-map: cx-deep-map-merge(
   $cx-window-footer-state-style-map,
   (
      default: (
         background: null,
         margin: 0 1.5rem,
         padding: 1rem 0,
         border-top: 1px solid rgba(128, 128, 128, 0.1),
      ),
   )
);

// MENU
$cx-dropdown-styles: map.merge(
   $cx-dropdown-styles,
   (
      border-width: 2px,
      border-style: solid,
   )
);

$cx-menu-state-style-map: map.merge(
   $cx-menu-state-style-map,
   (
      default: (),
   )
);

// SECTION
$cx-section-mods: cx-deep-map-merge(
   $cx-section-mods,
   (
      warning: (
         default: (
            border-radius: $cx-default-border-radius,
            box-shadow: $cx-theme-default-section-box-shadow,
         ),
      ),
      primary: (
         default: (
            border-radius: $cx-default-border-radius,
            box-shadow: $cx-theme-default-section-box-shadow,
         ),
      ),
      success: (
         default: (
            border-radius: $cx-default-border-radius,
            box-shadow: $cx-theme-default-section-box-shadow,
         ),
      ),
      error: (
         default: (
            border-radius: $cx-default-border-radius,
            box-shadow: $cx-theme-default-section-box-shadow,
         ),
      ),
   )
);

// GLOBALS
$cx-element-style-map: cx-deep-map-merge(
   $cx-element-style-map,
   (
      html: (
         background: #eff1f7,
      ),
      h1: (
         font-weight: 400,
         color: #24b5d6,
      ),
      h2: (
         font-weight: 400,
         color: #24b5d6,
      ),
      h3: (
         font-weight: 400,
         color: #24b5d6,
      ),
      h4: (
         font-weight: 400,
         color: #24b5d6,
      ),
      h5: (
         font-weight: 400,
         color: #24b5d6,
      ),
      h6: (
         font-weight: 400,
         color: #24b5d6,
      ),
   )
);
