
// GLOBAL VARIABLES
$cx-default-color: #373a3c !default;
$cx-default-highlight-color: #ddf1f6 !default;
$cx-default-highlight-color-dark: darken($cx-default-highlight-color, 10) !default;

$cx-default-border-color: #ccc !default;
$cx-default-border-radius: 5px !default;

$cx-default-button-background-color: #eff1f7 !default;
$cx-default-button-border-color: #e3e5eb !default;

$cx-default-grid-header-background-color: $cx-default-button-background-color !default;

$cx-default-box-font-size: 13px !default;
$cx-default-box-line-height: 18px !default;
$cx-default-box-border-width: 2px !default;
$cx-default-box-padding: 5px !default;

$cx-default-checkbox-size: 16px !default;
$cx-default-checkbox-color: rgba($cx-default-color, 0.7) !default;

$cx-default-radio-size: 16px !default;
$cx-default-radio-color: rgba($cx-default-color, 0.7) !default;
$cx-default-input-border-color: #eff1f7 !default;

$cx-default-input-tag-background-color: $cx-default-button-background-color !default;

$cx-default-calendar-header-font-size: 14px !default;
$cx-default-calendar-header-font-weight: 600 !default;

$cx-default-datetimepicker-border-radius: $cx-default-border-radius !default;
$cx-default-wheel-clip-border-width: 2px !default;
$cx-default-wheel-clip-border-radius: $cx-default-border-radius !default;
$cx-default-wheel-clip-border-color: lighten($cx-default-border-color, 10) !default;

$cx-default-section-box-shadow: #dbdfed 0 3px, #e5e8f2 0 0 0 1px !default;

$cx-default-font-family: 'Open Sans', sans-serif !default;

$cx-default-dropdown-arrow-offset: 26px !default;

$cx-use-box-line-height-fix: false !default;

// PROGRESSBAR
$cx-default-progressbar-background-color: rgba(0, 0, 0, 0.08) !default;
$cx-default-progressbar-border-width: 0 !default;
$cx-default-progressbar-border-radius: $cx-default-border-radius !default;
$cx-default-progressbar-indicator-background-color: $cx-default-highlight-color-dark !default;

// SLIDER
$cx-default-slider-range-background-color: $cx-default-highlight-color-dark !default;


@import "~cx/src/variables";

$cx-input-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
  hover: (
     border-color: transparentize(cx-get-state-rule($cx-input-state-style-map, focus, border-color), 0.5)
  )
));

// LIST
$cx-list-item: cx-deep-map-merge($cx-list-item, (
  cursor: (
    background-color: lighten($cx-default-highlight-color, 4)
  ),
  selected: (
    background-color: darken($cx-default-highlight-color, 2)
  ),
  selected-cursor: (
    background-color: darken($cx-default-highlight-color, 8)
  )
));

$cx-tab-state-style-map: cx-deep-map-merge($cx-tab-state-style-map, (
  cursor: (
    background-color: lighten($cx-default-highlight-color, 2)
  ),
  selected: (
    background-color: darken($cx-default-highlight-color, 4)
  ),
  selected-cursor: (
    background-color: darken($cx-default-highlight-color, 8)
  )
));

$cx-tab-mods: cx-deep-map-merge($cx-tab-mods, (
  line: (
    cursor: (
      border-color: $cx-default-highlight-color
    ),
   selected: (
      border-color: darken($cx-default-highlight-color, 10)
   ),
   selected-cursor: (
      border-color: darken($cx-default-highlight-color, 20)
   )
 )
));


// menu

// FORM
//standard form field
$cx-std-field-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
  
));

//calendar
$cx-calendar-state-style-map: cx-deep-map-merge($cx-calendar-state-style-map, (
  hover: (
    border-color: transparentize(cx-get-state-rule($cx-input-state-style-map, focus, border-color), 0.5)
  )  
));

$cx-calendar-day-state-style-map: cx-deep-map-merge($cx-calendar-day-state-style-map, (
  hover-focus: (
    background-color: $cx-default-highlight-color
  ),
  selected: (
    background-color: $cx-default-highlight-color
  ),
  selected-focus: (
    background-color: darken($cx-default-highlight-color, 8)
  )
));

$cx-wheel-selection-state-style-map: cx-deep-map-merge($cx-wheel-selection-state-style-map, (
   default: (
      border-color: $cx-default-highlight-color-dark,
      background-color: rgba($cx-default-highlight-color, 0.4)
   ),
   active: (
      border-color: darken($cx-default-highlight-color-dark, 10),
      background-color: rgba($cx-default-highlight-color-dark, 0.4)
   )
));

//checkbox
$cx-checkbox-state-style-map: cx-deep-map-merge($cx-checkbox-state-style-map, (
  hover: (
    border-color: cx-get-state-rule($cx-input-state-style-map, hover, border-color)
  )
));

//textarea
$cx-textarea-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
  
));

//colorpicker
$cx-colorpicker-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
  hover: (
    border-color: transparentize(cx-get-state-rule($cx-input-state-style-map, focus, border-color), 0.5)
  )
));

// BUTTON
$cx-button-mods: cx-deep-map-merge($cx-button-mods, (
  hollow: (
    focus: (
      background-color: darken($cx-default-highlight-color, 8),
      border-color: darken($cx-default-highlight-color, 8),
      box-shadow: none
    )
  )
));

$cx-window-state-style-map: cx-deep-map-merge($cx-window-state-style-map, (
   default: (
      background: white,
      border-radius: $cx-default-border-radius
   )
));

$cx-window-header-state-style-map: cx-deep-map-merge($cx-window-header-state-style-map, (
   default: (
      background: null,
      font-size: 1.2rem,
      color: #24b5d6,
      font-weight: normal,
      margin: 0 1.5rem,
      padding: 1rem 0,
      border-bottom: 1px solid rgba(128, 128, 128, 0.1)
   )
));

$cx-window-body-state-style-map: cx-deep-map-merge($cx-window-body-state-style-map, (
   default: (
      background: null
   )
));

$cx-window-footer-state-style-map: cx-deep-map-merge($cx-window-footer-state-style-map, (
   default: (
      background: null,
      margin: 0 1.5rem,
      padding: 1rem 0,
      border-top: 1px solid rgba(128, 128, 128, 0.1)
   )
));

$cx-dropdown-styles: map-merge($cx-dropdown-styles, (
   border-width: 2px,
   border-style: solid
));

$cx-menu-state-style-map: map-merge($cx-menu-state-style-map, (
   default: (

   )
));

// SECTION
$cx-section-mods: cx-deep-map-merge($cx-section-mods, (
   warning: (
      default: (
         border-radius: $cx-default-border-radius,
         box-shadow: $cx-default-section-box-shadow
      )   
   ),
   primary: (
      default: (
         border-radius: $cx-default-border-radius,
         box-shadow: $cx-default-section-box-shadow
      )
   ),
   success: (
      default: (
         border-radius: $cx-default-border-radius,
         box-shadow: $cx-default-section-box-shadow
      )
   ),
   error: (
      default: (
         border-radius: $cx-default-border-radius,
         box-shadow: $cx-default-section-box-shadow
      )
   )  
 
));

//globals

$cx-element-style-map: cx-deep-map-merge($cx-element-style-map, (
   html: (
      background: #eff1f7
   ),
   h1: (
      font-weight: 400,
      color: #24b5d6
   ),
   h2: (
      font-weight: 400,
      color: #24b5d6
   ),
   h3: (
      font-weight: 400,
      color: #24b5d6
   ),
   h4: (
      font-weight: 400,
      color: #24b5d6
   ),
   h5: (
      font-weight: 400,
      color: #24b5d6
   ),
   h6: (
      font-weight: 400,
      color: #24b5d6
   ),
   table: (
      font-size: inherit
   )
));