@use "../box" as *;
@use "./Field.variables.scss" as *;
@use "../../util/scss/defaults.scss" as *;

$cx-default-calendar-font-size: $cx-default-box-font-size !default;
$cx-default-calendar-background-color: $cx-default-input-background-color !default;
$cx-default-calendar-border-width: $cx-default-box-border-width !default;
$cx-default-calendar-border-color: $cx-default-input-border-color !default;
$cx-default-calendar-border-radius: $cx-default-border-radius !default;
$cx-default-calendar-box-shadow: none !default;
$cx-default-calendar-padding: 5px !default;

//header
$cx-default-calendar-header-font-size: $cx-default-box-font-size !default;
$cx-default-calendar-header-font-weight: 500 !default;
$cx-default-calendar-header-color: $cx-default-color !default;
$cx-default-calendar-header-background-color: transparent !default;

//day
$cx-default-calendar-day-font-size: $cx-default-calendar-font-size !default;
$cx-default-calendar-day-border-radius: $cx-default-calendar-border-radius !default;
