@use "../../util/scss/add-rules.scss" as *;
@use "../../util/scss/clockwise.scss" as *;
@use "../../util/scss/deep-merge.scss" as *;

@use "./ColorPicker.variables.scss" as *;
@use "./Field.maps.scss" as *;

$cx-colorpicker-state-style-map: cx-deep-map-merge(
   $cx-input-state-style-map,
   (
      default: (
         font-family: $cx-default-colorpicker-font-family,
         font-size: $cx-default-colorpicker-font-size,
         background-color: $cx-default-colorpicker-background-color,
         border-width: $cx-default-colorpicker-border-width,
         border-color: $cx-default-colorpicker-border-color,
         box-shadow: $cx-default-colorpicker-box-shadow,
      ),
      hover: (),
   )
) !default;
