@use "sass:math";
@use "sass:map";
@use "../variables" as *;
@use "../maps" as *;
@use "../../util/scss/add-rules.scss" as *;
@use "../../util/scss/calc.scss" as *;
@use "../../util/scss/clockwise.scss" as *;
@use "../../util/scss/deep-merge.scss" as *;
@use "../../util/scss/besm.scss" as *;
@use "../../util/scss/include.scss" as *;
@use "./Field.scss" as *;

@mixin cx-datetimefield(
   $name: "datetimefield",
   $input-state-style-map: $cx-std-field-state-style-map,
   $placeholder: $cx-input-placeholder,
   $empty-text: $cx-empty-text,
   $clear-state-style-map: $cx-clear-state-style-map,
   $left-icon-state-style-map: $cx-input-left-icon-state-style-map,
   $right-icon-state-style-map: $cx-input-right-icon-state-style-map,
   $icon-size: $cx-default-input-icon-size,
   $width: $cx-default-input-width,
   $besm: $cx-besm
) {
   $block: map.get($besm, block);
   $element: map.get($besm, element);
   $state: map.get($besm, state);

   .#{$block}#{$name} {
      @include cxb-field(
         $besm,
         $input-state-style-map,
         $width: $width,
         $input: true
      );
   }

   $padding: cx-get-state-rule($input-state-style-map, default, "padding");

   .#{$element}#{$name}-input {
      @include cxe-field-input(
         $besm,
         $input-state-style-map,
         $placeholder: $placeholder,
         $overrides: (
            default: (
               padding: cx-top($padding)
                  cx-calc(
                     cx-right($padding),
                     $cx-default-clear-size,
                     $cx-default-clear-spacing
                  )
                  cx-bottom($padding)
                  cx-calc(
                     cx-left($padding),
                     $cx-default-input-left-tool-size,
                     $cx-default-input-left-tool-spacing
                  ),
            )
         )
      );
   }

   .#{$element}#{$name}-clear {
      @include cxe-field-button($besm, $clear-state-style-map);

      .#{$state}focus > & {
         @include cx-add-state-rules($clear-state-style-map, focus);
      }
      .#{$state}error > & {
         @include cx-add-state-rules($clear-state-style-map, error);
      }
   }

   .#{$element}#{$name}-left-icon {
      @include cxe-field-button(
         $besm,
         cx-deep-map-merge(
            $left-icon-state-style-map,
            (
               default: (
                  cursor: pointer,
               ),
            )
         )
      );

      .#{$state}disabled > & {
         @include cx-add-state-rules($input-state-style-map, disabled);
         border-width: 0;
      }
      .#{$state}focus > & {
         @include cx-add-state-rules($left-icon-state-style-map, focus);
      }
      .#{$state}error > & {
         @include cx-add-state-rules($left-icon-state-style-map, error);
      }
   }

   .#{$element}#{$name}-right-icon {
      @include cxe-field-button($besm, $right-icon-state-style-map);
      .#{$state}disabled > & {
         @include cx-add-state-rules($input-state-style-map, disabled);
         border-width: 0;
      }
      .#{$state}focus > & {
         @include cx-add-state-rules($right-icon-state-style-map, focus);
      }
      .#{$state}error > & {
         @include cx-add-state-rules($right-icon-state-style-map, error);
      }
   }

   .#{$element}#{$name}-icon {
      @include cxe-field-button-icon($besm, $icon-size);
   }

   .#{$element}#{$name}-empty-text {
      @include cxe-field-empty-text($empty-text);
   }
}

@if (cx-should-include("cx/widgets/DateTimeField")) {
   @include cx-datetimefield();
}
