
@mixin cx-helptext(
   $name: 'helptext',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {
      font-size: smaller;
      opacity: 0.8;

      &.#{$mod}block {
         display: block;
      }
   }
}

@if (cx-should-include('cx/widgets/HelpText')) {
   @include cx-helptext();
}
