@use "../variables" as *;
@use "./Field.maps.scss" as *;
@use "../../util/scss/deep-merge.scss" as *;
@use "../../util/scss/calc.scss" as *;

$cx-input-tag-state-style-map: (
   default: (
      font-size: $cx-default-input-tag-font-size,
      background-color: $cx-default-input-tag-background-color,
      padding: $cx-default-input-tag-padding,
      padding-right: cx-calc($cx-default-clear-size, 2px),
      border-radius: $cx-default-input-tag-border-radius,
   ),
) !default;

$cx-input-tag-clear-state-style-map: cx-deep-map-merge(
   $cx-clear-state-style-map,
   (
      default: (
         right: cx-round(
               cx-multiply($cx-default-input-tag-border-radius, 0.125)
            ),
      ),
   )
) !default;
