@use "sass:math";
@use "./core.scss" as *;
@use "../core.scss" as *;
@use "../box.scss" as *;
@use "../../util/scss/add-rules.scss" as *;
@use "../../util/scss/clockwise.scss" as *;
@use "../../util/scss/deep-merge.scss" as *;

@mixin cx-validationerror($name: "uploadbutton", $besm: $cx-besm) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $mod: map-get($besm, mod);

   .#{$block}validationerror {
      color: rgb(220, 0, 9);
      font-size: smaller;

      &.#{$mod}block {
         display: block;
      }
   }
}

@if (cx-should-include("cx/widgets/ValidationError")) {
   @include cx-validationerror();
}
