.cxb-wheel {

   display: inline-block;
   text-align: center;
   padding: 15px 0;
   vertical-align: middle;
   background: inherit;
   position: relative;
   font-size: 14px;

   &:focus {
      outline: 0;

      .cxe-wheel-selection {
         border-color: #3c7eff;
         background: rgba(#3c7eff, 0.1);
      }
   }
}

.cxe-wheel-wrap {
   position: relative;
   overflow: hidden;
   background: inherit;
}

.cxe-wheel-mask {
   position: absolute;
   left: 0;
   right: 0;
   pointer-events: none;
   background: inherit;
   opacity: 0.6;
}

.cxe-wheel-wheel {
   overflow: auto;
   touch-action: pan-y;
   display: inline-block;

   &::-webkit-scrollbar {
      display: none;
   }
}

.cxe-wheel-option {
   padding: 5px 15px;

   &.cxs-dummy {
      visibility: hidden;
   }
}

.cxe-wheel-selection {
   position: absolute;
   left: 0;
   right: 0;
   margin-top: -4px;
   box-sizing: content-box;
   border-width: 2px 0 2px 0;
   border-style: solid;
   border-color: #9bc8ff;
   pointer-events: none;
   background: rgba(#9bc8ff, 0.1);
}

.cxe-wheel-arrow-up,
.cxe-wheel-arrow-down {
   position: absolute;
   left: 50%;
   margin-left: -8px;
   width: 20px;
   height: 20px;
   opacity: 0.5;

   &:hover {
      background: #eee;
      opacity: 1;
   }
}

.cxe-wheel-arrow-down
{
   bottom: 0;
}

.cxe-wheel-arrow-up {
   transform: rotate(180deg);
   top: 0;
}

.cxe-wheel-arrow-icon {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -8px;
   margin-top: -8px;
   width: 16px;
   height: 16px;
}