@use "sass:map";
@use "sass:math";
@use "./variables.scss" as *;
@use "../../util/scss/add-rules.scss" as *;
@use "../../util/scss/clockwise.scss" as *;
@use "../../util/scss/deep-merge.scss" as *;
@use "../../util/scss/calc.scss" as *;
@use "../../util/scss/besm.scss" as *;
@use "../../util/scss/defaults.scss" as *;

@mixin cx-overlay($name: "overlay", $besm: $cx-besm) {
   $block: map.get($besm, block);
   $element: map.get($besm, element);
   $state: map.get($besm, state);

   .#{$block}#{$name} {
      @include cxb-overlay($name, $besm);

      &.#{$state}pad {
         padding: $cx-default-container-padding;
      }
   }

   .#{$element}#{$name}-modal-backdrop {
      @include cxe-overlay-modal-backdrop;
   }

   .#{$element}#{$name}-shadow {
      @include cxe-overlay-shadow;
   }
}

@if (cx-should-include("cx/widgets/Overlay")) {
   @include cx-overlay();
}
