@use "sass:math";
@use "sass:map";
@use "../variables" as *;
@use "../maps" as *;
@use "../../util/scss/add-rules.scss" as *;
@use "../../util/scss/clockwise.scss" as *;
@use "../../util/scss/deep-merge.scss" as *;
@use "../../util/scss/calc.scss" as *;
@use "../../util/scss/besm.scss" as *;
@use "../../util/scss/include.scss" as *;
@use "./Dropdown.scss" as *;
@use "./Overlay.scss" as *;

@keyframes cx-tooltip-enter-animation {
   from {
      transform: scale(0.9);
      opacity: 0;
   }

   to {
      transform: scale(1);
      opacity: 1;
   }
}

@keyframes cx-tooltip-leave-animation {
   from {
      transform: scale(1);
      opacity: 1;
   }

   to {
      transform: scale(0.9);
      opacity: 0;
   }
}

@mixin cx-tooltip($name: "tooltip", $besm: $cx-besm) {
   $block: map.get($besm, block);
   $element: map.get($besm, element);
   $state: map.get($besm, state);
   $mod: map.get($besm, mod);

   .#{$block}#{$name} {
      @include cxb-overlay($name, $besm);
      display: block;
      left: -10000px;
      top: -10000px;
      box-shadow: $cx-tooltip-box-shadow;
      background-color: $cx-tooltip-background-color;
      border: $cx-tooltip-border-width solid $cx-tooltip-border-color;
      color: $cx-tooltip-color;
      padding: $cx-tooltip-padding;
      border-radius: $cx-tooltip-border-radius;
      font-size: $cx-tooltip-font-size;
      transition: opacity 0.2s ease-in;
      max-width: 400px;
      pointer-events: none;

      &.#{$state}animate {
         animation: cx-tooltip-enter-animation 0.2s;
      }

      &.#{$state}animate-leave {
         animation: cx-tooltip-leave-animation 0.2s;
         animation-fill-mode: forwards;
      }

      &.#{$state}mouse-trap {
         pointer-events: auto;
      }

      &.#{$mod}error {
         background-color: $cx-tooltip-background-color-error;
         border-color: $cx-tooltip-border-color-error;
         color: $cx-tooltip-color-error;

         .#{$element}#{$name}-arrow-border {
            color: $cx-tooltip-border-color-error;
         }

         .#{$element}#{$name}-arrow-fill {
            color: $cx-tooltip-background-color-error;
         }
      }
   }

   .#{$element}#{$name}-title {
      font-weight: bold;
      font-size: 100%;
   }

   @include cx-dropdown-arrows(
      $name,
      (
         border-width: $cx-tooltip-border-width,
         border-color: $cx-tooltip-border-color,
         border-style: solid,
         background-color: $cx-tooltip-background-color,
      ),
      $cx-tooltip-arrow-size,
      $besm: $besm
   );
}

@if (cx-should-include("cx/widgets/Tooltip")) {
   @include cx-tooltip();
}
