@use "../../util/scss/defaults.scss" as *;

$cx-default-window-background-color: transparent !default;
$cx-default-window-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.29) !default;
$cx-default-window-border-radius: $cx-default-border-radius !default;

//header
$cx-default-window-header-color: null !default;
$cx-default-window-header-background-color: rgba(246, 246, 246, 0.9) !default;
$cx-default-window-header-padding: 10px 15px !default;
$cx-default-window-header-font-size: 16px !default;

//footer
$cx-default-window-footer-color: null !default;
$cx-default-window-footer-background-color: rgba(246, 246, 246, 0.9) !default;
$cx-default-window-footer-padding: 10px 15px !default;
$cx-default-window-footer-font-size: 16px !default;
