@import 'form/variables';
@import "../util/scss/clockwise";
@import "../util/scss/include";
@import "../util/scss/add-rules";
@import "../util/scss/calc";

$cx-default-button-font-family: $cx-default-box-font-family !default;
$cx-default-button-font-size: $cx-default-box-font-size !default;
$cx-default-button-padding: $cx-default-box-padding 2 * $cx-default-box-padding !default;
$cx-default-button-border-width: $cx-default-box-border-width !default;
$cx-default-button-background-color: #eee !default;
$cx-default-button-border-color: #ccc !default;
$cx-default-button-border-radius: $cx-default-border-radius !default;
$cx-default-button-color: null !default;
$cx-default-button-box-shadow: inset 0 -2px rgba(128, 128, 128, 0.1) !default;

$cx-button-state-style-map: (
   default: (
      background-color: $cx-default-button-background-color,
      box-shadow: $cx-default-button-box-shadow,
      border-color: $cx-default-button-border-color,
      border-style: solid,
      user-select: none,
      font-family: $cx-default-button-font-family,
      font-size: $cx-default-button-font-size,
      line-height: $cx-default-box-line-height,
      border-width: $cx-default-button-border-width,
      border-radius: $cx-default-button-border-radius,
      padding: $cx-default-button-padding,
      color: $cx-default-button-color,
      cursor: pointer,
      -webkit-appearance: none,
      -moz-appearance: none,
      appearance: none
   ),
   hover: (
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
   ),
   focus: (
      outline: none,
      box-shadow: 0 0 1px 1px rgba(77, 144, 254, 0.8)
   ),
   disabled: (
      color: gray,
      box-shadow: none
   ),
   active: (
      top: 1px,
      outline: none,
      box-shadow: none
   )
) !default;

$cx-button-mods: (
   primary: (
      default: (
         background: #1f99f8,
         border-color: #1E88E5,
         color: white
      ),
      disabled: (
         background: transparentize(#1f99f8, 0.5),
         border-color: transparentize(#1E88E5, 0.9),
         color: transparentize(white, 0.4),
      ),
      hover: (
          background-color: #1f99f8
      )
   ),
   danger: (
      default: (
         background: #d32f2f,
         border-color: #c62828,
         color: white
      ),
      disabled: (
         background: transparentize(#d32f2f, 0.4),
         border-color: transparentize(#c62828, 0.9),
         color: transparentize(white, 0.5),
      ),
      hover: (
          background-color: #d32f2f
      )
   ),
   hollow: (
      default: (
         background: transparent,
         border-color: transparent,
         color: inherit,
         box-shadow: none
      ),
      hover: map-merge(map-get($cx-list-item, hover), (
         box-shadow: none,
         border-color: transparent
      )),
      focus: map-merge(map-get($cx-list-item, selected-focus), (
         box-shadow: none,
         border-color: transparent
      )),
      disabled: (
         color: gray
      )
   )
) !default;


@mixin cx-button(
   $name: 'button',
   $state-style-map: $cx-button-state-style-map,
   $mods: $cx-button-mods,
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {
      position: relative;
      box-sizing: border-box;
      display: inline-block;

      $line-height: cx-get-state-rule($state-style-map, default, 'line-height', 1.2em);
      $padding: cx-get-state-rule($state-style-map, default, 'padding', 0);
      $border-width: cx-get-state-rule($state-style-map, default, 'border-width', 1px);

      height: cx-calc($line-height, cx-top($padding), cx-bottom($padding), cx-top($border-width), cx-bottom($border-width));

      @include cx-add-state-rules($state-style-map, 'default');

      &::-moz-focus-inner {
         border: 0;
         padding: 0;
         margin: -1px;
      }

      &:not([disabled]) {
         &:hover {
            @include cx-add-state-rules($state-style-map, 'hover');
         }

         &:focus {
            @include cx-add-state-rules($state-style-map, 'focus');
         }

         &:hover:focus {
            @include cx-add-state-rules($state-style-map, 'hover-focus');
         }

         &:active {
            @include cx-add-state-rules($state-style-map, 'active');
         }
      }

      &[disabled], &.#{$state}-disabled {
         @include cx-add-state-rules($state-style-map, 'disabled');
      }

      @each $modname, $config in $mods {
         &.#{$mod}#{$modname} {
            @include cx-add-state-rules($config, default);

            &[disabled], &.#{$state}disabled {
                @include cx-add-state-rules($config, disabled);
            }

            &:not([disabled]) {

               &:hover {
                   @include cx-add-state-rules($config, hover);
               }

               &:focus {
                   @include cx-add-state-rules($config, focus);
               }

               &:active {
                   @include cx-add-state-rules($config, active);
               }
            }
         }
      }
   }

   $iconSize: 16px;
   $padding: cx-get-state-rule($state-style-map, default, padding);

   .#{$element}#{$name}-icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: cx-left($padding) / 2;
      margin-top: -$iconSize / 2;
      height: $iconSize;
      width: $iconSize;
      line-height: $iconSize;
   }

   .#{$element}#{$name}-baseline {
      display: inline-block;
      width: 1px;
      margin-left: -1px;
   }

   .#{$block}#{$name}.#{$state}icon {
      padding: cx-top($padding) cx-right($padding) cx-bottom($padding) cx-calc(cx-left($padding), $iconSize);

      &.#{$state}empty {
         padding: cx-top($padding) cx-right($padding)/2 cx-bottom($padding) cx-calc(cx-left($padding)/2, $iconSize);
      }
   }
}

@if (cx-include('ui/Button')) {
   @include cx-button;
}