@import 'variables';
@import "../util/scss/include";

$cx-section-styles: () !default;

$cx-section-well: (
   background: rgba(255, 255, 255, 0.9),
   border-radius: 3px,
) !default;

@mixin cx-section(
   $name: 'section',
   $besm: $cx-besm
) {

   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {
      flex-direction: column;
      display: flex;
      box-sizing: border-box;

      @include cx-add-rules($cx-section-styles);

      &.cxm-well {
         @include cx-add-rules($cx-section-well);
      }
   }

   .#{$element}#{$name}-header {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0 1.5rem;
      padding: 1rem 0;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(128, 128, 128, 0.3);
   }

   .#{$element}#{$name}-body {
      flex: 1 0 auto;
      box-sizing: border-box;

      .#{$state}pad > & {
         padding: 1rem 1.5rem;
      }
   }

   .#{$element}#{$name}-footer {
      margin: 0 1.5rem;
      padding: 1rem 0;
      box-sizing: border-box;
      border-top: 1px solid rgba(128, 128, 128, 0.3);
   }
}

@if (cx-include('cx/widgets/Section')) {
   @include cx-section();
}