@import "../../util/call-once";

//SVG Optimizer: http://petercollingridge.appspot.com/svg-optimiser
//SVG Optimizer: https://jakearchibald.github.io/svgomg/
//Url Inliner: http://codepen.io/jakob-e/pen/doMoML

@mixin cx-icon() {
   background-size: 16px 16px;
   background-repeat: no-repeat;
}

@if cx-call-once("ui/icons") {

   %cx-icon-close {
      @include cx-icon();
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='32' viewBox='0 0 32 32' width='32'%3E%3Cpath d='M17.5 16l8.2-8.2c0.4-0.4 0.4-1 0-1.4 -0.4-0.4-1-0.4-1.4 0l-8.2 8.2L7.7 6.3c-0.4-0.4-1-0.4-1.4 0 -0.4 0.4-0.4 1 0 1.4l8.3 8.3 -8.3 8.3c-0.4 0.4-0.4 1 0 1.4 0.4 0.4 1 0.4 1.4 0l8.3-8.3 8.3 8.3c0.4 0.4 1 0.4 1.4 0 0.4-0.4 0.4-1 0-1.4L17.5 16z' fill='%23121313'/%3E%3C/svg%3E");
      //background-image: url("./close.svg"); //hopefully this will work one day
   }

   %cx-icon-arrow-down {
      @include cx-icon();
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E %3Cpath d='M12 6H3l4.5 4.5z' fill='%23898989'/%3E %3C/svg%3E");
   }

   %cx-icon-arrow-right {
      @include cx-icon();
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E %3Cpath d='M6 4v8l4-4z' fill='%23898989'/%3E %3C/svg%3E");
   }

   %cx-icon-file {
      @include cx-icon();
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E %3Cpath d='M3 27h13l-3 7H0z' fill='%23b10000'/%3E %3Cpath d='M2 2h5v5h5v7H2z' fill='%23898989'/%3E %3Cpath d='M8 2v4h4z' fill='%23898989'/%3E %3C/svg%3E");
   }

   %cx-icon-folder {
      @include cx-icon();
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E %3Cpath d='M0 5h13v9H0zm1 0h6L6 3H2z' fill='%23898989'/%3E %3Cpath d='M3 27h13l-3 7H0z' fill='%23b10000'/%3E %3C/svg%3E");
   }

   %cx-icon-folder-open {
      @include cx-icon();
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E %3Cg fill='%23898989'%3E %3Cpath d='M0 5v7l2.5-6H13V5zm1 0h6L6 3H2z'/%3E %3Cpath d='M3 7h13l-3 7H0z'/%3E %3C/g%3E %3C/svg%3E");
   }

   %cx-icon-dropdown-arrow {
      @include cx-icon();
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M2.505 6.647L8 11l5.473-4.33L13 6.02 8 10 3 6z' fill='%23b3b3b3' fill-rule='evenodd'/%3E%3C/svg%3E");
   }

   %cx-icon-loading {
      @include cx-icon();
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='uil-ring'%3E%3Cpath fill='none' class='bk' d='M0 0h100v100H0z'/%3E%3Cdefs%3E%3Cfilter id='a' x='-100%' y='-100%' width='300%' height='300%'%3E%3CfeOffset result='offOut' in='SourceGraphic'/%3E%3CfeGaussianBlur result='blurOut' in='offOut'/%3E%3CfeBlend in='SourceGraphic' in2='blurOut'/%3E%3C/filter%3E%3C/defs%3E%3Cpath d='M10 50s0 .5.1 1.4c0 .5.1 1 .2 1.7 0 .3.1.7.1 1.1.1.4.1.8.2 1.2.2.8.3 1.8.5 2.8.3 1 .6 2.1.9 3.2.3 1.1.9 2.3 1.4 3.5.5 1.2 1.2 2.4 1.8 3.7.3.6.8 1.2 1.2 1.9.4.6.8 1.3 1.3 1.9 1 1.2 1.9 2.6 3.1 3.7 2.2 2.5 5 4.7 7.9 6.7 3 2 6.5 3.4 10.1 4.6 3.6 1.1 7.5 1.5 11.2 1.6 4-.1 7.7-.6 11.3-1.6 3.6-1.2 7-2.6 10-4.6 3-2 5.8-4.2 7.9-6.7 1.2-1.2 2.1-2.5 3.1-3.7.5-.6.9-1.3 1.3-1.9.4-.6.8-1.3 1.2-1.9.6-1.3 1.3-2.5 1.8-3.7.5-1.2 1-2.4 1.4-3.5.3-1.1.6-2.2.9-3.2.2-1 .4-1.9.5-2.8.1-.4.1-.8.2-1.2 0-.4.1-.7.1-1.1.1-.7.1-1.2.2-1.7.1-.9.1-1.4.1-1.4V54.2c0 .4-.1.8-.1 1.2-.1.9-.2 1.8-.4 2.8-.2 1-.5 2.1-.7 3.3-.3 1.2-.8 2.4-1.2 3.7-.2.7-.5 1.3-.8 1.9-.3.7-.6 1.3-.9 2-.3.7-.7 1.3-1.1 2-.4.7-.7 1.4-1.2 2-1 1.3-1.9 2.7-3.1 4-2.2 2.7-5 5-8.1 7.1L70 85.7c-.8.5-1.7.9-2.6 1.3l-1.4.7-1.4.5c-.9.3-1.8.7-2.8 1C58 90.3 53.9 90.9 50 91l-3-.2c-1 0-2-.2-3-.3l-1.5-.2-.7-.1-.7-.2c-1-.3-1.9-.5-2.9-.7-.9-.3-1.9-.7-2.8-1l-1.4-.6-1.3-.6c-.9-.4-1.8-.8-2.6-1.3l-2.4-1.5c-3.1-2.1-5.9-4.5-8.1-7.1-1.2-1.2-2.1-2.7-3.1-4-.5-.6-.8-1.4-1.2-2-.4-.7-.8-1.3-1.1-2-.3-.7-.6-1.3-.9-2-.3-.7-.6-1.3-.8-1.9-.4-1.3-.9-2.5-1.2-3.7-.3-1.2-.5-2.3-.7-3.3-.2-1-.3-2-.4-2.8-.1-.4-.1-.8-.1-1.2v-1.1-1.7c-.1-1-.1-1.5-.1-1.5z' fill='%23aaadad' filter='url(%23a)'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 50 50' to='360 50 50' repeatCount='indefinite' dur='0.7s'/%3E%3C/path%3E%3C/svg%3E");
   }

   %cx-icon-check {
      @include cx-icon();
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 63.999999 63.999999'%3E%3Cpath d='M7.136 42.94l20.16 14.784 29.568-40.32-9.72-7.128-22.598 30.816-10.44-7.656z' fill='currentColor' /%3E%3C/svg%3E");
   }

   .cxb-svg-icon {
      fill: currentColor;
   }
}

