@use "sass:map";
@use "../../variables.scss" as *;
@use "cx/src/maps" as *;
@use "cx/src/util/scss/deep-merge" as *;

// =============================================================================
// MONTHPICKER - Map Overrides
// =============================================================================

$cx-monthpicker-state-style-map: cx-deep-map-merge(
   $cx-monthpicker-state-style-map,
   (
      default: (
         border-color: var(--cx-theme-border-color),
      ),
      focus: (
         box-shadow: none,
         border-color: null,
      ),
   )
);

// MonthPicker cells
$cx-monthpicker-cell-state-style-map: cx-deep-map-merge(
   $cx-monthpicker-cell-state-style-map,
   (
      default: (
         font-size: var(--cx-monthpicker-cell-font-size),
      ),
      outside: (
         color: color-mix(in srgb, var(--cx-theme-text-color) 30%, transparent),
      ),
      cursor: (
         background-color: var(--cx-item-hover-background-color),
         box-shadow: var(--cx-cursor-box-shadow),
      ),
      selected: (
         background-color: var(--cx-theme-accent-color),
         color: var(--cx-theme-accent-text-color),
      ),
      selected-cursor: (
         background-color: var(--cx-theme-accent-color),
         color: var(--cx-theme-accent-text-color),
         box-shadow: var(--cx-cursor-box-shadow),
         position: relative,
      ),
   )
);
