@import "variables";
@import '../../util/scss/include';

@mixin cx-link(
   $name: 'link',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {
   .#{$block}#{$name} {
      &.#{$state}active {
         font-weight: bold;
      }
   }
}

@if (cx-include('cx/widgets/Link')) {
   @include cx-link();
}

