@import "variables";
@import '../../util/scss/include';

@mixin cx-menu(
   $name: 'menu',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;

      &.#{$state}horizontal {
         & > .#{$element}#{$name}-item {
            display: inline-block;
         }
      }
   }

   .#{$element}#{$name}-item {
      padding: 0;
      position: relative;
      border: 0 solid transparent;

      &.#{$state}focusable {

         &:hover {
            @each $rule, $value in map-get($cx-list-item, hover) {
               #{$rule}: $value;
            }
         }

         &.#{$state}cursor {
            @each $rule, $value in map-get($cx-list-item, selected-focus) {
               #{$rule}: $value;
            }
         }
      }
   }

   .#{$element}#{$name}-item-body {
      border: 1px solid transparent;

      & > hr {
         border: none;
         border-top: 1px solid lightgray;
         margin: 10px 20px;
      }

      & > a {
         text-decoration: none;
         color: inherit;

         &:focus {
            outline: none;
         }
      }
   }

   .#{$mod}#{$name} {
      margin: 10px 20px;
      display: block;
   }

   .#{$mod}#{$name}-pad {
      padding: 10px 20px;
      display: block;
   }
}

@if (cx-include('cx/widgets/Menu')) {
   @include cx-menu();
}