@import "variables";
@import '../Button';

$cx-menu-state-style-map: $cx-list !default;

@mixin cx-menu(
   $name: 'menu',
   $state-style-map: $cx-menu-state-style-map,
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;

      &.#{$state}horizontal {

         white-space: nowrap;

         & > .#{$element}#{$name}-item {
            display: inline-block;
            vertical-align: middle;

            & > .#{$mod}#{$name} {
               margin: 0 cx-right($cx-default-button-padding) 0 cx-left($cx-default-button-padding);
            }
         }
      }

      &.#{$state}vertical > .#{$element}#{$name}-item > .#{$mod}#{$name} {
         margin: $cx-default-button-padding;
         border: $cx-default-button-border-width solid transparent;
         display: block;
      }

      @include cx-add-state-rules($state-style-map, default);

      .#{$element}#{$name}-item {
         & > hr {
            border: none;
            border-top: 1px solid lightgray;
            margin: $cx-default-button-padding;
         }
      }
   }
}

@if (cx-include('cx/widgets/Menu')) {
   @include cx-menu();
}