.cxb-submenu {
   box-sizing: border-box;
   margin: 0;
   padding: 10px 20px;
   list-style: none;
   cursor: pointer;
   position: relative;

   &:focus {
      outline: none;
   }

   &.cxs-arrow {
      padding-right: calc(15px + 1em);
   }
}

.cxe-submenu-arrow {
   position: absolute;
   width: 20px;
   height: 20px;
   right: 5px;
   top: calc(50% - 10px);

   .cxs-vertical > & {
      transform: rotate(-90deg);
   }
}