@import "variables";
@import '../../util/scss/include';

@mixin cx-submenu(
   $name: 'submenu',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$block}#{$name} {
      box-sizing: border-box;
      margin: 0;
      padding: 10px 20px;
      list-style: none;
      cursor: pointer;
      position: relative;

      &:focus {
         outline: none;
      }

      &.#{$state}arrow {
         padding-right: calc(15px + 1em);
      }
   }

   .#{$element}#{$name}-arrow {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 5px;
      top: calc(50% - 10px);

      .#{$state}vertical > & {
         transform: rotate(-90deg);
      }
   }
}

@if (cx-include('cx/widgets/Submenu')) {
   @include cx-submenu();
}