@import "variables";
@import '../../util/scss/include';

@mixin cx-backdrop(
   $name: 'backdrop',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$block}#{$name} {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1000;

      &.#{$state}masked {
         background: gray;
         opacity: 0.5;
      }
   }
}

@if (cx-include('cx/widgets/Backdrop')) {
   @include cx-backdrop();
}
