@import "Overlay";


@mixin cx-dropdown(
   $name: 'dropdown',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$block}#{$name} {
      @extend %cxb-overlay;
      display: block;
      left: -10000px;
      top: -10000px;
      background: white;
      box-shadow: 0 10px 50px 1px rgba(0, 0, 0, 0.29);
   }
}

@if (cx-include('cx/widgets/Dopdown')) {
   @include cx-dropdown();
}
