@import "variables";

.cxb-tooltip {
   @extend %cxb-overlay;
   display: block;
   left: -10000px;
   top: -10000px;
   box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
   background-color: $cx-tooltip-background-color;
   border: $cx-tooltip-border-width solid $cx-tooltip-border-color;
   color: $cx-tooltip-color;
   padding: $cx-tooltip-padding;
   border-radius: $cx-tooltip-border-radius;
   font-size: smaller;
   overflow: visible;
   opacity: 0;
   transition: opacity 0.2s ease-in;
   max-width: 400px;
   pointer-events: none;
   z-index: 20000;

   &.cxs-animated {
      opacity: 1;
      transition-delay: 0.2s;
      pointer-events: auto;
   }

   &.cxm-error {
      background-color: $cx-tooltip-background-color-error;
      border-color: $cx-tooltip-border-color-error;
      color: $cx-tooltip-color-error;

      .cxe-tooltip-arrow-border {
         color: $cx-tooltip-border-color-error;
      }

      .cxe-tooltip-arrow-fill {
         color: $cx-tooltip-background-color-error;
      }
   }
}

.cxe-tooltip-title {
   font-weight: bold;
   font-size: 100%;
}

.cxe-tooltip-arrow-border, .cxe-tooltip-arrow-fill {
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}

.cxe-tooltip-arrow-border {
   color: $cx-tooltip-border-color;
   border-width: $cx-tooltip-border-width + $cx-tooltip-arrow-size;
}

.cxe-tooltip-arrow-fill {
   color: $cx-tooltip-background-color;
   border-width: $cx-tooltip-arrow-size;
}

.cxs-place-right {
   .cxe-tooltip-arrow-fill {
      right: 100%;
      top: 50%;
      border-right-color: currentColor;
      margin-top: -$cx-tooltip-arrow-size;
   }

   .cxe-tooltip-arrow-border {
      right: 100%;
      top: 50%;
      border-right-color: currentColor;
      margin-top: -$cx-tooltip-border-width - $cx-tooltip-arrow-size;
   }
}

.cxs-place-left {
   .cxe-tooltip-arrow-fill {
      left: 100%;
      top: 50%;
      border-left-color: currentColor;
      margin-top: -$cx-tooltip-arrow-size;
   }

   .cxe-tooltip-arrow-border {
      left: 100%;
      top: 50%;
      border-left-color: currentColor;
      margin-top: -$cx-tooltip-border-width - $cx-tooltip-arrow-size;
   }
}

.cxs-place-up {
   .cxe-tooltip-arrow-fill {
      left: 50%;
      top: 100%;
      border-top-color: currentColor;
      margin-left: -$cx-tooltip-arrow-size;
   }

   .cxe-tooltip-arrow-border {
      left: 50%;
      top: 100%;
      border-top-color: currentColor;
      margin-left: -$cx-tooltip-border-width - $cx-tooltip-arrow-size;
   }
}

.cxs-place-down {
   .cxe-tooltip-arrow-fill {
      left: 50%;
      bottom: 100%;
      border-bottom-color: currentColor;
      margin-left: -$cx-tooltip-arrow-size;
   }

   .cxe-tooltip-arrow-border {
      left: 50%;
      bottom: 100%;
      border-bottom-color: currentColor;
      margin-left: -$cx-tooltip-border-width - $cx-tooltip-arrow-size;
   }
}