@import "../form/variables";
@import "../../util/scss/include";

@mixin cx-pagination(
   $name: 'pagination',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$block}#{$name} {
      display: inline-block;
      white-space: nowrap;
      margin: 0;
      padding: 0;
      line-height: $cx-default-box-line-height;
      box-sizing: border-box;

      @include cx-add-state-rules($cx-list, default);

      &:hover {
         @include cx-add-state-rules($cx-list, hover);
      }

      &:focus {
         @include cx-add-state-rules($cx-list, focus);
      }
   }

   .#{$element}#{$name}-page {
      display: inline-block;
      box-sizing: border-box;
      padding: $cx-default-box-padding 2 * $cx-default-box-padding;
      border-width: $cx-default-border-width;
      border-color: $cx-default-border-color;
      border-style: solid;
      margin-left: -1px;
      text-decoration: none;
      cursor: pointer;

      &:first-child {
         border-top-left-radius: $cx-default-border-radius;
         border-bottom-left-radius: $cx-default-border-radius;
      }

      &:last-child {
         border-top-right-radius: $cx-default-border-radius;
         border-bottom-right-radius: $cx-default-border-radius;
      }

      &:hover, &:focus {
        @include cx-add-state-rules($cx-list-item, hover);

         &:focus {
            @include cx-add-state-rules($cx-list-item, hover-focus);
         }
      }

      &:active {
         @include cx-add-state-rules($cx-list-item, active);
      }

      &.#{$state}active {
         @include cx-add-state-rules($cx-list-item, selected);
         &:focus {
            @include cx-add-state-rules($cx-list-item, selected-focus);
         }
      }

      &.#{$state}disabled {
         @include cx-add-state-rules($cx-list-item, disabled);
      }
   }
}

@if (cx-include('cx/widgets/Pagination')) {
   @include cx-pagination();
}