.cxb-treenode {
   padding-left: 40px;
   position: relative;

   @for $i from 1 through 20 {
      &.cxs-level-#{$i} {
         margin-left: #{($i * 20)}px;
      }
   }
}

.cxe-treenode-handle {
   position: absolute;
   width: 36px;
   left: 0;
   top: 0;
   bottom: 0;
   background-position: left center;

   & > div {
      background-position: left center;
      position: absolute;
      left: 16px;
      top: 0;
      bottom: 0;
      right: 0;
   }

   .cxs-folder.cxs-expanded > & {
      @extend %cx-icon-arrow-down;

      & > div {
         @extend %cx-icon-folder-open;
      }
   }

   .cxs-folder.cxs-expanded.cxs-loading > & {
      & > div {
         @extend %cx-icon-loading;
      }
   }

   .cxs-folder > & {
      @extend %cx-icon-arrow-right;

      &:hover {
         background-color: rgba(200, 200, 200, 0.5);
      }

      & > div {
         @extend %cx-icon-folder;
      }
   }

   .cxs-leaf > & > div {
      @extend %cx-icon-file;
   }
}


.cxb-grid.cxm-tree {
   td {
      border-top: none;
   }
}



