@import "../form/variables";
@import "../../util/scss/include";

@mixin cx-treenode(
   $name: 'treenode',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {
      padding-left: 40px;
      position: relative;

      @for $i from 1 through 20 {
         &.#{$state}level-#{$i} {
            margin-left: #{($i * 20)}px;
         }
      }
   }

   .#{$element}#{$name}-handle {
      position: absolute;
      width: 36px;
      left: 0;
      top: 0;
      bottom: 0;
      background-position: left center;

      & > div {
         background-position: left center;
         position: absolute;
         left: 16px;
         top: 0;
         bottom: 0;
         right: 0;
      }

      .#{$state}folder.#{$state}expanded > & {
         @extend %cx-icon-arrow-down;

         & > div {
            @extend %cx-icon-folder-open;
         }
      }

      .#{$state}folder.#{$state}expanded.#{$state}loading > & {
         & > div {
            @extend %cx-icon-loading;
         }
      }

      .#{$state}folder > & {
         @extend %cx-icon-arrow-right;

         &:hover {
            background-color: rgba(200, 200, 200, 0.5);
         }

         & > div {
            @extend %cx-icon-folder;
         }
      }

      .#{$state}leaf > & > div {
         @extend %cx-icon-file;
      }
   }

   .#{$block}grid.#{$mod}tree {
      td {
         border-top: none;
      }
   }
}


@if (cx-include('cx/widgets/TreeNode')) {
   @include cx-treenode();
}