@import "../../variables";
@import "../../../util/scss/include";

@mixin cx-bubblegraph(
   $name: 'bubblegraph',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {

   .#{$block}#{$name} {
   }

   .#{$element}#{$name}-bubble {
      fill: rgb(128, 128, 128);
      opacity: 0.5;

      &:hover {
         opacity: 0.75;
      }

      &.#{$state}selected {
         stroke: black;
         stroke-width: 2px;
      }
   }
}

@if (cx-include('cx/charts/BubbleGraph')) {
   @include cx-bubblegraph();
}