@import "../../variables";
@import "../../../util/scss/include";

@mixin cx-columngraph(
   $name: 'columngraph',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {

   .#{$element}#{$name}-column {
      stroke-width: 1px;
      fill: #eee;
      stroke: #ccc;

      &.#{$state}selectable {
         cursor: pointer;
      }

      &.#{$state}selected {
         stroke-width: 2px;
      }
   }
}


@if (cx-include('cx/charts/ColumnGraph')) {
   @include cx-columngraph();
}