@import "../../variables";
@import "../../../util/scss/include";

@mixin cx-gridlines(
   $name: 'gridlines',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {

   .cxb-gridlines {
      shape-rendering: crispEdges;

      path {
         stroke: rgba(128, 128, 128, 0.15);
         fill: none;
         stroke-width: 1;
      }
   }
}

@if (cx-include('cx/charts/Gridlines')) {
   @include cx-gridlines();
}