@import "../../variables";
@import "../../../util/scss/include";

@mixin cx-legendentry(
   $name: 'legendentry',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {
   .cxb-legendentry {
      display: inline-block;
      padding: 5px 0 5px 30px;
      position: relative;
      box-sizing: border-box;
      cursor: pointer;
   }

   .cxe-legendentry-svg {
      position: absolute;
      left: 5px;
      top: calc(50% - 10px);
      width: 20px;
      height: 20px;
   }

   .cxe-legendentry-shape {
      fill: #eee;
   }
}

@if (cx-include('cx/charts/LegendEntry')) {
   @include cx-legendentry();
}