@import "../../variables";
@import "../../../util/scss/include";

@mixin cx-linegraph(
   $name: 'linegraph',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {

   .#{$element}#{$name}-line {
      stroke: gray;
      stroke-width: 2px;
      fill: none !important;
   }

   .#{$element}#{$name}-area {
      stroke-width: 0;
      opacity: 0.5;
   }
}

@if (cx-include('cx/charts/LineGraph')) {
   @include cx-linegraph();
}