@import "../../variables";
@import "../../../util/scss/include";

@mixin cx-marker(
   $name: 'marker',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {
   .cxe-marker-shape {
      fill: rgb(128, 128, 128);
      stroke: rgb(128, 128, 128);
      stroke-width: 1px;

      .cxs-draggable-x > & {
         cursor: ew-resize;
      }

      .cxs-draggable-y > & {
         cursor: ns-resize;
      }

      .cxs-draggable-xy > & {
         cursor: move;
      }

      .cxs-selectable > & {
         cursor: pointer;
      }
   }
}

@if (cx-include('cx/charts/Marker')) {
   @include cx-marker();
}