@import "../../variables";
@import "../../../util/scss/include";

@mixin cx-pieslice(
   $name: 'pieslice',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {
   .cxe-pieslice-slice {
      stroke-width: 0;
      fill: #eee;
      stroke: #ccc;

      &.cxs-selectable {
         cursor: pointer;
      }

      &.cxs-selected {
         stroke-width: 2px;
      }
   }
}

@if (cx-include('cx/charts/PieSlice')) {
   @include cx-pieslice();
}