@import "../../variables";
@import "../../../util/scss/include";

@mixin cx-scattergraph(
   $name: 'scattergraph',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {
   .#{$element}#{$name}-shape {
      fill: rgb(128, 128, 128);
      opacity: 0.8;

      &.#{$state}selected {
         stroke-width: 2px;
      }
   }
}

@if (cx-include('cx/charts/ScatterGraph')) {
   @include cx-scattergraph();
}