[package]
name = "swc-plugin-transform-cx-imports"
version = "24.3.3"
edition = "2021"
license = "SEE LICENSE IN LICENSE.md"
description = "Rewrite Cx imports for simplicity and optimal output size."

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
codegen-units = 1
lto = true
strip = "symbols"

[dependencies]
lazy_static = "1.4.0"
regex = "1.10.3"
swc_core = { version = "50.1.3", features = ["ecma_plugin_transform", "ecma_visit", "ecma_ast", "ecma_parser", "common"] }
serde_json = "1.0.145"
wasm-bindgen = "0.2"

[dev-dependencies]
testing = "15.0.0"
