$cx-include-global-rules: true;

@import "~cx-theme-aquamarine/src/variables";
@import "./util/divide.scss";

@import "~cx-theme-aquamarine/src/index";

@import "./util/customize-master";

@include customize-master(
   $brand-background: darken($cx-theme-primary-color, 10%),
   $brand-highlight-color: darken($cx-theme-primary-color, 10%)
);
