@use "cx/src/variables" as * with ($cx-include-global-rules: true);
@use "cx/src/index" as cx;

@use "./util/customize-master" as *;

@include customize-master($brand-background: linear-gradient(90deg, #017be6, #00d7eb), $brand-highlight-color: #017be6);
