@use "sass:color";
@use "cx-theme-dark/src/index" as theme;

@use "./util/customize-master" as *;

@include customize-master(
   $brand-background: #2281b1,
   $brand-highlight-color: #2281b1,
   $sidebar-background-color: rgba(0, 0, 0, 0.2),
   $sidebar-link-color: rgba(255, 255, 255, 0.6),
   $sidebar-active-link-color: rgba(255, 255, 255, 0.8)
);
