$cx-include-global-rules: true;

@import "~cx-theme-frost/src/variables";
@import "./util/divide.scss";
@import "~cx-theme-frost/src/index";

@import "./util/customize-master";

@include customize-master($brand-background: #4db3d0, $brand-highlight-color: #4db3d0);
