@use "cx-theme-material/src/index" as theme;

@use "./util/customize-master" as *;

// Using literal value from $cx-theme-primary-color
$_primary-color: #009688;

@include customize-master(
   $brand-background: linear-gradient(90deg, #{$_primary-color}, #00d7eb),
   $brand-highlight-color: $_primary-color
);
