$cx-include-global-rules: true;

@import "../../packages/cx-theme-material-dark/src/variables";
@import "./util/divide.scss";

@import "../../packages/cx-theme-material-dark/src/index";

@import "./util/customize-master";

@include customize-master(
   $brand-background: #3da79d,
   $brand-highlight-color: #3da79d,
   $sidebar-background-color: rgba(0, 0, 0, 0.2),
   $sidebar-link-color: rgba(255, 255, 255, 0.6),
   $sidebar-active-link-color: rgba(255, 255, 255, 0.8)
);
