@use "cx-theme-space-blue/src/index" as theme;

@use "./util/customize-master" as *;

// Using literal value from $cx-theme-default-background-color-lighter
$_brand-color: #4b6273;

@include customize-master(
   $brand-background: $_brand-color,
   $brand-highlight-color: $_brand-color,
   $sidebar-background-color: rgba(0, 0, 0, 0.3),
   $sidebar-active-link-color: rgba(255, 255, 255, 0.8)
);
