.cxb-dragsource {
   box-sizing: border-box;

   &.cxs-dragged {
      opacity: 0.3;
   }

   &.cxs-draggable {
      touch-action: none;
   }
}

.cxb-dragclone {
   pointer-events: none;
   background: rgba(255, 255, 255, 0.8);
   min-width: 10px;
   min-height: 10px;
   position: fixed;
   opacity: 0.9;
   box-shadow: 0 0 3px rgba(128, 128, 128, 0.3);
   display: flex;

   & > * {
      margin: 0 !important;
      display: block;
      flex: auto;
   }
}