.cxb-dragsource {
   display: inline-block;
   cursor: move;

   &.cxs-dragged {
      opacity: 0.3;
   }
}

.cxb-dragclone {
   pointer-events: none;
   width: 100px;
   height: 30px;
   content: 'Puppet';
   background: white;
   position: fixed;
   opacity: 0.9;
   box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.5);
}