.cxb-dropzone {

   box-sizing: border-box;
   position: relative;

   &.cxm-hline {
      height: 1px;
      margin-top: -1px;
      align-self: stretch;

      &.cxs-over {
         background: black;
         box-shadow: 0 0 2px black;
      }
   }

   &.cxm-vline {
      width: 1px;
      margin-left: -1px;
      min-height: 1em;
      display: inline-block;
      vertical-align: middle;
      align-self: stretch;

      &.cxs-over {
         background: black;
         box-shadow: 0 0 2px black;
      }
   }

   &.cxm-block {
      height: 1px;
      margin-top: -1px;
      align-self: stretch;

      &.cxs-over {
         height: 25px;
         border: 2px dotted lightgray;
         margin: 5px;
      }
   }

   &.cxm-inline-block {
      width: 1px;
      margin-left: -1px;
      min-height: 1em;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      align-self: stretch;

      &.cxs-over {
         width: 50px;
         border: 2px dotted lightgray;
         margin: 5px;
      }
   }
}