@use "sass:math";
@use "../../util/scss/besm.scss" as *;
@use "../../util/scss/include.scss" as *;
@use "../../util/scss/add-rules.scss" as *;
@use "../../util/scss/clockwise.scss" as *;
@use "./Axis.scss" as *;

@mixin cx-timeaxis($name: "timeaxis", $besm: $cx-besm) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);

   .#{$block}#{$name} {
      @include cxb-axis();
   }

   .#{$element}#{$name}-ticks {
      @include cxe-axis-ticks();
   }

   .#{$element}#{$name}-line {
      @include cxe-axis-line();
   }

   .#{$element}#{$name}-label {
      @include cxe-axis-label();
   }

   .#{$element}#{$name}-label-offset {
      @include cxe-axis-label-offset();
   }
}

@if (cx-should-include("cx/charts/TimeAxis")) {
   @include cx-timeaxis();
}
