
@import "~cx-core/src/index";

p {
  line-height: $cx-default-paragraph-line-height;
}

.cxb-section.cxm-well.cxm-well {
   background-color: white;
   box-shadow: $cx-default-section-box-shadow;

   > .cxe-section-body {
     padding: 1em;
   }

   h1, h2, h3, h4, h5, h6 {
     color: $cx-primary-color-light;
   }
}

.cxe-section-header.cxe-section-header  {
   color: $cx-primary-color-light;
   font-weight: normal;
   border: none;
   padding: 1em;
   margin: 0;

   .cxm-pad > & {
      border: none;
   }
}

// Form
.cxb-datefield .cxb-calendar {
   border-color: transparent !important;
}

.cxb-monthfield .cxb-monthpicker {
   border-color: transparent !important;
}

.cxb-colorfield .cxb-colorpicker {
   border-color: transparent !important;
}

.cxb-flexbox button.cxb-button {
  margin: 8px;
}


//FORM

//std field
$form-list: (
  textfield
  numberfield
  lookupfield
  datefield
  monthfield
  colorfield
  select
);

@each $field in $form-list {
  .cxb-#{$field} {
    position: relative;
    overflow: hidden;

    &:after {
      display: block;
      content: '';
      border-style: solid;
      border-width: 0 0 1px;
      border-color: transparent;
      transform: scaleX(0);  
      transition: transform 0.3s ease-out;
    }

    &.cxs-focus {       
      &:after {
        transform: scaleX(1);
        border-color: $cx-primary-color;
      }
      &.cxs-error.cxs-visited {
        &:after {
          transform: scaleX(1);
          border-color: $cx-warning-color;
        }
      }

    }
   
  }
}

//calendar 
.cxb-calendar {
  .cxe-calendar-day-names {
    background-color: $cx-primary-color;
    color: #fff;
  }
}

//checkbox
.cxe-checkbox-input  {

  &:after {
    content: '';
    width: 2 * $cx-default-checkbox-size;
    height: 2 * $cx-default-checkbox-size;
    position: absolute;
    left: calc(50% - #{$cx-default-checkbox-size});
    bottom: calc(50% - #{$cx-default-checkbox-size});
    background-color: rgba(black, 0.05);
    border-radius: 50%;
    visibility: hidden;
    transform: scale(0.6, 0.6);
    transition: transform 0.2s ease-in-out;
  }
  &.cxs-checked {    
    path {
      fill: white;
    }
    &:after {
      background-color: rgba($cx-primary-color, 0.1);
    }
  }
  &:focus:after {    
    visibility: visible;
    transform: scale(1, 1)    
  }
}

//radio
.cxe-radio-input {
  border-width: 2px;
  border-color: darken(#dbdbdb, 10);
  color: darken(#dbdbdb, 20);
  overflow: visible;
  color: $cx-primary-color;

  &:after {
    content: '';
    width: 2 * $cx-default-radio-size;
    height: 2 * $cx-default-radio-size;
    position: absolute;
    left: calc(50% - #{$cx-default-radio-size});
    bottom: calc(50% - #{$cx-default-radio-size});
    background-color: rgba(black, 0.05);
    border-radius: 50%;
    visibility: hidden;
    transform: scale(0.6, 0.6);
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    border-color: darken(#dbdbdb, 10);
  }

  
   &.cxs-checked {  
    border-color: $cx-primary-color-light;
    border-width: 2px;

    &:after {
      background-color: rgba($cx-primary-color, 0.1);
    }
    &:focus {
      border-color: $cx-primary-color-light;
    }
  }

   &:focus {
    box-shadow: none;
    border-color: #dbdbdb;
    
    &:after {
      visibility: visible;
      transform: scale(1, 1)
    }
  }


}

// Tab
.cxb-classic-tab-container {
  box-shadow: $cx-default-box-shadow;
  height: 2 * $cx-default-box-padding + $cx-default-box-line-height;
  padding: 0;
  margin-bottom: 3px;
}
.cxb-tab.cxm-classic {
  height: 100%;

  &:first-child {
    border-radius: 2px 0 0 2px;
  }
  &:last-child {
    border-radius: 0 2px 2px 0;
  }
}

.cxb-tab {
  position: relative;
}

//Ripple Effect
.cxb-button, .cxb-tab {
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 5%;
    pointer-events: none;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(15, 15);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }

  &:active:before {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s;
  }
}