@import "~cx-core/src/index";

p {
  line-height: $cx-default-paragraph-line-height;
}

.cxb-section.cxm-card.cxm-card {
   > .cxe-section-body {
     padding: 1em;
   }

   h1, h2, h3, h4, h5, h6 {
     color: $cx-primary-color-light;
   }
}

.cxe-section-header.cxe-section-header  {
   color: $cx-primary-color-light;
   font-weight: normal;
   border: none;
   padding: 1em;
   margin: 0;

   .cxm-pad > & {
      border: none;
   }
}

// FORM
.cxb-datefield .cxb-calendar {
   border-color: transparent !important;
}

.cxb-monthfield .cxb-monthpicker {
   border-color: transparent !important;
}

.cxb-colorfield .cxb-colorpicker {
   border-color: transparent !important;
}

// BUTTON
/*override for chrome mobile*/
.cxb-button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 

  &.cxm-float .cxe-button-icon {
    left: ($cx-default-box-line-height + 2 * ($cx-default-box-padding + 1px) + 10px - $cx-default-icon-size)/2;
  }
}

// FORM
/* standard field */
$form-list: (
  textfield
  numberfield
  lookupfield
  datefield
  monthfield
  colorfield
  select
);

@each $field in $form-list {
  .cxb-#{$field} {
    /* TODO - this should be removed */
    min-width: 240px;
    max-width: 240px !important;
    /* Previous two lines are only for presentation. */
    position: relative;
    overflow: hidden;

    &:after {
      display: block;
      content: '';     
      height: 2px;
      width: 100%;
      background-color: $cx-primary-color;
      transform: scaleX(0);  
      transition: 0s;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &.cxs-focus {       
      &:after {
        transform: scaleX(1);
        transition: transform 0.3s ease-out;
      }
      &.cxs-error.cxs-visited {
        &:after {
          transform: scaleX(1);
          background-color: $cx-warning-color;       
        }
      }
    }   
  }
}

.cxb-textarea {
  overflow: hidden;

  &:after {
    display: block;
    content: '';     
    height: 2px;
    width: 100%;
    background-color: $cx-primary-color;
    transform: scaleX(0);  
    transition: 0s;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.cxs-focus {       
    &:after {
      transform: scaleX(1);
      transition: transform 0.3s ease-out;
    }
  }   
}

/* calendar */ 
.cxb-calendar {
  .cxe-calendar-day-names {
    background-color: $cx-primary-color;
    color: #fff;
  }
}

/* checkbox */
.cxb-checkbox {
  padding: $cx-default-box-padding + 2px;
}

.cxe-checkbox-input  {

  &:after {
    content: '';
    width: 2 * $cx-default-checkbox-size;
    height: 2 * $cx-default-checkbox-size;
    position: absolute;
    left: calc(50% - #{$cx-default-checkbox-size});
    bottom: calc(50% - #{$cx-default-checkbox-size});
    background-color: rgba(black, 0.05);
    border-radius: 50%;
    visibility: hidden;
    transform: scale(0.6, 0.6);
    transition: transform 0.2s ease-in-out;
  }
  &.cxs-checked {    
    path {
      fill: white;
    }
    &:after {
      background-color: rgba($cx-primary-color, 0.1);
    }
  }
  &:focus:after {    
    visibility: visible;
    transform: scale(1, 1)    
  }
}

/* radio */
.cxe-radio-input {
  border-width: 2px;
  border-color: darken(#dbdbdb, 10);
  color: darken(#dbdbdb, 20);
  overflow: visible;
  color: $cx-primary-color;

  &:after {
    content: '';
    width: 2 * $cx-default-radio-size;
    height: 2 * $cx-default-radio-size;
    position: absolute;
    left: calc(50% - #{$cx-default-radio-size});
    bottom: calc(50% - #{$cx-default-radio-size});
    background-color: rgba(black, 0.05);
    border-radius: 50%;
    visibility: hidden;
    transform: scale(0.6, 0.6);
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    border-color: darken(#dbdbdb, 10);
  }

  &.cxs-checked {  
    &:after {
      background-color: rgba($cx-primary-color, 0.1);
    }
  }

   &:focus:after {
    visibility: visible;
    transform: scale(1, 1)
  }
}

/* colorpicker */
.cxb-colorpicker {
  input {
    line-height: 16px;
    box-shadow: none;
    background-color: #fff;
    border-width: 0 0 1px;
    border-color: darken($cx-default-input-border-color, 5);
    border-radius: 0;
    padding: 2px 6px;

    &:focus {
      box-shadow: none;
    }
  }
}

//TAB
.cxb-classic-tab-container {
  box-shadow: $cx-default-box-shadow;
  height: 2 * $cx-default-box-padding + $cx-default-box-line-height;
  padding: 0;
  margin-bottom: 3px;
}
.cxb-tab.cxm-classic {
  height: 100%;

  &:first-child {
    border-radius: 2px 0 0 2px;
  }
  &:last-child {
    border-radius: 0 2px 2px 0;
  }
}

.cxb-tab {
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

//WINDOW
.cxb-window {
  animation: modal 0.3s ease-in;
  
  &.cxm-alert .cxb-button {
    margin: 0 0 0 8px;
  } 
}

@keyframes modal {
  from {opacity: 0.4;}
  to {opacity: 1;}
}

//MENU
.cxb-menu {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  .cxb-menuitem {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      border-radius: $cx-default-border-radius;
      pointer-events: none;
    }
  }
}

.cxs-focusable.cxs-cursor > .cxb-menuitem.cxs-cursor {
  background-color: transparent;
  color: $cx-default-dropdown-color;    

  &:before {
    width: 100%;
    transition: width 0.25s;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.cxs-focusable > .cxb-menuitem.cxs-cursor:hover {
  background-color: transparent;
  > span {
    color: darken(gray, 0);
  }
}

.cxb-menu .cxe-menu-item > hr {
  margin: $cx-default-padding-medium 0;
}

//GRID
.cxe-grid-fixed-header {
  box-shadow: $cx-default-grid-header-box-shadow;
  
  .cxe-grid-col-header {
    border-color: #fff;
  }

  .cxs-sorted-asc, .cxs-sorted-desc {
    border-color: darken($cx-default-grid-header-background-color, 2);
    &:hover {
      border-color: darken($cx-default-grid-header-background-color, 3);
    }
  }
}

.cxe-grid-col-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* sum total row - maybe a class is needed there */
.cxe-grid-group-footer, .cxe-grid-group-caption {
  td {
    line-height: $cx-default-grid-data-line-height;
    padding: $cx-default-grid-data-padding;
    border-top: 1px solid darken($cx-default-grid-data-border-color, 10);
  }
}
.cxs-border {
  .cxe-grid-col-header {
    border-width: 0;
  }
}
//ripple effect
.cxb-button, .cxb-tab {
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(18, 18);
    transition: transform 0.3s, opacity 0.8s;
  }

  &.cxm-float:before {
    transform: scale(9, 9);
  }

  &:active:before {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
  }
}



//material-icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $cx-default-box-line-height;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

//scrollbar
@if ($cx-include-global-rules) {
  ::-webkit-scrollbar {
	  width: 10px;
	  height: 10px;
	  background-color: rgba(0, 0, 0, 0.05);
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
		
    &:vertical {
	    background-color: rgba(0, 0, 0, 0.07);
        &:hover {
          background-color: rgba(0, 0, 0, 0.12);
        }
    }

	  &:horizontal {
		  background-color: lighten(rgb(88,88,88), 8);
        &:hover {
          background-color: lighten(rgb(88,88,88), 10);
        }
	  }
  }
  ::-webkit-scrollbar-corner {			
	  background-color: darken(rgb(88,88,88), 2);
	  border-left: 1px solid $cx-default-border-color;
	  border-top: 1px solid $cx-default-border-color;
	  -webkit-box-shadow: darken($cx-default-background-color, 3) 0 1px inset;
  }
}