
// GLOBAL VARIABLES

//Pick a color scheme
$blue: #2196F3 #ffc107;
$pink: #e91e63 #ffeb3b;
$teal: #009688 #cddc39;
$purple: #673ab7 #ffeb3b;
$gray: #607d8b #ffc107;
$red: #f44336 #ffeb3b;
$green: #4caf50 #ff9800;
$brown: #795548 #ffc107;
$black: #212121 #ffeb3b;

$cx-default-color-scheme: $blue !default;

$cx-default-font-family: Roboto, 'Open Sans', sans-serif !default;
$cx-default-color: rgba(0, 0, 0, 0.87) !default;
$cx-secondary-text-color: #757575 !default;
$cx-default-font-weight: 500 !default;
$cx-default-font-family: Roboto, 'Open Sans', sans-serif !default;
$cx-default-paragraph-line-height: 1.5 !default;

$cx-default-background-color: #fff !default;

$cx-primary-color: nth($cx-default-color-scheme, 1)!default; 
$cx-primary-color-light: lighten($cx-primary-color, 5) !default;
$cx-primary-color-dark: darken($cx-primary-color, 5) !default;
$cx-accent-color: nth($cx-default-color-scheme, 2) !default;
$cx-warning-color: #F44336 !default;

$cx-default-border-color: transparent !default;
$cx-default-border-radius: 2px !default;

$cx-default-box-font-size: 13px !default;
$cx-default-box-line-height: 18px !default;
$cx-default-box-border-width: 1px !default;
$cx-default-box-padding: 10px !default;

$cx-default-transition: all 0.2s ease-out !default;

$cx-default-dropdown-arrow-offset: 26px !default;

$cx-use-box-line-height-fix: false !default;

//Box Shadows
$cx-default-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) !default;
$cx-default-box-shadow-elevated: 0 4px 8px rgba(0, 0, 0, 0.3) !default;

//BUTTON
$cx-default-button-color: $cx-primary-color !default;
$cx-default-button-font-weight: $cx-default-font-weight !default;
$cx-default-button-background-color: #f6f6f6 !default;
$cx-default-button-border-width: 0 !default;
$cx-default-button-border-color: transparent !default;
$cx-default-button-box-shadow: $cx-default-box-shadow !default;

//TAB
$cx-default-tab-color: $cx-secondary-text-color !default;
$cx-default-tab-font-weight: 500 !default;
$cx-default-tab-background-color: transparent !default;
$cx-default-tab-border-width: 0 !default;
$cx-default-tab-border-color: transparent !default;
$cx-default-tab-border-radius: $cx-default-border-radius !default;
$cx-default-tab-padding: $cx-default-box-padding (2 * $cx-default-box-padding + 5px) !default;
$cx-default-tab-height: 40px !default;

//SECTION
$cx-default-section-box-shadow: $cx-default-box-shadow !default;

//MENU
$cx-default-menu-shadow: $cx-default-box-shadow !default;

//WINDOW
$cx-default-window-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45) !default;
$cx-default-window-header-padding: 10px 20px !default;
$cx-default-window-header-font-size: 18px !default;
$cx-default-window-header-color: #fff !default;
$cx-default-window-header-background-color: $cx-primary-color-dark !default;


//GRID
$cx-default-grid-header-background-color: $cx-primary-color !default;

//TOAST
$cx-default-toast-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45) !default;

//FORM
$cx-default-checkbox-size: 18px !default;
$cx-default-radio-size: 18px !default;
$cx-default-input-border-color: #eff1f7 !default;

//label
$cx-default-label-font-size: 12px !default;
$cx-default-label-color: rgba(0, 0, 0, 38) !default;

//calendar
$cx-default-calendar-background-color: rgba(247, 247, 247, 0.5) !default;
$cx-default-calendar-border-width: 0px !default;
$cx-default-calendar-border-color: $cx-default-input-border-color !default;
$cx-default-calendar-border-radius: $cx-default-border-radius !default;
$cx-default-calendar-box-shadow: $cx-default-box-shadow !default;
$cx-default-calendar-padding: 0 0 10px !default;

$cx-default-calendar-header-font-size: 18px !default;
$cx-default-calendar-header-color: #fff !default;
$cx-default-calendar-header-background-color: $cx-primary-color !default;

$cx-default-calendar-day-font-size: 11px !default;
$cx-default-calendar-day-border-radius: 50% !default;

//checkbox
$cx-default-checkbox-border-width: 2px !default;  
$cx-default-checkbox-border-color: darken(#dbdbdb, 10) !default;

//radio
$cx-default-radio-color: $cx-primary-color-light !default;

@import "~cx-core/src/variables";

$cx-input-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
   hover: (
      border-color: transparentize(cx-get-state-rule($cx-input-state-style-map, focus, border-color), 0.5)
   )
));

// LIST
$cx-list-item: cx-deep-map-merge($cx-list-item, (
  hover-focus: (
    background-color: $cx-accent-color
  ),
  selected: (
    background-color: lighten($cx-accent-color, 2)
  ),
  selected-focus: (
    background-color: darken($cx-accent-color, 8)
  )
));


// TAB
$cx-tab-state-style-map: cx-deep-map-merge($cx-tab-state-style-map, (
  default: (
    text-transform: uppercase,
    line-height: $cx-default-box-line-height
  ),
  hover: (
    color: $cx-default-color
  ),
  hover-focus: (
      background-color: rgba($cx-primary-color, 0.2),
    color: $cx-default-color
  ),
  selected: (
    color: #fff,
    background-color: $cx-primary-color ,
    border-color: $cx-accent-color
  ),
  selected-focus: (
    color: #fff,
    background-color: $cx-primary-color-dark,
    border-color: lighten($cx-accent-color, 6)    
  ),
  active: (
    color: #fff,
    background-color: $cx-default-tab-background-color
  ),
  disabled: (
    background-color: $cx-default-tab-background-color,
    color: rgba(0, 0, 0, 0.26)
  )
));

$cx-tab-mods: cx-deep-map-merge($cx-tab-mods, (
  classic: (
    default: (
      color: rgba(255, 255, 255, 0.7),
      background-color: $cx-primary-color,
      border-width: 0 0 2px,       
      border-radius: 0
    ),
    hover: (
      color: rgba(255, 255, 255, 0.8),
      background-color: darken($cx-primary-color, 2)
    ),
    hover-focus: (
      color: rgba(255, 255, 255, 0.85),
      border-color: rgba($cx-accent-color , 0.7)
    ),
    selected: (
      color: #fff,
      background-color: $cx-primary-color,
      border-color: $cx-accent-color   
    ),
    selected-focus: (
      color: #fff,
      background-color: $cx-primary-color,
      border-color: lighten($cx-accent-color, 6)    
    ),
    active: (
      color: #fff,
      background-color: $cx-default-tab-background-color,
      border-color: $cx-accent-color
    ),
    disabled: (
      color: rgba(255, 255, 255, 0.3)
    )
  ),
  line: ( 
    default: (
      color: rgba(0, 0, 0, 0.7),
      padding: ($cx-default-box-padding - 1px) (2 * $cx-default-box-padding + 5px) ($cx-default-box-padding - 1px)
    ),
    selected: (
      color: $cx-primary-color-light,
      border-color: $cx-primary-color
    ),
    selected-focus: (
      border-color: lighten($cx-primary-color, 10)
    ),
    disabled: (
      color: rgba(0, 0, 0, 0.26)
    ),
    hover-focus: (
      border-color: rgba($cx-primary-color, 0.4)
    )
  ),
  /*If a tab is inside a dark-colored container, use mod="line-accent".*/
  line-accent: (
    default: (
      color: rgba(255, 255, 255, 0.7),
      border-left-color: transparent !important,
      border-right-color: transparent !important,
      border-top-color: transparent !important,
      border-left-width: 0,
      border-right-width: 0,
      border-bottom-width: 2px,
      border-top-width: 0,
      border-bottom-left-radius: 0,
      border-bottom-right-radius: 0,
      padding: ($cx-default-box-padding - 1px) (2 * $cx-default-box-padding + 5px) ($cx-default-box-padding - 1px)
    ),
    hover: (
      border-color: rgba(255, 255, 255, 0.3),
      background-color: transparent
    ),
    hover-focus: (
      background-color: transparent,
      border-color: rgba(255, 255, 255, 0.3),
      color: rgba(255, 255, 255, 0.8)
    ),
    selected: (
      color: #fff,
      border-color: $cx-accent-color
    ),
    selected-focus: (
      border-color: lighten($cx-accent-color, 10)
    ),
    disabled: (
      color: rgba(255, 255, 255, 0.3)
    )
  )  
));

// MENU

// BUTTON
$cx-button-state-style-map: cx-deep-map-merge($cx-button-state-style-map, (
  default: (
    transition: $cx-default-transition,
    text-transform: uppercase,
    font-weight: $cx-default-button-font-weight
  ),
  hover: (
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4)
  ),
  focus: (
    background-color: darken($cx-default-button-background-color, 5),
    box-shadow: $cx-default-button-box-shadow
  ),
  active: (
    background-color: darken($cx-default-button-background-color, 3),
    box-shadow: $cx-default-box-shadow-elevated,
    top: 0
  ),
  disabled: (
    color: rgba(0, 0, 0, 0.26)
  )
));

$cx-button-mods: cx-deep-map-merge($cx-button-mods, (
  primary: (
    default: (
      background-color: $cx-primary-color,
      border-color: $cx-default-border-color,
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
    ),
    hover: (
      background-color: $cx-primary-color,
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4)
    ),
    focus: (
      background-color: darken($cx-primary-color, 8)
    ),
    active: (
      background-color: darken($cx-primary-color, 1),
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35),
      top: 0
    ),
    disabled: (
      box-shadow: none,
      border-color: transparent,
      color: rgba(255, 255, 255, 0.45),
      background-color: rgba($cx-primary-color, 0.5)
    )
  ),
  danger: (
    default: (
      background-color: $cx-warning-color,
      border-color: $cx-default-border-color,
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
    ),
    hover: (
      background-color: $cx-warning-color,
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4)
    ),
    focus: (
      background-color: darken($cx-warning-color, 15)
    ),
    active: (
      background-color: darken($cx-warning-color, 4),
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35),
      top: 0
    ),
    disabled: (
      box-shadow: none,
      border-color: transparent,
      color: rgba(255, 255, 255, 0.45)
    )
  ),
  flat-color: (
    default: (
      font-size: 14px,    
      color: $cx-primary-color-dark,
      background-color: transparent,
      border-color: transparent,
      box-shadow: none
    ),
    hover: map-merge(map-get($cx-list-item, hover), (
        box-shadow: none,
        border-color: transparent
    )),
    focus: (
      background-color: darken($cx-default-background-color, 8),
      box-shadow: none
    ),
    active: (
      background-color: rgba(153, 153, 153, 0.25)
    ),
    disabled: (
      color: rgba(0, 0, 0, 0.26)
    )
  ),
  hollow: (
    focus: (
      background-color: darken($cx-default-background-color, 8),
      box-shadow: none
    ),
    active: (
      background-color: rgba(153, 153, 153, 0.4)
    ),
    disabled: (
      color: rgba(0, 0, 0, 0.26)
    )
  )
));

// FORM
// label

//standard form field
$cx-std-field-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
  default: (
    line-height: $cx-default-box-line-height - 1px,
    border-color: transparent transparent #dbdbdb,
    border-radius: 0,
    border-width: 0 0 1px
  ),
  hover: (
    border-color: transparent transparent darken(#dbdbdb, 6)
  ),
  focus: (
    border-color: transparent transparent $cx-primary-color,
    transition: border-color 0.55s ease-in-out,
    box-shadow: none
  ),
  disabled: (
    border-style: dashed
  )  
));

//calendar
$cx-calendar-state-style-map: cx-deep-map-merge($cx-calendar-state-style-map, (
  focus: (
    background-color: #f7f7f7,
    box-shadow: $cx-default-calendar-box-shadow
  )
));
//calendar days
$cx-calendar-day-state-style-map: cx-deep-map-merge($cx-calendar-day-state-style-map, (
  default: (
    height: 32px,
    line-height: 32px,
    width: 32px
  ), 
  hover-focus: (
    background-color: rgba($cx-primary-color, 0.3)
  ),
  hover: (
    background-color: rgba($cx-primary-color, 0.3)
  ),
  today: (
    background-color: rgba($cx-accent-color, 0.6)
  ),
  selected: (
    background-color: $cx-primary-color,
    color: #fff
  ),
  selected-focus: (
    background-color: $cx-primary-color-dark
  ) 
));

//checkbox
$cx-checkbox-state-style-map: cx-deep-map-merge($cx-checkbox-state-style-map, (
  default: (
    opacity: 1
  ),
  hover: (
    border-color: $cx-default-checkbox-border-color
  ),
  focus: (
    box-shadow: none,
    border-color: #dbdbdb
  ),
  checked: (
    background-color: $cx-primary-color-light,
    border-color: $cx-primary-color-light,
    opacity: 1
  ),
  checked-focus: (
    border-color: $cx-primary-color-light
  )
));

$cx-radio-state-style-map: cx-deep-map-merge($cx-radio-state-style-map, (
  checked: (
    color: $cx-default-radio-color,
    border-color: $cx-default-radio-color
  ),
  checked-focus: (
    /*border-color: $cx-default-radio-color*/
  ),
  checked-hover: (
    border-color: $cx-default-radio-color
  ),
  focus: (
    box-shadow: none, 
    border-color: #dbdbdb
  ),

));

// WINDOW
$cx-window-state-style-map: cx-deep-map-merge($cx-window-state-style-map, (
   default: (
      background: white,
      border-radius: $cx-default-border-radius,
      box-shadow: $cx-default-window-box-shadow
   )
));

$cx-window-header-state-style-map: cx-deep-map-merge($cx-window-header-state-style-map, (

));

$cx-window-body-state-style-map: cx-deep-map-merge($cx-window-body-state-style-map, (
   default: (
      background: null
   )
));

$cx-window-footer-state-style-map: cx-deep-map-merge($cx-window-footer-state-style-map, (
   default: (
      background: null,
      margin: 0 1.5rem,
      padding: 1rem 0,
      border-top: none
   )
));

$cx-window-mods: (
  alert: (
    default: (
      font-size: 16px,
      color: $cx-secondary-text-color
    ),
    body: (
      padding: 25px 25px 40px,
      text-align: left    
    ),
    footer: (
      border-top: none
    )
  )
);

//MENU
$cx-dropdown-styles: map-merge($cx-dropdown-styles, (
   border-width: 2px,
   border-style: solid
));

$cx-menu-state-style-map: map-merge($cx-menu-state-style-map, (
   default: (

   )
));

//globals

$cx-element-style-map: cx-deep-map-merge($cx-element-style-map, (
   html: (
      background: #fafafa
   ),
   h1: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h2: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h3: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h4: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h5: (
      font-weight: 400,
      color: $cx-default-color
   ),
   h6: (
      font-weight: 400,
      color: $cx-default-color
   )
));