@import "../variables";
@import '../../util/scss/include';

@mixin cx-flexbox(
   $name: 'flexbox',
   $besm: $cx-besm
) {

   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}flexbox {
      display: block;
      box-sizing: border-box;

      &.#{$state}column {
         flex-direction: column;
      }

      &.#{$state}row {
         flex-direction: row;
      }

      &.#{$state}pad {
         padding: 1rem;
      }

      &.#{$state}spacing {
         margin: -0.5rem;

         & > * {
            margin: 0.5rem;
         }
      }

      &.#{$state}pad.#{$state}spacing {
         margin: 0;
         padding: 0.5rem;
      }

      &.#{$state}align-center {
         align-items: center;
      }

      &.#{$state}wrap {
         flex-wrap: wrap;
      }

      &.#{$state}justify-center {
         justify-content: center;
      }

      &.#{$state}justify-start {
         justify-content: flex-start;
      }

      &.#{$state}justify-end {
         justify-content: flex-end;
      }

      &.#{$state}target-any {
         display: flex;
      }

      &.#{$state}target-phone {
         @media screen and (min-width: 400px) {
            display: flex;
         }
      }

      &.#{$state}target-tablet {
         @media screen and (min-width: 700px) {
            display: flex;
         }
      }

      &.#{$state}target-desktop {
         @media screen and (min-width: 1000px) {
            display: flex;
         }
      }
   }
}

@if (cx-include('cx/widgets/FlexBox')) {
   @include cx-flexbox();
}