@import "../variables";
@import '../../util/scss/include';

@mixin cx-labelsleftlayout(
   $name: 'labelsleftlayout',
   $block: $cx-block,
   $element: $cx-element,
   $state: $cx-state,
   $mod: $cx-mod
) {
   .#{$block}labelsleftlayout {
      border-spacing: 0;

      &.#{$mod}stretch {
         width: 100%;

         .#{$element}labelsleftlayout-label {
            width: 5em;

            .#{$block}label {
               white-space: nowrap;
            }
         }
      }
   }

   .#{$element}labelsleftlayout-field {
      padding: 5px 0 5px 5px;
   }

   .#{$element}labelsleftlayout-label {
      text-align: right;
      vertical-align: top;

      padding: 5px 5px 5px 0;

      .#{$block}label {
         padding-right: 0;
      }
   }
}

@if (cx-include('cx/widgets/LabelsLeftLayout')) {
   @include cx-labelsleftlayout();
}