@use "sass:math";
@use "../core.scss" as *;
@use "../box.scss" as *;
@use "./variables.scss" as *;
@use "../../util/scss/add-rules.scss" as *;
@use "../../util/scss/clockwise.scss" as *;
@use "../../util/scss/deep-merge.scss" as *;
@use "../../util/scss/calc.scss" as *;
@use "./core.scss" as *;

@mixin cx-draghandle($name: "draghandle", $besm: $cx-besm) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {
      touch-action: none;
   }
}

@if (cx-should-include("cx/widgets/DragHandle")) {
   @include cx-draghandle();
}
