@use "./box" as *;
@use "../util/scss/defaults.scss" as *;
@use "../util/scss/clockwise.scss" as *;
@use "../util/scss/calc.scss" as *;
@use "sass:color";
@use "sass:map";

$cx-default-button-font-family: $cx-default-box-font-family !default;
$cx-default-button-font-size: $cx-default-box-font-size !default;
$cx-default-button-font-weight: normal !default;
$cx-default-button-padding: cx-top($cx-default-box-padding)
   cx-multiply(cx-right($cx-default-box-padding), 2)
   cx-bottom($cx-default-box-padding)
   cx-multiply(cx-left($cx-default-box-padding), 2) !default;
$cx-default-button-border-width: $cx-default-box-border-width !default;
$cx-default-button-line-height: $cx-default-box-line-height !default;
$cx-default-button-background-color: #eee !default;
$cx-default-button-border-color: #ccc !default;
$cx-default-button-border-radius: $cx-default-border-radius !default;
$cx-default-button-color: null !default;
$cx-default-button-box-shadow: inset 0 -2px rgba(128, 128, 128, 0.1) !default;
