@use "./box" as *;
@use "../util/scss/defaults.scss" as *;

$cx-default-button-font-family: $cx-default-box-font-family !default;
$cx-default-button-font-size: $cx-default-box-font-size !default;
$cx-default-button-font-weight: normal !default;
$cx-default-button-padding: $cx-default-box-padding 2 * $cx-default-box-padding !default;
$cx-default-button-border-width: $cx-default-box-border-width !default;
$cx-default-button-line-height: $cx-default-box-line-height !default;
$cx-default-button-background-color: #eee !default;
$cx-default-button-border-color: #ccc !default;
$cx-default-button-border-radius: $cx-default-border-radius !default;
$cx-default-button-color: null !default;
$cx-default-button-box-shadow: inset 0 -2px rgba(128, 128, 128, 0.1) !default;
