//
// BESM
//
// B - block - top level HTML element
// E - element - part of the component (block)
// S - state - indicator of the component state which affects the appearance
// M - mod - user supplied instruction which overrides default appearance
//

$cx-besm: (
   block: "cxb-",
   element: "cxe-",
   state: "cxs-",
   mod: "cxm-",
) !default;

$cx-default-font-family: (-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif) !default;

$cx-default-font-size: 14px !default;

$cx-default-color: #373a3c !default;

// Borders
// -------

$cx-default-border-color: #bfbfbf !default;
$cx-default-border-radius: 0 !default;
$cx-default-border-width: 1px !default;
