@mixin cxb-highlightedsearchtext(
   $name: "highlightedsearchtext",
   $styles: $cx-highlightedsearchtext-style-map,
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {
      @include cx-add-rules($styles);
   }
}

@if (cx-should-include("cx/widgets/HighlightedSearchText")) {
   @include cxb-highlightedsearchtext();
}
