//Lists
$cx-list: (
   default: (
      -webkit-overflow-scrolling: touch,
   ),
   hover: (),
   focus: (
      outline: none,
   ),
);

$cx-list-item: (
   default: (),
   hover: (
      background-color: rgba(128, 128, 128, 0.1),
      outline: none,
      cursor: pointer,
   ),
   cursor: (
      background-color: rgba(123, 190, 255, 0.15),
      outline: none,
   ),
   selected: (
      background-color: rgba(123, 190, 255, 0.4),
   ),
   selected-hover: (
      background-color: rgba(123, 190, 255, 0.2),
   ),
   selected-cursor: (
      background-color: rgba(123, 190, 255, 0.3),
      outline: none,
   ),
   disabled: (
      cursor: default,
      opacity: 0.5,
      pointer-events: none,
   ),
   active: (
      //causes flickering
      //background: rgba(123,190,255, 0.7),
   ),
) !default;
