@use "./variables.scss" as *;

// HEADING
$cx-caption-style-map: () !default;

$cx-caption-level-style-map: (
   1: (
      margin: 0,
      padding: 0,
   ),
   2: (
      margin: 0,
      padding: 0,
   ),
   3: (
      margin: 0,
      padding: 0,
   ),
   4: (
      margin: 0,
      padding: 0,
   ),
   5: (
      margin: 0,
      padding: 0,
   ),
   6: (
      margin: 0,
      padding: 0,
   ),
) !default;

// SECTION
$cx-section-styles: () !default;

$cx-section-header-state-style-map: (
   default: (
      margin: $cx-default-section-header-margin,
      padding: $cx-default-section-header-padding,
      border-bottom-width: $cx-default-section-header-border-width,
      border-bottom-style: solid,
      border-bottom-color: $cx-default-section-header-border-color,
      font-weight: $cx-default-section-header-font-weight,
   ),
) !default;

$cx-section-footer-state-style-map: (
   default: (
      margin: $cx-default-section-footer-margin,
      padding: $cx-default-section-footer-padding,
      border-top-width: $cx-default-section-footer-border-width,
      border-top-style: solid,
      border-top-color: $cx-default-section-footer-border-color,
   ),
) !default;

$cx-section-body-state-style-map: (
   default: (
      padding: $cx-default-section-body-padding,
   ),
) !default;

$cx-section-mods: (
   card: (
      default: (
         background-color: rgba(255, 255, 255, 0.9),
         border-radius: 3px,
      ),
   ),
   well: (
      default: (
         background-color: rgba(255, 255, 255, 0.9),
         border-radius: 3px,
      ),
   ),
   warning: (
      default: (
         color: #fff,
         background-color: #f09037,
         border-radius: 3px,
      ),
   ),
   primary: (
      default: (
         color: #fff,
         background-color: #1f99f8,
         border-radius: 3px,
      ),
   ),
   success: (
      default: (
         color: #fff,
         background-color: #5cb85c,
         border-radius: 3px,
      ),
   ),
   error: (
      default: (
         color: #fff,
         background-color: #d9534f,
         border-radius: 3px,
      ),
   ),
) !default;

$cx-progressbar-state-style-map: (
   default: (
      position: relative,
      width: $cx-default-progressbar-width,
      min-height: $cx-default-progressbar-height,
      background-color: $cx-default-progressbar-background-color,
      color: $cx-default-progressbar-color,
      border-style: solid,
      border-color: $cx-default-progressbar-border-color,
      border-width: $cx-default-progressbar-border-width,
      border-radius: $cx-default-progressbar-border-radius,
      font-size: $cx-default-progressbar-font-size,
      text-align: center,
      line-height: $cx-default-progressbar-height,
   ),
   disabled: (
      opacity: 0.2,
   ),
);

$cx-progressbar-mods: ();

$cx-highlighedsearchtext-style-map: (
   font-weight: bold,
) !default;

@forward "./lists.scss";
@forward "./Button.maps.scss";

@forward "./drag-drop/maps.scss";
@forward "./form/maps.scss";
@forward "./grid/maps.scss";
@forward "./nav/maps.scss";
@forward "./overlay/maps.scss";
