$default-padding-extra-small: 3px !default;
$default-padding-small: 5px !default;
$default-padding-medium: 10px !default;
$default-padding-large: 15px !default;
$default-padding-extra-large: 20px !default;

$pad-size: (
   xsmall: $default-padding-extra-small,
   small: $default-padding-small,
   medium: $default-padding-medium,
   large: $default-padding-large,
   xlarge: $default-padding-extra-large,
) !default;
