@forward "./box.scss";
@forward "Button.variables.scss";

@use "../util/scss/defaults.scss" as *;
@use "../util/scss/include.scss" as *;

//Selection
$cx-selection-background-color: rgba(135, 206, 250, 0.6);

//List
$cx-default-list-item-padding: 5px 10px !default;

// ProgressBar
$cx-default-progressbar-width: 180px !default;
$cx-default-progressbar-height: 24px !default;
$cx-default-progressbar-font-size: smaller !default;
$cx-default-progressbar-color: $cx-default-color !default;
$cx-default-progressbar-background-color: rgba(#fff, 0.5) !default;
$cx-default-progressbar-border-width: 1px !default;
$cx-default-progressbar-border-color: #98d4ff !default;
$cx-default-progressbar-border-radius: 0 !default;

$cx-default-progressbar-indicator-background-color: rgba(#98d4ff, 0.8) !default;

@forward "form/variables";
@forward "grid/variables";
@forward "nav/variables";
@forward "overlay/variables";
@forward "drag-drop/variables";
@forward "overlay/variables";

$cx-dependencies: map-merge(
   $cx-dependencies,
   (
      "cx/widgets/FlexRow": "cx/widgets/FlexBox",
      "cx/widgets/FlexCol": "cx/widgets/FlexBox",
      "cx/widgets/CxCredit": "cx/widgets/Tooltip",
      "cx/widgets/Button": "cx/widgets/HtmlElement",
      "cx/widgets/HtmlElement": "cx/widgets/Tooltip",
   )
);
