
// Padding
$cx-default-padding-extra-small: 3px !default;
$cx-default-padding-small: 5px !default;
$cx-default-padding-medium: 10px !default;
$cx-default-padding-large: 15px !default;
$cx-default-padding-extra-large: 20px !default;

$cx-pad-size: (
   xsmall: $cx-default-padding-extra-small,
   small: $cx-default-padding-small,
   medium: $cx-default-padding-medium,
   large: $cx-default-padding-large,
   xlarge: $cx-default-padding-extra-large
) !default;

@import "form/variables";
@import "grid/variables";
@import "nav/variables";
@import "overlay/variables";
@import "Button.variables";

// HEADING
$cx-caption-style-map: () !default;

$cx-caption-level-style-map: (
   1: (
      margin: 0,
      padding: 0
   ),
   2: (
      margin: 0,
      padding: 0
   ),
   3: (
      margin: 0,
      padding: 0
   ),
   4:(
      margin: 0,
      padding: 0
   ),
   5: (
      margin: 0,
      padding: 0
   ),
   6: (
      margin: 0,
      padding: 0
   ),
) !default;

// SECTION
$cx-section-styles: () !default;

$cx-section-mods: (
  card: (
    default: (
      background-color: rgba(255, 255, 255, 0.9),
      border-radius: 3px
    )
  )
) !default;

// for backward compatibility
.cxm-well {
   @extend .cxm-card !optional;
}