// BUTTON
$cx-default-button-background-color: $cx-default-highlight-color !default;
$cx-default-button-border-color: $cx-default-border-color !default;
$cx-default-button-color: $cx-default-color !default;
$cx-default-button-box-shadow: null !default;
$cx-theme-primary-button-background-color: #0284c7 !default;
$cx-danger-button-background-color: #860000 !default;
$cx-default-button-padding: 0 9px !default;
