$cx-list: cx-deep-map-merge(
   $cx-list,
   (
      default: (
         scrollbar-width: thin,
      ),
   )
);

// LIST ITEM
$cx-list-item: cx-deep-map-merge(
   $cx-list-item,
   (
      hover: (
         background-color: rgba(white, 0.05),
      ),
      cursor: (
         background-color: rgba(white, 0.05),
      ),
      selected: (
         background-color: $cx-default-border-color,
      ),
      selected-cursor: (
         background-color: $cx-default-border-color,
      ),
   )
);
