@forward "cx/src/maps";

@use "sass:color";
@use "sass:map";
@use "./variables" as *;
@use "cx/src/maps" as *;
@use "cx/src/util/scss/deep-merge" as *;
@use "cx/src/util/scss/add-rules" as *;

// =============================================================================
// BUTTON
// =============================================================================
$cx-button-state-style-map: cx-deep-map-merge(
   $cx-button-state-style-map,
   (
      default: (
         box-shadow: null,
      ),
      hover: (
         background-color: $cx-theme-default-highlight-color,
      ),
      active: (
         background-color: $cx-theme-default-highlight-border-color,
         top: null,
      ),
      disabled: (
         color: rgba(255, 255, 255, 0.2),
         background-color: rgba(112, 112, 112, 0.15),
         border-color: transparent,
      ),
      focus: (
         box-shadow: 0 0 1px 1px $cx-theme-default-highlight-color,
      ),
   )
) !default;

$cx-button-mods: cx-deep-map-merge(
   $cx-button-mods,
   (
      primary: (
         default: (
            color: color.adjust(white, $lightness: -15%),
            background-color: $cx-theme-default-primary-button-background-color,
            border-color: transparent,
            box-shadow: inset 0 -1px color.adjust($cx-theme-default-primary-button-background-color, $lightness: 3%),
         ),
         disabled: (
            background-color: color.change($cx-theme-default-primary-button-background-color, $alpha: 0.3),
            border-color: transparent,
            color: color.change(white, $alpha: 0.6),
            box-shadow: none,
         ),
         hover: (
            background-color: color.adjust($cx-theme-default-primary-button-background-color, $lightness: -3%),
            border-color: transparent,
            box-shadow: inset 0 -1px color.adjust($cx-theme-default-primary-button-background-color, $lightness: -1%),
         ),
         active: (
            background-color: color.adjust($cx-theme-default-primary-button-background-color, $lightness: -8%),
            border-color: transparent,
            box-shadow: inset 0 -1px color.adjust($cx-theme-default-primary-button-background-color, $lightness: -8%),
         ),
      ),
      hollow: (
         hover: (
            background-color: rgba(white, 0.05),
            box-shadow: none,
            border-color: rgba(white, 0.075),
         ),
         active: (
            background-color: rgba(white, 0.075),
         ),
      ),
      danger: (
         default: (
            background-color: $cx-theme-default-danger-button-background-color,
            border-color: transparent,
            box-shadow: inset 0 -1px color.adjust($cx-theme-default-danger-button-background-color, $lightness: 1%),
         ),
         disabled: (
            background-color: color.change($cx-theme-default-danger-button-background-color, $alpha: 0.3),
            border-color: transparent,
            color: color.change(white, $alpha: 0.6),
            box-shadow: none,
         ),
         hover: (
            background-color: color.adjust($cx-theme-default-danger-button-background-color, $lightness: -3%),
            border-color: transparent,
            box-shadow: inset 0 -1px color.adjust($cx-theme-default-danger-button-background-color, $lightness: -1%),
         ),
         active: (
            background-color: color.adjust($cx-theme-default-danger-button-background-color, $lightness: -6%),
            border-color: transparent,
            box-shadow: inset 0 -1px color.adjust($cx-theme-default-danger-button-background-color, $lightness: -6%),
         ),
      ),
   )
) !default;

// =============================================================================
// LIST
// =============================================================================
$cx-list: cx-deep-map-merge(
   $cx-list,
   (
      default: (
         scrollbar-width: thin,
      ),
   )
) !default;

$cx-list-item: cx-deep-map-merge(
   $cx-list-item,
   (
      hover: (
         background-color: rgba(white, 0.05),
      ),
      cursor: (
         background-color: rgba(white, 0.05),
      ),
      selected: (
         background-color: $cx-theme-default-border-color,
      ),
      selected-cursor: (
         background-color: $cx-theme-default-border-color,
      ),
   )
) !default;

// =============================================================================
// TAB
// =============================================================================
$cx-tab-state-style-map: cx-deep-map-merge(
   $cx-tab-state-style-map,
   (
      default: (
         border-radius: $cx-default-border-radius,
         padding: 0 8px,
         background-color: null,
         border-color: rgb(24, 26, 30),
         border-style: solid,
         border-width: 1px,
         color: rgb(149, 150, 153),
      ),
      hover: (
         text-decoration: none,
         background-color: $cx-theme-default-highlight-color,
         border-color: $cx-theme-default-highlight-color,
         color: white,
      ),
      cursor: (
         background-color: $cx-theme-default-highlight-color,
         color: white,
         outline: none,
      ),
      selected: (
         background-color: $cx-theme-default-highlight-color,
         border-color: $cx-theme-default-highlight-border-color,
         color: white,
      ),
      selected-cursor: (
         background-color: $cx-theme-default-highlight-color,
      ),
      disabled: (
         background-color: transparent,
      ),
   )
) !default;

$cx-tab-mods: cx-deep-map-merge(
   $cx-tab-mods,
   (
      classic: (
         default: (
            border-bottom-color: transparent,
         ),
      ),
      line: (
         cursor: (
            border-color: white,
         ),
         selected: (
            border-color: white,
         ),
         selected-cursor: (
            border-color: white,
         ),
      ),
   )
) !default;

// =============================================================================
// SECTION
// =============================================================================
$cx-section-mods: cx-deep-map-merge(
   $cx-section-mods,
   (
      card: (
         default: (
            background-color: rgb(22, 23, 26),
            border-width: 1px,
            border-style: solid,
            border-color: $cx-theme-default-border-color,
            border-radius: $cx-default-border-radius + 2px,
         ),
      ),
      warning: (
         default: (
            border-radius: $cx-default-border-radius + 2px,
         ),
      ),
      primary: (
         default: (
            border-radius: $cx-default-border-radius + 2px,
         ),
      ),
      success: (
         default: (
            border-radius: $cx-default-border-radius + 2px,
         ),
      ),
      error: (
         default: (
            border-radius: $cx-default-border-radius + 2px,
         ),
      ),
   )
) !default;

// =============================================================================
// MENU
// =============================================================================
$cx-menu-padding-options: cx-deep-map-merge(
   $cx-menu-padding-options,
   (
      xsmall: 0,
      small: 0 6px,
      medium: 2px 8px,
      large: 4px 10px,
      xlarge: 6px 12px,
   )
) !default;

$cx-menu-list-item: cx-deep-map-merge(
   $cx-menu-list-item,
   (
      default: (
         border: 1px solid transparent,
      ),
   )
) !default;

// =============================================================================
// DROPDOWN
// =============================================================================
$cx-dropdown-styles: cx-deep-map-merge(
   $cx-dropdown-styles,
   (
      border-color: $cx-theme-default-window-border-color,
      border-style: solid,
      border-width: 1px,
   )
) !default;

// =============================================================================
// FORM
// =============================================================================
$cx-input-state-style-map: cx-deep-map-merge(
   $cx-input-state-style-map,
   (
      focus: (
         border-color: $cx-theme-default-border-color,
         box-shadow: 0 0 2px $cx-theme-default-highlight-color,
      ),
      disabled: (
         background: color.adjust($cx-theme-default-border-color, $lightness: -3%),
      ),
   )
) !default;

$cx-std-field-state-style-map: cx-deep-map-merge(
   $cx-input-state-style-map,
   (
      default: (
         background-color: rgb(15, 16, 17),
      ),
   )
) !default;

// =============================================================================
// CALENDAR
// =============================================================================
$cx-calendar-state-style-map: cx-deep-map-merge(
   $cx-calendar-state-style-map,
   (
      hover: (
         border-color: $cx-theme-default-input-border-color,
      ),
      focus: (
         border-color: cx-get-state-rule($cx-input-state-style-map, focus, border-color),
         box-shadow: cx-get-state-rule($cx-input-state-style-map, focus, box-shadow),
      ),
   )
) !default;

$cx-calendar-day-state-style-map: cx-deep-map-merge(
   $cx-calendar-day-state-style-map,
   (
      default: (
         border-width: 1px,
         border-style: solid,
         border-color: transparent,
      ),
      hover: (
         background-color: $cx-theme-default-background-color-dark,
      ),
      hover-focus: (
         background-color: color.adjust($cx-theme-default-highlight-color, $lightness: -12%),
      ),
      selected: (
         background-color: color.adjust($cx-theme-default-highlight-color, $lightness: -6%),
      ),
      selected-focus: (
         background-color: $cx-theme-default-highlight-color,
      ),
      today: (
         background-color: transparent,
         border-color: color.adjust($cx-theme-default-error-color, $lightness: -10%),
      ),
      outside: (
         color: rgba(204, 204, 204, 0.3),
      ),
   )
) !default;

// =============================================================================
// DATE TIME PICKER
// =============================================================================
$cx-wheel-selection-state-style-map: cx-deep-map-merge(
   $cx-wheel-selection-state-style-map,
   (
      default: (
         border-color: transparent,
         background-color: rgba($cx-theme-default-highlight-color, 0.4),
      ),
      active: (
         border-color: transparent,
         background-color: rgba($cx-theme-default-highlight-color-light, 0.5),
      ),
   )
) !default;

// =============================================================================
// CHECKBOX
// =============================================================================
$cx-checkbox-state-style-map: cx-deep-map-merge(
   $cx-checkbox-state-style-map,
   (
      focus: (
         border-color: cx-get-state-rule($cx-input-state-style-map, focus, border-color),
         outline: cx-get-state-rule($cx-input-state-style-map, focus, outline),
         box-shadow: cx-get-state-rule($cx-input-state-style-map, focus, box-shadow),
      ),
      disabled: (
         background: color.adjust($cx-theme-default-border-color, $lightness: -3%),
      ),
   )
) !default;

// =============================================================================
// RADIO
// =============================================================================
$cx-radio-state-style-map: cx-deep-map-merge(
   $cx-radio-state-style-map,
   (
      focus: (
         border-color: cx-get-state-rule($cx-input-state-style-map, focus, border-color),
         outline: cx-get-state-rule($cx-input-state-style-map, focus, outline),
         box-shadow: cx-get-state-rule($cx-input-state-style-map, focus, box-shadow),
      ),
      disabled: (
         background: color.adjust($cx-theme-default-border-color, $lightness: -3%),
      ),
   )
) !default;

// =============================================================================
// TEXTAREA
// =============================================================================
$cx-textarea-state-style-map: cx-deep-map-merge($cx-input-state-style-map, ()) !default;

// =============================================================================
// SLIDER
// =============================================================================
$cx-slider-handle-styles: cx-deep-map-merge(
   $cx-slider-handle-styles,
   (
      default: (
         background-color: color.adjust($cx-theme-default-background-color-light, $lightness: 12%),
         border-color: color.adjust($cx-theme-default-background-color-light, $lightness: 12%),
         box-shadow: none,
      ),
      hover: (
         background-color: color.adjust($cx-theme-default-background-color-light, $lightness: 8%),
         box-shadow: none,
      ),
      focus: (),
      disabled: (),
      active: (
         background-color: color.adjust($cx-theme-default-background-color-light, $lightness: 6%),
         border-color: color.adjust($cx-theme-default-background-color-light, $lightness: 10%),
      ),
   )
) !default;

// =============================================================================
// WINDOW
// =============================================================================
$cx-window-state-style-map: cx-deep-map-merge(
   $cx-window-state-style-map,
   (
      default: (
         background-color: rgb(22, 23, 26),
         border-color: $cx-theme-default-border-color,
         border-style: solid,
         border-width: 1px,
      ),
   )
) !default;

$cx-window-header-state-style-map: cx-deep-map-merge(
   $cx-window-header-state-style-map,
   (
      default: (
         background-color: null,
         color: white,
      ),
   )
) !default;

$cx-window-body-state-style-map: cx-deep-map-merge(
   $cx-window-body-state-style-map,
   (
      default: (
         background: null,
      ),
   )
) !default;

$cx-window-footer-state-style-map: cx-deep-map-merge(
   $cx-window-footer-state-style-map,
   (
      default: (
         background: null,
      ),
   )
) !default;

// =============================================================================
// GLOBALS
// =============================================================================
$cx-element-style-map: cx-deep-map-merge(
   $cx-element-style-map,
   (
      html: (
         background-color: rgb(15, 16, 17),
         font-size: 12px,
         font-weight: 500,
         scrollbar-color: rgb(89, 90, 92) $cx-theme-default-background-color,
         scrollbar-gutter: stable,
         scrollbar-width: thin,
      ),
      a: (
         color: color.adjust(#9faed2, $lightness: -4%),
      ),
   )
) !default;
