// MENU ITEM
$cx-menu-padding-options: cx-deep-map-merge(
   $cx-menu-padding-options,
   (
      xsmall: 0,
      small: 0 6px,
      medium: 2px 8px,
      large: 4px 10px,
      xlarge: 6px 12px,
   )
);

$cx-menu-list-item: cx-deep-map-merge(
   $cx-menu-list-item,
   (
      default: (
         border: 1px solid transparent,
      ),
   )
);
