// tab
$cx-tab-state-style-map: cx-deep-map-merge(
   $cx-tab-state-style-map,
   (
      default: (
         border-radius: $cx-default-border-radius,
         padding: 0 8px,
         background-color: null,
         border-color: rgb(24, 26, 30),
         border-style: solid,
         border-width: 1px,
         color: rgb(149, 150, 153),
      ),
      hover: (
         text-decoration: none,
         background-color: $cx-default-highlight-color,
         border-color: $cx-default-highlight-color,
         color: white,
      ),
      cursor: (
         background-color: $cx-default-highlight-color,
         color: white,
         outline: none,
      ),
      selected: (
         background-color: $cx-default-highlight-color,
         border-color: $cx-default-highlight-border-color,
         color: white,
      ),
      selected-cursor: (
         background-color: $cx-default-highlight-color,
      ),
      disabled: (
         background-color: transparent,
      ),
   )
);

$cx-tab-mods: cx-deep-map-merge(
   $cx-tab-mods,
   (
      classic: (
         default: (
            border-bottom-color: transparent,
         ),
      ),
      line: (
         cursor: (
            border-color: white,
         ),
         selected: (
            border-color: white,
         ),
         selected-cursor: (
            border-color: white,
         ),
      ),
   )
);
