$cx-default-window-background-color: rgb(22, 23, 26) !default;
$cx-default-window-border-color: $cx-default-border-color !default;
$cx-default-window-border-radius: $cx-default-border-radius + 2px !default;
$cx-default-window-header-color: null !default;
$cx-default-window-header-background-color: transparent !default;
$cx-default-window-header-padding: 1rem 1rem 0 1.25rem !default;
$cx-default-window-header-font-size: 14px !default;

$cx-default-window-body-padding: 1rem 1.25rem !default;
$cx-default-window-footer-padding: 0 1.25rem 1.25rem 1.25rem !default;
