@use "./variables.scss" as *;

$cx-element-style-map: (
   html: (
      font-family: $cx-default-font-family,
      font-size: $cx-default-font-size,
      height: 100%,
      background-color: #eee,
   ),
   body: (
      margin: 0,
      padding: 0,
      height: 100%,
      color: $cx-default-color,
   ),
   h1: (
      font-size: 2rem,
      line-height: 1.1,
      margin: 0 0 0.75rem 0,
      font-weight: 500,
   ),
   h2: (
      font-size: 1.75rem,
      line-height: 1.1,
      margin: 0 0 0.5rem 0,
      font-weight: 500,
   ),
   h3: (
      font-size: 1.5rem,
      line-height: 1.1,
      margin: 0 0 0.5rem 0,
      font-weight: 500,
   ),
   h4: (
      font-size: 1.3rem,
      line-height: 1.1,
      margin: 0 0 0.5rem 0,
      font-weight: 500,
   ),
   h5: (
      font-size: 1.15rem,
      line-height: 1.1,
      margin: 0 0 0.5rem 0,
      font-weight: 500,
   ),
   h6: (
      font-size: 1rem,
      line-height: 1.1,
      margin: 0 0 0.5rem 0,
      font-weight: 500,
   ),
   p: (
      margin: 0 0 1rem 0,
   ),
   a: (
      text-decoration: none,
      color: #0275d8,
   ),
   "a:hover": (
      text-decoration: underline,
   ),
   ul: (
      margin: 0 0 1rem 0,
   ),
   ol: (
      margin: 0 0 1rem 0,
   ),
   th: (
      font-weight: 500,
   ),
   text: (
      fill: currentColor,
      stroke: none,
   ),
   table: (
      font-size: inherit,
   ),
) !default;
