@import "call-once";
@import "colors";

$cx-include-all: true !default;

$cx-excluded: () !default;
$cx-only: null !default;

@function cx-exclude($name) {
   $cx-excluded: map_merge($cx-excluded, ($name: true)) !global;
}

@function cx-include($name) {
   @return (($cx-include-all and map-get($cx-excluded, $name) != true) or ($cx-only != null and map-get($cx-only, $name) == true)) and cx-call-once($name);
}