// Load all variables and maps first
@use "./variables" as *;
@use "./maps" as *;

// Load the theme CSS
@use "cx-theme-aquamarine/src/index" as theme;

// Load misc styles
@use "../misc/index" as misc;

// Load docs component and content styles
@use "./app/index" as app;
@use "./components/index" as components;
@use "./content/index" as content;

// Page-level styles
html {
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: "Open Sans", sans-serif;
}

.anchor {
   visibility: hidden;
   display: block;
   position: relative;
   top: -100px;
}

.transition-appear {
   opacity: 0.1;
   transition: opacity 0.2s ease-in;
}

.transition-appear-active {
   opacity: 1;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.flex-row {
   display: flex;
   flex-direction: row;
}

.flex-start {
   align-items: flex-start !important;
}

a {
   color: #b93e8b;
}
