
@mixin cx-flexbox(
   $name: 'flexbox',
   $besm: $cx-besm
) {
   $block: map-get($besm, block);
   $element: map-get($besm, element);
   $state: map-get($besm, state);
   $mod: map-get($besm, mod);

   .#{$block}#{$name} {

      box-sizing: border-box;

      @each $pad, $size in $cx-pad-size
      {
         &.#{$state}#{$pad}-pad {
            padding: $size;
         }

         &.#{$state}#{$pad}-hpad {
            padding-left: $size;
            padding-right: $size;
         }

         &.#{$state}#{$pad}-vpad {
            padding-top: $size;
            padding-bottom: $size;
         }
      }
   }

   .#{$element}#{$name}-flexbox {

      display: flex;

      &.#{$state}column {
         flex-direction: column;
      }

      &.#{$state}row {
         flex-direction: row;
      }

      @each $pad, $size in $cx-pad-size
      {
         &.#{$state}#{$pad}-spacing {
            margin: -$size / 2;

            & > * {
               margin: $size / 2;
            }
         }

         &.#{$state}#{$pad}-hspacing {
            margin-left: -$size / 2;
            margin-right: -$size / 2;

            & > * {
               margin-left: $size / 2;
               margin-right: $size / 2;
            }
         }

         &.#{$state}#{$pad}-vspacing {
            margin-top: -$size / 2;
            margin-bottom: -$size / 2;

            & > * {
               margin-top: $size / 2;
               margin-bottom: $size / 2;
            }
         }
      }

      &.#{$state}align-center {
         align-items: center;
      }

      &.#{$state}align-start {
         align-items: flex-start;
      }

      &.#{$state}align-end {
         align-items: flex-end;
      }

      &.#{$state}align-baseline {
         align-items: baseline;
      }

      &.#{$state}wrap {
         flex-wrap: wrap;
      }

      &.#{$state}justify-center {
         justify-content: center;
      }

      &.#{$state}justify-start {
         justify-content: flex-start;
      }

      &.#{$state}justify-end {
         justify-content: flex-end;
      }

      &.#{$state}target-phone {
         @media not screen and (min-width: $cx-screen-size-small) {
            flex-direction: column;
         }
      }

      &.#{$state}target-tablet {
         @media not screen and (min-width: $cx-screen-size-medium) {
            flex-direction: column;
         }
      }

      &.#{$state}target-desktop {
         @media not screen and (min-width: $cx-screen-size-large) {
            flex-direction: column;
         }
      }
   }
}

@if (cx-include('cx/widgets/FlexBox')) {
   @include cx-flexbox();
}