@use "sass:map";
@use "cx/src/maps" as *;
@use "../../variables.scss" as *;

$cx-dropdown-styles: map-merge(
   $cx-dropdown-styles,
   (
      color: var(--cx-theme-text-color),
      background-color: var(--cx-theme-background-color),
      font-size: var(--cx-theme-font-size),
      font-weight: var(--cx-theme-font-weight),
      border-width: var(--cx-dropdown-border-width),
      border-style: solid,
      border-color: var(--cx-theme-border-color),
      border-radius: var(--cx-theme-border-radius),
      box-shadow: var(--cx-overlay-box-shadow),
   )
);
